<div id="demo-templates">

	<div id="demo-start">
		<p>Hallo en welkom op Seasoning!</p>
		
		<p>
			Ik zie dat dit de eerste keer is dat je ons bezoekt, en dan kan het 
			allemaal nogal een beetje verwarrend zijn. Had je graag een beetje 
			uitleg bij de werking van onze website?
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-1">Ja, graag!</a>
		<a class="btn btn-primary" href="#" data-next="#demo-end">Nee, bedankt</a>
	</div>
	
	<div id="demo-end">
		<p>Moest je je ooit bedenken kan je hier klikken</p>
		
		<a class="btn btn-primary" href="#">Ok</a>
	</div>
	
	
	
	<!-- Basic Intro -->
	<div id="basic-intro-1">
		<p>
			<b>Ok, laten we beginnen!</b>
		</p>
		
		<p>
			Seasoning probeert het voor jou makkelijk te maken elke dag een duurzame keuze te maken voor je eten.
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-2">Volgende</a>
	</div>
	
	<div id="basic-intro-2">
		<p>
			Seasoning berekent voor elk recept een voetafdruk op basis van de ingrediënt 
			die nodig zijn tijdens de bereiding. Deze voetafdruk past zich automatisch aan 
			doorheen het jaar naargelang bepaalde ingrediënten in seizoen zijn of net 
			van heel ver moeten komen.
		</p>
		
		<p>
			Omdat het meestal nog altijd niet erg duidelijk is of een recept met een voetafdruk 
			van 0.6kgCO2/portie nu een duurzame keuze is of niet, delen we vervolgens de recepten 
			op in 5 categoriëen:
		</p>
		
		<ul>
			<li><b>A+</b>: Een zeer duurzaam recept, <b>beter</b> dan 90% van de recepten op Seasoning</li>
			<li><b>A</b>: Een duurzaam recept, <b>beter</b> dan 75% van de recepten op Seasoning</li>
			<li><b>B</b>: Een gemiddeld recept, <b>beter</b> dan 50% van de recepten op Seasoning</li>
			<li><b>C</b>: Een belastend recept, <b>slechter</b> dan 50% van de recepten op Seasoning</li>
			<li><b>D</b>: Een zeer belastend recept, <b>slechter</b> dan 75% van de recepten op Seasoning</li>
		</ul>
		
		<p>
			Kiezen voor een recept van categorie <b>A+</b> in plaats van eentje van <b>D</b> is ongeveer hetzelfde voor het milieu als 300km minder rijden met je wagen<sup>*</sup>
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-3">Volgende</a>
	</div>
	
	<div id="basic-intro-3">
		<p>
			De duurzaamheids categorie van een recept staat hier. Zo kan je in een oogopslag zien welke
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-4">Volgende</a>
	</div>
	
	<div id="basic-intro-4">
		<p>
			Deze knop laat je toe de recepten te sorteren.
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-5">Volgende</a>
	</div>
	
	<div id="basic-intro-5">
		<p>
			Hier kan je dingen intypen om naar recepten met een bepaalde naam te zoeken.
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-6">Volgende</a>
	</div>
	
	<div id="basic-intro-6">
		<p>
			En hier moet je klikken als je een recept wil zien
		</p>
		
		<a class="btn btn-primary" href="#" data-next="#basic-intro-7">Volgende</a>
	</div>
	
	<div id="basic-intro-7">
		<p>Had je graag nog meer uitleg gehad?</p>
		
		
	</div>
</div>