{% load staticfiles %}

<div class="st-container st-effect-1">
	<div class="info-overlay"></div>
	
	<nav class="st-menu st-effect-1" id="menu-1">
		<h2 class="icon icon-lab">Gebruikersgids</h2>
		
		<p>
			Seasoning is een platform voor iedereen die bewust wil omgaan met haar of zijn dagelijkse bereidingen.
		</p>
		<br />
		<p>
			Omdat dit niet altijd even eenvoudig is, bundelt Seasoning alle beschikbare informatie over o.a. het 
			seizoen, de productiewijze en het land van herkomst van de ingredi&euml;nten en geeft de resultaten op een 
			overzichtelijke manier weer.
		</p>
		<br />
		<p>
			Zo wordt het lekker gemakkelijk om een bewuste keuze te maken!
		</p>
		
		<hr>
		
		<p>
			Seasoning berekent voor elk recept een voetafdruk aan de hand van de gebruikte ingredi&euml;nten. Op basis van 
			deze voetafdruk krijgt elk recept vervolgens een waardering gaande van duurzaam (A+) tot niet-duurzaam (D) 
			die maandelijks wordt aangepast aan het seizoen.
		</p> 
		<br>
		
		<div class="fp-cat-wrap clearfix">
			<div class="fp-cat pull-left">
				<span class="recipe-preview-footprint-category category-0">	A+ </span>
			</div>
			<p>
				Recepten van deze categorie hebben een <b>lagere</b> voetafdruk per portie dan <b>90%</b> van de recepten binnen hun maaltijdstype.
			</p>
		</div>
		
		<div class="fp-cat-wrap clearfix">
			<div class="fp-cat pull-left">
				<span class="recipe-preview-footprint-category category-1">	A </span>
			</div>
			<p>
				Recepten van deze categorie hebben een <b>lagere</b> voetafdruk per portie dan <b>75%</b> van de recepten binnen hun maaltijdstype.
			</p>
		</div>
		<div class="fp-cat-wrap clearfix">
			<div class="fp-cat pull-left">
				<span class="recipe-preview-footprint-category category-2">	B </span>
			</div>
			<p>
				Recepten van deze categorie hebben een <b>lagere</b> voetafdruk per portie dan <b>50%</b> van de recepten binnen hun maaltijdstype.
			</p>
		</div>
		
		<div class="fp-cat-wrap clearfix">
			<div class="fp-cat pull-left">
				<span class="recipe-preview-footprint-category category-3">	C </span>
			</div>
			<p>
				Recepten van deze categorie hebben een <b>hogere</b> voetafdruk per portie dan <b>75%</b> van de recepten binnen hun maaltijdstype.
			</p>
		</div>
		
		<div class="fp-cat-wrap clearfix">
			<div class="fp-cat pull-left">
				<span class="recipe-preview-footprint-category category-4">	D </span>
			</div>
			<p>
				Recepten van deze categorie hebben een <b>hogere</b> voetafdruk per portie dan <b>90%</b> van de recepten binnen hun maaltijdstype.
			</p>
		</div>
		
		<hr>
		
		
		<p>	
			Wanneer een recept een speciale eigenschap heeft, wordt dit aangegeven door
			een lintje in de linkerbovenhoek.
		</p>
		<br>
		
		<div class="ribbon-info clearfix">
			<img class="pull-left" src="{% static "recipes/img/corner-ribbon-inseason.png" %}">
			
			<p>
				Als alle seizoensgebonden ingredi&euml;nten van een recept hun duurzaamste niveau bereiken, krijgt 
				het recept een groen 'in seizoen' lintje. 
			</p>
		</div>
		
		<div class="ribbon-info clearfix">
			<img class="pull-right" src="{% static "recipes/img/corner-ribbon-endangered.png" %}">
			
			<p>
				Als het recept ingredi&euml;nten bevat waarbij je extra moet opletten, zoals slechte beheerde visbestanden, 
				krijgt het een rood lintje.
			</p>
		</div>
		
		
		<hr>
		
		<p>
			We pretenderen geen kookwebsite te zijn. Al onze recepten komen van websites van personen die beter kunnen koken 
			dan ons. Seasoning is slechts een portaal dat informatie over duurzaamheid aggregeert. 
		</p>
		
		<p>
			Wil jij jouw recepten ook op Seasoning? Contacteer ons dan via bram [at] seasoning.be!
		</p>
		
		<hr>
		
		<p>Volg ons op deze sociale netwerken:</p>
        <div id="social-icons" class="">
            <a href="http://www.facebook.com/Seasoningbelgium" target="_blank"><img src="{% static "img/logos/fb-logo.png" %}" class="social-logo" title="De Facebookpagina van Seasoning" alt="Onze facebookpagina" /></a>
            <a href="http://www.twitter.com/Seasoningbe" target="_blank"><img src="{% static "img/logos/tw-logo.png" %}" class="social-logo" title="De Twitterpagina van Seasoning" alt="Onze twitterpagina" /></a>
            <a href="https://github.com/SeasoningDev/Seasoning" target="_blank"><img src="{% static "img/logos/gh-logo.png" %}" class="social-logo" title="De Github van Seasoning" alt="Onze github" /></a>
        </div>
        
        <hr>
        
        <div class="row">
        	<div class="col-xs-6">
        		<a class="btn btn-success btn-block" href="{% url "terms" %}">Gebruiksvoorwaarden</a>
        	</div>
        	<div class="col-xs-6">
        		<a class="btn btn-success btn-block" href="{% url "contact" %}">Contact</a>
        	</div>
        </div>
        <br>
        <div class="row">
        	<div class="col-xs-6 col-xs-offset-3">
        		<a class="btn btn-success btn-block" href="{% url "thanks" %}">Dankbetuigingen</a>
        	</div>
        </div>
	</nav>
</div>