{% load staticfiles %}

<a class="recipe-preview-wrapper" href="{% if recipe.external %}{{ recipe.external_url }}" target="_blank{% else %}{% url 'view_recipe' recipe.id %}{% endif %}">
	
	<span class="corner-ribbon">
		{% if recipe.cached_in_season %}
		<img src="{% static "recipes/img/corner-ribbon-inseason.png" %}">
		{% elif recipe.cached_has_endangered_ingredients %}
		<img src="{% static "recipes/img/corner-ribbon-endangered.png" %}">
		{% endif %}
	</span>
 
	<span class="recipe-preview" title="{{ recipe.name }}"
		  style="background-image: url('{% if 'localhost' in request.META.HTTP_HOST %}https://www.seasoning.be/media/{{ recipe.image }}{% else %}{{ recipe.image_thumbnail.url }}{% endif %}')">

		<span class="recipe-preview-source">
			{% if recipe.external %}
			Recept van <i>{{ recipe.external_site.name }}</i>
			{% else %}
			Recept van Seasoning
			{% endif %}
		</span>
		
		<span class="recipe-preview-footprint-category category-{{ recipe.footprint_category }}" onclick="window.open('{% url 'view_recipe_footprint_analysis' recipe.id %}', '_blank');return false;">		
			{{ recipe.get_footprint_category_display }}
		</span>
		
		<span class="recipe-preview-title">
			{{ recipe.name }}
		</span>
		
		<span class="recipe-preview-footprint" onclick="window.open('{% url 'view_recipe_footprint_analysis' recipe.id %}', '_blank');return false;">
				<span class="pull-left">Voetafdruk</span>
				<span class="pull-right">{{ recipe.cached_footprint|floatformat:2 }} kgCO<sub>2</sub></span>
		</span>
	</span>
</a>