<a class="recipe-preview-wrapper" href="{{ recipe.external_url }}" target="_blank">
 
	<span class="recipe-preview" title="{{ recipe.name }}"
		  style="background-image: url('https://seasoning.be/media/{{ recipe.image }}')">

		<span class="recipe-preview-title">
			{{ recipe.name }}
		</span>
		
		<span class="recipe-preview-fp-cat">
			<span class="pull-left">Voetafdruk</span>
			<span class="pull-right">{{ recipe.normalized_footprint|floatformat:2 }} kgCO<sub>2</sub></span>
		</span>
	</span>
</a>