<p>Beste gebruiker,</p>

<p>
	U hebt zonet een contactformulier verstuurd op Seasoning met de volgende gegevens:
</p>

<p>
<strong>Onderwerp:</strong> {{ subject }}
</p>

<p>
<strong>Boodschap:</strong>
</p>

<p>
{{ message }}
</p>

<p></p>

<p style="margin-top: 40px;">
Wij proberen dit bericht zo spoedig mogelijk te behandelen!
</p>

<p>
Bedankt voor uw geduld,<br />
Het Seasoning Team
</p>

<p style="margin-top:50px; text-align: center; font-size: 12px;">
Denk aan het milieu. Druk deze mail niet onnodig af.
<br /><br />
Dit is een automatisch gegenereerde email. Gelieve er niet op te antwoorden.
</p>