{{ ing_formset.management_form }}
<div id="ingredients" class="col-xs-12">
	
	{% for ing_form in ing_formset %}
	<div class="ingredient row">
		<span class="ingredient-id" style="display:none;">{{ ing_form.id }}</span>
		<div class="panel panel-default col-xs-12">
			
			<div class="edit-ingredient panel-heading row">
				<h4 class="panel-title">
					<span class="edit-ingredient-name field-changer col-xs-12 col-sm-4 text-center-xs">
						<span class="group-editable-field" default="(Naam van het ingrediënt)">{{ ing_form.instance.ingredient_display }}</span>
						{{ ing_form.ingredient }}
					</span>
					<span class="col-xs-12 col-sm-1" style="height:10px;"></span>
					<span class="edit-ingredient-amount field-changer col-xs-5 col-sm-3" style="text-align:right;">
						<span class="group-editable-field" default="(Hoeveelheid)">{{ ing_form.instance.amount }}</span>
						{{ ing_form.amount }}
					</span>
					<span class="edit-ingredient-unit field-changer col-xs-5 col-sm-3">
						<span class="group-editable-field" default="(Eenheid)">{{ ing_form.instance.unit }}</span>
						{{ ing_form.unit }}
					</span>
					<span class="edit-ingredient-remove col-xs-2 col-sm-1 text-right">
						<a class="delete-button" href="#" title="Verwijder dit ingrediënt">
							<img src="/static/img/icons/delete.png" height="32px;"/>
							{{ ing_form.DELETE }}
						</a>
					</span>
					<br class="clear" />
				</h4>
			</div>
		</div>
	</div>
	{% endfor %}
	
	{% with ing_form=ing_formset.empty_form %}
	<div class="ingredient row empty-form">
		<span class="ingredient-id" style="display:none;">{{ ing_form.id }}</span>
		<div class="panel panel-default col-xs-12">
			<div class="edit-ingredient panel-heading row">
				<h4 class="panel-title">
					<span class="edit-ingredient-name field-changer col-xs-12 col-sm-4 text-center-xs">
						<span class="group-editable-field" default="(Naam van het ingrediënt)"></span>
						{{ ing_form.ingredient }}
					</span>
					<span class="col-xs-12 col-sm-1" style="height:10px;"></span>
					<span class="edit-ingredient-amount field-changer col-xs-5 col-sm-3" style="text-align:right;">
						<span class="group-editable-field" default="(Hoeveelheid)"></span>
						{{ ing_form.amount }}
					</span>
					<span class="edit-ingredient-unit field-changer col-xs-5 col-sm-3">
						<span class="group-editable-field" default="(Eenheid)"></span>
						{{ ing_form.unit }}
					</span>
					<span class="edit-ingredient-remove col-xs-2 col-sm-1 text-right">
						<a class="delete-button" href="#" title="Verwijder dit ingrediënt">
							<img src="/static/img/icons/delete.png" height="32px;"/>
							{{ ing_form.DELETE }}
						</a>
					</span>
					<br class="clear" />
				</h4>
			</div>
		</div>
	</div>
	{% endwith %}
</div>