{% load future %}
<input id="recipe-total-footprint" type="hidden" value="{{ total_footprint }}" />
{% regroup usess by group as groups %}
{% for group in groups %}
{% if group.grouper %}
<h4>{{ group.grouper }}</h4>
{% elif forloop.counter > 1 %}
<h4>Overige ingrediënten</h4>
{% endif %}
<div class="ingredient-group">
	{% for uses in group.list %}
	<div class="ingredient row">
		<span class="ingredient-id" style="display:none;">{{ uses.ingredient.id }}</span>
		<div class="panel panel-default col-xs-12">
		    <div class="panel-heading row" role="tab" id="heading{{ forloop.counter0 }}">
			    <h4 class="panel-title">
			    	<span class="col-xs-6 col-sm-5">
					    {{ uses.amount|floatformat:"-2" }}{% if uses.unit.name_needed %}{% if uses.amount == 1 %} {{ uses.unit.short }}{% else %} {{ uses.unit.short_plural }}{% endif %}{% endif %}  
						<span class="ingredient-name">
							<a href="{% url 'view_ingredient' uses.ingredient.id %}">
								{% if uses.amount == 1 or not uses.ingredient.plural_name %}
								{{ uses.ingredient.name }}
								{% else %}
								{{ uses.ingredient.plural_name }}
								{% endif %}
							</a>
							{% if uses.ingredient.coming_from_endangered %}
							<img class="endangered-icon" src="{{ STATIC_URL }}img/icons/attention.png" title="Opgelet! Deze vissoort wordt mogelijk slecht beheerd in bepaalde gebieden. Klik hier voor meer informatie." />
							{% endif %}
						</span>
					</span>
					<span class="col-xs-6 col-sm-1 pull-right text-right">
						<a class="collapsed ingredient-moreinfo-link" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
				    	    <span class="more glyphicon glyphicon-plus"></span>
				    	    <span class="less glyphicon glyphicon-minus" style="display:none;"></span>
				        </a>
				    </span>
				    <span class="col-xs-12 col-sm-6 pull-right text-right">
						<span class="ingredient-footprint pull-right">
							<span class="footprint-number">{{ uses.footprint|floatformat:"2" }}</span> kgCO<sub>2</sub>
						</span>
				        <span class="footprint-percentage-bar progress progress-striped">
							<span class="percentage-number">10%</span>
							<span class="progress-bar progress-bar-danger pull-right" style="width: 0%">
							</span>
						</span>
					</span>
			    </h4>
			</div>
			<div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse row" role="tabpanel" aria-labelledby="heading{{ forloop.counter0 }}">
				<div class="moreinfo panel-body">
			    	{% include "includes/big-ajax-loader.html" %}
			    </div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}


<div class="col-xs-12 col-sm-6 col-sm-offset-5" style="margin-top: 10px;margin-bottom: 50px;">
	<h4 class="pull-right" style="font-size:18px;">{{ total_footprint|floatformat:2 }} kgCO<sub>2</sub></h4>
	<h4 style="font-size:18px;">Totale voetafdruk: </h4>
</div>