{% regroup usess by group as groups %}
{% for group in groups %}
{% if group.grouper %}
<h4>{{ group.grouper }}</h4>
{% elif forloop.counter > 1 %}
<h4>Overige ingrediënten</h4>
{% endif %}
{% for uses in group.list %}
<div class="ingredient {% cycle "dark-row" "" %}">
    <span class="ingredient-id" style="display:none;">{{ uses.ingredient.id }}</span>
	<span class="ingredient-left">
		<span class="ingredient-name">
			<a href="/ingredients/{{ uses.ingredient.id }}/">{{ uses.ingredient.name }}</a>
		</span>
		<span class="ingredient-amount">
			{{ uses.amount|floatformat:"-2" }} {{ uses.unit.short_name}}
		</span>
	</span>
	<span class="ingredient-right">
		<span class="ingredient-moreinfo-button">
		    <a class="ingredient-moreinfo-link" href="#" title="Meer informatie over dit ingrediënt">
	           <img src="/static/img/icons/add.png" />
	        </a>
		</span>
		<span class="ingredient-footprint">
			<span class="footprint-number">{{ uses.footprint|floatformat:"-2" }}</span> kgCO2
		</span>
        <div class="footprint-percentage">
            <span class="percentage-number"> </span>
            <div class="footprint-fill"> </div>
        </div>
	</span>
	<br class="clear" />
    <div class="moreinfo">{% include "includes/big-ajax-loader.html" %}</div>
</div>
{% endfor %}
{% endfor %}
