<div class="col-xs-12 col-sm-6 col-md-3">
	<a class="recipe-summary-link" href="{% url 'view_recipe' recipe.id %}">
		{% if recipe.endangered %}
		<img class="corner-ribbon" src="{{ STATIC_URL }}img/decoration/corner-ribbon-endangered.png" title="Opgelet! Dit recept bevat een vissoort die mogelijk overbevist wordt."/>
		{% elif recipe.inseason %}
		<img class="corner-ribbon" src="{{ STATIC_URL}}img/decoration/corner-ribbon-inseason.png" title="Dit recept is momenteel in seizoen!" />
		{% endif %}
		<div class="recipe-summary" title="{{ recipe.name }}">
		    <img alt="{{ recipe.name }}" src="{{ recipe.thumbnail.url }}" />
		    <span class="recipe-title">
		        <!-- <span class="footprint-cloud" title="Dit recept heeft een voetafdruk van {{ recipe.normalized_footprint|floatformat:2 }} kgCO2 per 4 porties">
		        	<span class="footprint-cloud-text">
		        		{{ recipe.normalized_footprint|floatformat:-2 }}
		        	</span>
		        </span> -->
		        <img class="fp-category-ribbon"
		        	 src="{{ STATIC_URL }}img/decoration/{{ recipe.fp_category.get_ribbon_image_name }}"
		             title="{{ recipe.fp_category.extra_info }}" />
		        <span class="title">
		            <h3>
		                {{ recipe.name|truncatechars:50 }}
		            </h3>
		        </span>
		    </span>
		    <span class="recipe-description">
		        {{ recipe.description|truncatewords:10 }}
		    </span>
		    <span class="recipe-meta-inf">
		        <span class="recipe-time">{{ recipe.total_time }} min</span>
		    </span>
		</div>
	</a>
</div>