{% extends "base.html" %}
{% load addcss %}

{% block title %}Recepten{% endblock %}

{% block extra_link %}
<!-- Custom Fonts -->
{% if LOCAL_TEST %}
<link href='{{ STATIC_URL }}dev/LobsterTwo.css' rel='stylesheet' type='text/css'>
{% else %}
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
{% endif %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/forms.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/browse_recipes.js"></script>
<script src="{{ STATIC_URL }}js/ajax_content_loader.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script>
$(function() {
	$("#browse-recipe-summaries-wrapper").ajax_load({
		ajax_url: '{% url "ajax_browse_recipes" %}',
		form: $("#{{ search_form_id }}"),
		page_field_to_update: $("#id_page"),
		loader_element: $("#recipes-ajax-loader"),
		no_more_data_element_to_show: $("#recipes-ajax-done"),
		no_results_element_to_show: $("#recipes-ajax-noresults"),
		continue_ask_after_reloads: 5,
		continue_ask_element_to_show: $("#recipes-ajax-more"),
	});
	$("#id_search_string").focus();
});
</script>
<style>
body {
	background-color: #f4f4f4;
}
</style>
{% endblock %}

{% block recipes-active %}active{% endblock %}

{% block before-content %}
<form id="{{ search_form_id }}" class="keywords" action="" method="post">
	{% csrf_token %}
	
	{{ search_form.page }}
	
	{{ search_form.advanced_search.as_hidden }}
	
	{{ search_form.sort_order.as_hidden }}
	
	{{ include_ingredients_formset.management_form }}
	{{ exclude_ingredients_formset.management_form }}
	            
	
	<div id="base-recipe-search-container">
		<div id="base-recipe-search" class="navbar-form">
			{{ search_form.search_string|addcss:"class,form-control" }}
	    </div>
	</div>
	
	<div class="cd-tab-filter-wrapper">
		
		<a href="#0" class="cd-filter-trigger">Geavanceerd Zoeken</a>
		
		<div class="cd-tab-filter">
			<ul class="cd-filters">
				{% for sort_field, sort_field_display in search_form.fields.sort_field.choices %}
					{% if search_form.sort_field.value == sort_field %}
					<li class="placeholder">
						<a href="#0" data-type="all">{{ sort_field_display|safe }}</a>
					</li>
					{% endif %}
				{% endfor %}
				
				{% for sort_field, sort_field_display in search_form.fields.sort_field.choices %}
					<li class="filter">
						<a {% if search_form.sort_fields.value == sort_field %}class="selected"{% endif %}href="#0" data-type="all">{{ sort_field_display|safe }}</a>
					</li>
				{% endfor %}
			</ul> <!-- cd-filters -->
			{{ search_form.sort_field }}
		</div> <!-- cd-tab-filter -->
	</div> <!-- cd-tab-filter-wrapper -->
	
	<section id="browse-recipe-summaries-wrapper" class="cd-gallery">
		
	</section>
	
	<div class="cd-filter">
		<div class="cd-filter-block">
			<h4>Speciale Eigenschappen</h4>
			<ul class="cd-filter-content cd-filters list">
				<li>
					<input id="spec-check-1" class="filter" type="checkbox" data-filter=".spec-check-1">
					<label class="checkbox-label" for="spec-check-1">Enkel In Seizoen</label>
				</li>
				<li>
					<input id="spec-check-2" class="filter" type="checkbox" data-filter=".spec-check-2">
					<label class="checkbox-label" for="spec-check-2">Geen Overbevissing</label>
				</li>
			</ul>
		</div>
	
		<div class="cd-filter-block">
			<h4>Voedingswijze</h4>
			<ul class="cd-filter-content cd-filters list">
				<li>
					<input id="radio1" class="filter" type="radio" checked="" name="radioButton" data-filter="">
					<label class="radio-label" for="radio1">Veganistisch</label>
				</li>
				<li>
					<input id="radio2" class="filter" type="radio" checked="" name="radioButton" data-filter="">
					<label class="radio-label" for="radio2">Vegetarisch</label>
				</li>
				<li>
					<input id="radio3" class="filter" type="radio" checked="" name="radioButton" data-filter="">
					<label class="radio-label" for="radio3">Niet-vegetarisch</label>
				</li>
			</ul>
		</div>	
	
		<div class="cd-filter-block">
			<h4>Gewenste Ingrediënten</h4>
			<div class="cd-filter-content">
				<input data-toggle="toggle" data-on="Minstens één" data-off="Allemaal" type="checkbox" checked="checked">
				<input type="search" placeholder="Voer Ingrediënten in...">
			</div>
		</div>
		
		<div class="cd-filter-block">
			<h4>Ongewenste Ingrediënten</h4>
			<div class="cd-filter-content">
				<input type="search" placeholder="Voer Ingrediënten in...">
			</div>
		</div>
		
		<div class="cd-filter-block">
			<h4>Type Maaltijd</h4>
			<ul class="cd-filter-content cd-filters list">
				{% for value,option in search_form.fields.course.choices %}
				<li>
					<input id="course-check-{{ forloop.counter }}" class="filter" type="checkbox" data-filter=".check1">
					<label class="checkbox-label" for="course-check-{{ forloop.counter }}">{{ option }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="cd-filter-block">
			<h4>Keuken</h4>
			<ul class="cd-filter-content cd-filters list">
				{% for value,option in search_form.fields.cuisine.choices %}
				<li>
					<input id="cuis-check-{{ forloop.counter }}" class="filter" type="checkbox" data-filter=".check1">
					<label class="checkbox-label" for="cuis-check-{{ forloop.counter }}">{{ option }}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		<a class="cd-close" href="#0">Geavanceerd Zoeken Verbergen</a>
	</div>
	<!-- 
	<div id="advanced-search-options">
		<p>
			Deze functie is in ontwikkeling en bijgevolg momenteel nog niet beschikbaar. Onze excuses!
		</p>
		<a onclick='$("#advanced-search-options").slideToggle(500);return false;'>Geavanceerd Zoeken verbergen</a>
	</div>
	
	<div id="recipe-search-results-container">
		<div id="browse-recipe-summaries-wrapper" class="summaries-wrapper">
		</div>
				
		<div id="recipes-ajax-loader" style="clear: both; text-align: center; padding-top: 20px;">
			<div>
				{% include "includes/ajax-loader.html" %}
			</div>
			Recepten laden...
		</div>
		
		<div id="recipes-ajax-more" style="clear: both; text-align: center; display: none; height: 100px;">
			<a class="btn btn-success" href="#">Meer recepten tonen</a>
		</div>
				
		<div id="recipes-ajax-done" style="clear: both; text-align: center; display: none;">
			<a class="btn btn-success" href="#{{ search_form_id }}">Terug naar boven</a>
		</div>
			
		<div id="recipes-ajax-noresults" style="clear: both; text-align: center; display: none; height: 60px;">
			Je zoekopdracht heeft geen resultaten opgeleverd...
		</div>
	</div>
		    -->
	<br class="clear" />
</form>

{% endblock %}
