{% extends "base.html" %}

{% block title %}Recepten{% endblock %}

{% block extra_link %}
<!-- Custom Fonts -->
{% if LOCAL_TEST %}
<link href='{{ STATIC_URL }}dev/LobsterTwo.css' rel='stylesheet' type='text/css'>
{% else %}
<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
{% endif %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/forms.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/browse_recipes.js"></script>
<script src="{{ STATIC_URL }}js/ajax_content_loader.js"></script>
<script>
$(function() {
	$("#browse-recipe-summaries-wrapper").ajax_load({
		ajax_url: '{% url "ajax_browse_recipes" %}',
		form: $("#{{ search_form_id }}"),
		page_field_to_update: $("#id_page"),
		loader_element: $("#recipes-ajax-loader"),
		no_more_data_element_to_show: $("#recipes-ajax-done"),
		no_results_element_to_show: $("#recipes-ajax-noresults"),
		continue_ask_after_reloads: 5,
		continue_ask_element_to_show: $("#recipes-ajax-more"),
	});
	$("#id_search_string").focus();
});
</script>
{% endblock %}

{% block recipes-active %}active{% endblock %}

{% block before-content %}
<form id="{{ search_form_id }}" class="keywords" action="" method="post">
	{% csrf_token %}
	
	{{ search_form.page }}
	
	{{ search_form.advanced_search.as_hidden }}
	
	{{ search_form.sort_order.as_hidden }}
	
	{{ include_ingredients_formset.management_form }}
	{{ exclude_ingredients_formset.management_form }}
	            
	
	<div id="base-recipe-search-container">
		<div id="base-recipe-search" class="navbar-form">
			<span style="position:relative">
				<input id="id_search_string" class="form-control" placeholder="Zoek Recepten" type="text" name="search_string">
				<button id="keywords-submit" class="nochrome" type="submit">
					<span class="submit-icon"> </span>
				</button>
			</span>
	    </div>
	</div>
	
	<div id="recipe-search-options">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="row text-center">
						<a class="col-xs-12 col-sm-4 btn" onclick='$("#id_sort_field").click();return false;'>
							Sorteren op
							{{ search_form.sort_field }}
						</a>
						<a class="col-xs-12 col-sm-4 btn" onclick='$("#advanced-search-options").slideToggle(500);return false;'>Geavanceerd Zoeken</a>
						<a href="{% url 'add_recipe' %}" class="col-xs-12 col-sm-4 btn">Recept Toevoegen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="advanced-search-options">
		<p>
			Deze functie is in ontwikkeling en bijgevolg momenteel nog niet beschikbaar. Onze excuses!
		</p>
		<a onclick='$("#advanced-search-options").slideToggle(500);return false;'>Geavanceerd Zoeken verbergen</a>
	</div>
	
	<div id="recipe-search-results-container">
		<div id="browse-recipe-summaries-wrapper" class="summaries-wrapper">
		</div>
				
		<div id="recipes-ajax-loader" style="clear: both; text-align: center; padding-top: 20px;">
			<div>
				{% include "includes/ajax-loader.html" %}
			</div>
			Recepten laden...
		</div>
		
		<div id="recipes-ajax-more" style="clear: both; text-align: center; display: none; height: 100px;">
			<a class="btn btn-success" href="#">Meer recepten tonen</a>
		</div>
				
		<div id="recipes-ajax-done" style="clear: both; text-align: center; display: none;">
			<a class="btn btn-success" href="#{{ search_form_id }}">Terug naar boven</a>
		</div>
			
		<div id="recipes-ajax-noresults" style="clear: both; text-align: center; display: none; height: 60px;">
			Je zoekopdracht heeft geen resultaten opgeleverd...
		</div>
	</div>
		    
	<br class="clear" />
</form>

{% endblock %}
