{% extends "base.html" %}
{% load compressed %}
{% load markdown_filter %}

{% block meta_description %}{{ recipe.description }}{% endblock %}

{% block title %}Edit Recipe{% endblock %}

{% block extra_script %}
	<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jssor_slider/jssor.slider.mini.js"></script>
	<script src="{{ STATIC_URL }}js/edit_recipe.js"></script>
	<script src="{{ STATIC_URL }}js/highcharts.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content-container %}
<div id="recipe-container">
	<form id="edit-recipe-form" action="{% url 'ajax_edit_recipe' recipe.id %}" method="post">
		{% csrf_token %}
		<div id="recipe-header-container">
			<div id="recipe-header">
				<h1 id="recipe-name" class="recipe-image-overlay">
					<span class="editable-field" default="(Naam van het Recept)">{{ recipe.name }}</span>
					{{ form.name }}
				</h1>
		    
		    	<div id="recipe-images" style="position: relative; width: 960px;
		        	 height: 460px; background: #a2a2a2; overflow: hidden;">
	
			        <!-- Loading Screen -->
			        <div class="loading" u="loading" style="position: absolute; top: 0px; left: 0px;">
			            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
			                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
			            </div>
			            <div style="position: absolute; display: block; background: url('http://www.theratchetshop.com/skin/frontend/default/default/images/ajaxcart/loading.gif') no-repeat center center;
			                top: 50%; left: 50%;width: 30px;height:30px;">
			            </div>
			        </div>
			
			        <!-- Slides Container -->
			        <div u="slides" style="cursor: move; position: absolute; left: 0; top: 0; width: 960px; height: 460px; overflow: hidden;">
					    {% for image in recipe.images.all %}
			            <div>
			            	<img class="recipe-image" u="image" src="{{ image.small_image.url }}" />
			                <img u="thumb" src="{{ image.thumbnail.url }}" />
			            </div>
			            {% empty %}
			            <div>
			            	<img class="recipe-image" u="image" src="{{ MEDIA_URL }}images/recipes/no-image.png" />
			                <img u="thumb" src="{{ MEDIA_URL }}images/recipes/no-image.png" />
			            </div>
			            {% endfor %}
			        </div>
			        
			        <!-- Thumbnail Navigator Skin Begin -->
			        <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 960px; height: 50px; left:0px; bottom: 80px;">
			        
			            <div u="slides" style="cursor: move;">
			                <div u="prototype" class="p" style="position: absolute; width: 42px; height: 42px; top: 0; left: 0;">
			                    <div class=w><thumbnailtemplate style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
			                    <div class=c>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <!-- Thumbnail Navigator Skin End -->
			        <!-- Trigger -->
			        <script>
			      //Image Slider starting function
			        jssor_slider1_starter = function (containerId) {
			        	var options = {
			        			$AutoPlay: false,                                   //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
			        			$SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
	
			        			$ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
			        				$Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
			        				$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
	
			        				$ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
			        				$SpacingX: 8,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
			        				$DisplayPieces: 10,                             //[Optional] Number of pieces to display, default value is 1
			        				$ParkingPosition: 360                           //[Optional] The offset position to park thumbnail
			        			}
			        	};
	
			        	var jssor_slider1 = new $JssorSlider$(containerId, options);
			        };
			        jssor_slider1_starter('recipe-images');
			        </script>
			    </div>
			    <br class="clear" />
				
				<div id="graphic-information" class="recipe-image-overlay">
					<div id="veganism" class="graphic-information-icon">
						{% if recipe.veganism == 2 %}
				    	<img src="{{ STATIC_URL }}img/icons/vegan.png" title="Dit is een veganistisch recept" alt="" />
				        {% elif recipe.veganism == 1 %}
				    	<img src="{{ STATIC_URL }}img/icons/vegetarian.png" title="Dit is een vegetarisch recept" alt="" />
				        {% elif recipe.veganism == 0 %}
				    	<img src="{{ STATIC_URL }}img/icons/non-vegetarian.png" title="Dit is een niet-vegetarisch recept" alt="" />
				    	{% endif %}
				    </div>
					<div id="fp-category" class="graphic-information-icon">
						<img src="{{ STATIC_URL }}img/decoration/{{ recipe.fp_category.get_ribbon_image_name }}" 
						     title="{{ recipe.fp_category.extra_info }}"/>
					</div>
					<div id="recipe-footprint" class="graphic-information-icon">
						<img src="{{ STATIC_URL }}img/decoration/footprint.png" title="Dit recept heeft een voetafdruk van {{ recipe.footprint|floatformat:2 }} kgCO&#8322; per portie."/>
						<span id="recipe-footprint-text" class="text-overlay" title="Dit recept heeft een voetafdruk van {{ recipe.footprint|floatformat:2 }} kgCO&#8322; per portie.">{{ recipe.footprint|floatformat:2 }}</span>
					</div>
					<div id="recipe-duration" class="graphic-information-icon">
						<img src="{{ STATIC_URL }}img/decoration/clock.png" />
						<span id="recipe-footprint-text" class="text-overlay" title="Dit recept duurt {{ recipe.total_preparation_time }} minuten om klaar te maken (waarvan je {{ recipe.active_time }} minuten actief bezig zal zijn).">{{ recipe.total_preparation_time }}</span>
					</div>
					<div id="recipe-upvotes" class="graphic-information-icon">
						<div style="position: relative; display: inline-block; width: 60px; height: 100%;">
							<div id="upvote-count" class="upvote-bubble">{{ recipe.upvotes }}</div>
							<a id="upvote-button" href="{% url 'login' %}?next={{ request.get_full_path }}"><img src="{{ STATIC_URL }}img/icons/lekker.png" style="position: absolute; left: 0; bottom: 0; width: 60px; height: auto;"/></a>
							
						</div>
					</div>
					<br class="clear" />
				</div>
			</div>
		</div>
		
		{{ form.active_time }}
		{{ form.passive_time }}
			
		<div id="content-container" class="container">
	    	{% block messages %}
	        {% if messages %}
	        <ul class="messages">
	        	{% for message in messages %}
	            <li class="{{ message.tags }}">
	            	{{ message }}
	            </li>
	            {% endfor %}
			</ul>
	        {% endif %}
	        {% endblock %}
	    </div>
	                
	    <h2>
	      	<span>Ingrediënten</span>
		</h2>
		
	    <div>  	
	       	<div id="portions-changer" class="edit">
	       		<h3>Porties</h3>
	       		<span id="portions-changer-input" class="editable-field">{{ recipe.portions }}</span>
	       		{{ form.portions }}
	       		<br class="clear" />
	       	</div>
		</div>
		   
		<div id="ingredients-wrapper" class="container">
			<div id="ingredients">
			</div>
			<div id="ingredients-darkener">
		      	<span id="ingredients-loader">
		       		{% include "includes/big-ajax-loader.html" %}
		       	</span>
	       	</div>
		</div>
			        
		<div id="extra-info" class="container">
			<h4>Extra info en benodigdheden</h4>
		    <div class="editable-field" style="padding-top: 5px; padding-bottom: 5px;"
		         default="(Extra informatie en benodigdheden voor de bereiding van het recept)">
		       	{{ recipe.extra_info|linebreaks }}
		    </div>
		    {{ form.extra_info }}
		</div>
			        
			        
		<h2>
		   	<span>Bereiding</span>
		</h2>
			        
		<div id="instructions-container" class="container markdown-container">
			<div id="instructions-warning">
				Opgelet! De onderstaande instructies zijn opgesteld voor {{ recipe.portions }} porties. Je hebt het aantal porties aangepast waardoor het mogelijk
			    is dat deze instructies niet meer volledig accuraat zijn. Hou hier rekening mee.
			</div>
			
			<div id="instructions" class="editable-field">
				{{ recipe.instructions|markdown|safe }}
			</div>
			{{ form.instructions }}
		</div>
		
		<div class="edit-recipe-buttons">
			<a class="accept-button" href="#"><img src="{{ STATIC_URL }}img/icons/accept.png" /></a>
			<a class="reject-button" href="#"><img src="{{ STATIC_URL }}img/icons/decline.png" /></a>
		</div>
	</form>
</div>	

{% endblock %}
