{% extends "recipes/edit_recipe_base.html" %}

{% block extra_script %}
{{ block.super }}
<script src="/static/js/edit_recipe_ingredients.js" type="text/javascript"></script>
<script src="/static/js/forms.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$("#request_ings-button").click(function() {
			$("#id_ingredients-ingredients_general_info-request_unknown_ingredients").val("True");
		});
        	
		$(".spinner-wrapper input").spinner({
			min: 1,
		});
		
		$("#ingredient-help-button").click(function() {
			$helpbox = $("#edit-recipe #ingredient-field .message");
			if ($helpbox.is(":visible")) {
				$helpbox.slideUp(500);
			} else {
				$helpbox.slideDown(500);
			}
			return false;
		});
	}); 
</script>
{% endblock %}

{% block recipe-form %}

<p id="ingredients-intro">
    Hier geef je meer informatie op over de ingrediënten die gebruikt worden in je recept.
</p>

{% if wizard.form.ingredients.unknown_ingredients %}
{% if wizard.form.ingredients_general_info.request_unknown_ingredients.value %}
{{ wizard.form.ingredients_general_info.request_unknown_ingredients.as_hidden }}
{% else %}
<div class="message">
    <strong>Opgelet!</strong>

    <p>
        Je hebt bij het aanmaken van je recept volgende ingrediënten gebruikt die niet of onvolledig in de databank van Seasoning
        zitten:
    </p>

    <ul>
        {% for unknown_ingredient in wizard.form.ingredients.unknown_ingredients %}
        <li>
            {{ unknown_ingredient.name }}
        </li>
        {% endfor %}
    </ul>

    <p>
        Dit betekent dat je recept niet zichtbaar zal zijn voor andere gebruikers. Dit kan je op 2 manieren oplossen:
    </p>

    <ul>
        <li>
            De ingrediënten in kwestie vervangen door ingrediënten die wel in de databank zitten. Probeer eens een andere
            naam voor het ingrediënt op te geven.
        </li>
        <li>
            De ingrediënten aanvragen. Als je deze optie kiest, zullen we de ingrediënten die jij mist zo snel mogelijk proberen
            toe te voegen aan de databank. Hou er rekening mee dat dit niet altijd even simpel of snel kan gebeuren. Zolang wij
            de ingrediënten niet toegevoegd hebben, blijft je recept onzichtbaar voor andere gebruikers.
        </li>
    </ul>

    <div>
        Wil je deze ingrediënten aanvragen?
    </div>

    {{ wizard.form.ingredients_general_info.request_unknown_ingredients.as_hidden }}
    <button id="request_ings-button" value="request_ingredients" type="submit" name="request_ingredients">
        Ingrediënten aanvragen
    </button>
</div>
{% endif %}
{% endif %}

<p class="aligned">
    <label>{{ wizard.form.ingredients_general_info.portions.label }}*</label>
    <span class="spinner-wrapper">
        {{ wizard.form.ingredients_general_info.portions }}
    </span>
    <span class="tooltip">{{ wizard.form.ingredients_general_info.portions.help_text }}</span>
</p>
{{ wizard.form.ingredients_general_info.portions.errors }}

<p>
    <label>{{ wizard.form.ingredients_general_info.extra_info.label }}</label>
    {{ wizard.form.ingredients_general_info.extra_info }}
    <span class="tooltip">{{ wizard.form.ingredients_general_info.extra_info.help_text }}</span>
</p>
{{ wizard.form.ingredients_general_info.extra_info.errors }}

<div id="ingredient-field" class="field-wrapper tooltip-field">
    <label>Ingrediënten<a href="#" id="ingredient-help-button"><img src="{{ STATIC_URL }}img/icons/information.png" /></a></label>
    
    <div class="message">
	    <p id="first-ing-instr">
	        Hier moet uitleg komen over hoe je juist ingrediënten toevoegd. Omdat we dat nog niet hebben:
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate justo non lorem hendrerit sollicitudin. 
	    </p>
	    <p>
	        Nullam bibendum felis lectus, a pulvinar metus tincidunt ut. Nam eu ipsum laoreet enim gravida tincidunt. Morbi nec laoreet eros. Etiam eleifend sed lacus sit amet facilisis. Quisque placerat urna est, ut rhoncus purus ornare at. Fusce eget nibh eu lectus condimentum aliquet. Suspendisse sit amet lacinia erat. 
	    </p>
	    <p>
	        Vivamus elit velit, suscipit et ante sed, ultrices interdum lectus. Phasellus nec justo placerat, semper lectus nec, vulputate urna. Ut tristique lectus ut sem egestas vehicula. Donec est sapien, rhoncus a volutpat viverra, cursus sed est. Sed eu mauris arcu. Pellentesque laoreet sodales mollis. Vestibulum congue risus eu purus ullamcorper adipiscing. Proin lobortis blandit congue. 
	    </p>
    </div>

    {% if wizard.form.ingredients.non_form_errors %}
    <br style="margin-top: 20px;" />
    {{ wizard.form.ingredients.non_form_errors }}
    {% endif %}

    <div id="uses-formset" class="formset">
        {% regroup wizard.form.ingredients by group.value as usesingredient_groups %}
        {{ wizard.form.ingredients.management_form }}
        <ul id="sortable-ingredients">
            <li class="column-labels sorting-disabled">
                <span class="name-label">Naam</span>
                <span class="amount-label">Hoeveelheid</span>
                <span class="unit-label">Eenheid</span>
                <span class="delete-label">Verwijderen</span>
            </li>
            {% for group in usesingredient_groups %}
            {% if group.grouper != "" and group.grouper != None %}
            <li class="group">
                <span class="definition"> <span class="move-handle"> </span> <span class="delete-button-wrapper"> <a href="#" class="delete-button"> </a> </span> <span class="group-name-wrapper"> <strong>Ingrediëntgroep: </strong>
                        <input type="text" placeholder="(Geef groepsnaam in)" class="group-name" value="{{ group.grouper }}" />
                    </span> </span>
                <span class="labels"> <span class="name-label">Naam</span> <span class="amount-label">Hoeveelheid</span> <span class="unit-label">Eenheid</span> <span class="delete-label">Verwijderen</span> </span>
            </li>
            {% endif %}
            {% for form in group.list %}
            {{ form.non_field_errors }}
            {% if forloop.parentloop.last or form.ingredient.value or form.amount.value or form.unit.value %}
            <li class="ingredient">
                <span class="move-handle"> </span>
                <span class="ingredient-name">{{ form.id }}{{ form.group }}{{ form.ingredient }}</span>
                <span class="ingredient-amount">{{ form.amount }}</span>
                <span>{{ form.unit }}</span>
                <span><a href="#" class="delete-button">{{ form.DELETE.as_hidden }}</a></span>
                <span class="ingredient-errors"> <span class="ingredient-name-errors error">{{ form.group.errors }}{{ form.ingredient.errors }}</span> <span class="ingredient-amount-errors error">{{ form.amount.errors }}</span> <span class="ingredient-unit-errors error">{{ form.unit.errors }}</span> </span>
                <br class="clear" />
            </li>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <li class="group empty-form sorting-disabled">
                <span class="definition"> <span class="move-handle"> </span> <span class="delete-button-wrapper"> <a href="#" class="delete-button"> </a> </span> <span class="group-name-wrapper"> <strong>Ingrediëntgroep: </strong>
                        <input type="text" placeholder="(Geef groepsnaam in)" class="group-name" />
                    </span> </span>
                <span class="labels"> <span class="name-label">Naam</span> <span class="amount-label">Hoeveelheid</span> <span class="unit-label">Eenheid</span> <span class="delete-label">Verwijderen</span> </span>
            </li>
            <li class="colum-labels empty-form sorting-disabled">
                <span>Naam</span>
                <span>Hoeveelheid</span>
                <span>Eenheid</span>
                <span>Verwijderen</span>
            </li>
            <li class="ingredient empty-form sorting-disabled">
                <span class="move-handle"> </span>
                <span class="ingredient-name">{{ wizard.form.ingredients.empty_form.id }}{{ wizard.form.ingredients.empty_form.group }}{{ wizard.form.ingredients.empty_form.ingredient }}</span>
                <span class="ingredient-amount">{{ wizard.form.ingredients.empty_form.amount }}</span>
                <span>{{ wizard.form.ingredients.empty_form.unit }}</span>
                <span class="delete-button"> </span>
            </li>
        </ul>
        <div class="button-group">
            <a href="#" class="add-button add-ingredient-button">Ingrediënt toevoegen</a>
            <a href="#" class="add-button add-ingredientgroup-button">Ingrediëntengroep toevoegen</a>
        </div>
    </div>

</div>
{% endblock %}
