{% extends "base.html" %}

{% block title %}Recept {% if new_recipe %}Toevoegen{% else %}Aanpassen{% endif %} (stap {{ wizard.steps.step1 }} van 3){% endblock %}

{% block extra_script %}
<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $("input, select").tooltip({
            items: "input, select, span",
            content: function() {
                return $(this).next(".tooltip").text();
            },
            position:  {my: "left+15 top", at: "right top"}
        }).off("mouseover mouseout");
        
        $("textarea").tooltip({
            items: "textarea",
            content: function() {
                return $(this).next(".tooltip").text();
            },
            position:  {my: "left top+15", at: "left bottom"}
        }).off("mouseover mouseout");
        
        $(".spinner-wrapper").tooltip({
            items: "span",
            content: function() {
                return $(this).parent().next(".tooltip").text();
            },
            position:  {my: "left+15 top", at: "right top"}
        });
        
        var action_is_post = false;
        
        $('input[type="submit"]').click(function() {
        	action_is_post = true;
        });
    
	    window.onbeforeunload = function(e) {
	    	if (!action_is_post)
		  		return 'Dialog text here.';
		};
    })
</script>
{% endblock %}

{% block recipes-active %}active{% endblock %}

{% block content %}

<div id="edit-recipe">
	<h2>Recept {% if new_recipe %}Toevoegen{% else %}Aanpassen{% endif %}</h2>
	
	<form id="edit-recipe-form" action="" method="post" enctype="{% block form-enctype %}application/x-www-form-urlencoded{% endblock %}">
        <p>
    	    Met onderstaande formulieren kan je je eigen recepten aan de databank van Seasoning toevoegen. 
    	</p>
    	
    	<div id="steps-indicator">
    	    <button class="step{% if wizard.steps.step1 == 1 %} active{% endif %}" id="step-1" name="wizard_goto_step" type="submit" value="{{ wizard.steps.all.0 }}">
                1. Basisinformatie {% if basic_info_form_valid %}<span class="checkbox"> </span>{% endif %}
            </button>
            <button class="step{% if wizard.steps.step1 == 2 %} active{% endif %}" id="step-2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.all.1 }}">
                2. Ingrediënten {% if ingredients_form_valid %}<span class="checkbox"> </span>{% endif %}
            </button>
            <button class="step{% if wizard.steps.step1 == 3 %} active{% endif %}" id="step-3" name="wizard_goto_step" type="submit" value="{{ wizard.steps.all.2 }}">
                3. Bereiding {% if instructions_form_valid %}<span class="checkbox"> </span>{% endif %}
            </button>
    	</div>
	
	    {% csrf_token %}
	    {{ wizard.management_form }}
	    
        {% block recipe-form %}
    	{% endblock %}
    	
    	<div id="button-group">
        	{% if wizard.steps.prev %}
        	<button class="prev-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Vorige</button>
        	{% else %}
        	<span class="prev-button"> </span>
            {% endif %}
            
            {% if wizard.steps.next %}
            <input class="next-button" type="submit" value="Volgende"/>
            {% else %}
            <span  class="next-button"> </span>
            {% endif %}
            
            <input id="finish-button" name="wizard_finish" type="submit" value="Recept {% if new_recipe %}Toevoegen{% else %}Aanpassen{% endif %}"/>
        </div>
	</form>
</div>
{% endblock %}
