{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Analyse: {{ recipe.name }}{% endblock %}

{% block extra_link %}
<link href="{% static "recipes/css/view_recipe_footprint_analysis.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script>
var recipe_footprint_breakdown_data_url = "{% url 'get_recipe_footprint_breakdown_data' recipe.id %}";
var recipe_relative_footprint_data_url = "{% url 'get_recipe_relative_footprint_data' recipe.id %}";
</script>
<script src="{% static "recipes/js/footprint_analysis.js" %}"></script>
{% endblock %}


{% block body %}

<div class="container">
	<div class="row page-header">
		<h1 class="col-xs-12">{{ recipe.name }}</h1>
		<h3 class="col-xs-12">Analyse van de voetafdruk</h3>
	</div>
	
	<div class="row bottom-margin">
		
		<h4 class="col-xs-12">1. Opbouw van de voetafdruk</h4>
		<div class="padded col-xs-12">
			<p id="footprint-breakdown-help" class="help">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sagittis mauris. Aliquam non venenatis augue, eget tristique magna. Sed ornare scelerisque nunc vitae maximus. Curabitur vel dui ligula. Nunc cursus leo arcu, sed euismod tortor congue vel. Proin eu metus a ex tincidunt tincidunt non ac lacus. Curabitur dapibus auctor leo, et commodo ipsum elementum non. Vestibulum urna lectus, elementum sed efficitur quis, ultrices ut turpis. Cras pulvinar non diam at mattis. Etiam aliquet varius imperdiet. 
			</p>
			<a class="show-help-btn" href="#" onclick='$("#footprint-breakdown-help").slideDown(500);$(this).parent().toggleClass("help-visible");return false;'>Uitleg tonen</a>
			<a class="hide-help-btn" href="#" onclick='$("#footprint-breakdown-help").slideUp(500);$(this).parent().toggleClass("help-visible");return false;'>Uitleg verbergen</a>
		</div>
		
		<div class="col-xs-12 col-sm-6 text-right">
			<h4>
				<a class="text-default active" href="#" onclick="show_ingredient_data();$('a').removeClass('active');$(this).addClass('active');return false;">Grouperen per Ingrediënt</a>
			</h4>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h4>
				<a class="text-default" href="#" onclick="show_source_data();$('a').removeClass('active');$(this).addClass('active');return false;">Grouperen per Soort</a>
			</h4>
		</div>
		
		<div id="footprint-breakdown" class="col-xs-12">
		</div>
	
	</div>
	
	<div class="row bottom-margin">
		
		<h4 class="col-xs-12">2. In vergelijking met gelijkaardige recepten</h4>
		<div class="padded col-xs-12">
			<p id="relative-footprint-help" class="help">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sagittis mauris. Aliquam non venenatis augue, eget tristique magna. Sed ornare scelerisque nunc vitae maximus. Curabitur vel dui ligula. Nunc cursus leo arcu, sed euismod tortor congue vel. Proin eu metus a ex tincidunt tincidunt non ac lacus. Curabitur dapibus auctor leo, et commodo ipsum elementum non. Vestibulum urna lectus, elementum sed efficitur quis, ultrices ut turpis. Cras pulvinar non diam at mattis. Etiam aliquet varius imperdiet. 
			</p>
			<a class="show-help-btn" href="#" onclick='$("#relative-footprint-help").slideDown(500);$(this).parent().toggleClass("help-visible");return false;'>Uitleg tonen</a>
			<a class="hide-help-btn" href="#" onclick='$("#relative-footprint-help").slideUp(500);$(this).parent().toggleClass("help-visible");return false;'>Uitleg verbergen</a>
		</div>
		
		<div id="relative-footprint" class="col-xs-12">
		</div>
		
		<div class="col-xs-12">
			<h3>Filters</h3>
			<h4>
				<a class="text-default active" href="#" onclick="show_all_recipes_data();$('a').removeClass('active');$(this).addClass('active');return false;">Alle recepten</a>
			</h4>
			<h4>
				<a class="text-default" href="#" onclick="show_course_recipes_data();$('a').removeClass('active');$(this).addClass('active');return false;">Enkel recepten van hetzelfde maaltijd type ({{ recipe.get_course_display }}) </a>
			</h4>
			<h4>
				<a class="text-default" href="#" onclick="show_veg_recipes_data();$('a').removeClass('active');$(this).addClass('active');return false;">Enkel recepten van dezelfde voedingswijze ({{ recipe.get_cached_veganism_display }}) </a>
			</h4>
			<h4>
				<a class="text-default" href="#" onclick="show_both_recipes_data();$('a').removeClass('active');$(this).addClass('active');return false;">Enkel recepten van hetzelfde maaltijd type en voedingswijze</a>
			</h4>
		</div>
	
	</div>
</div>
{% endblock %}