{% extends "base.html" %}
{% load compressed %}
{% load markdown_filter %}

{% block meta_description %}{{ recipe.description }}{% endblock %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block extra_script %}
	<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/plugins/jssor_slider/jssor.slider.mini.js"></script>
	<script src="{{ STATIC_URL }}js/ingredient_availability.js"></script>
	<script src="{{ STATIC_URL }}js/highcharts.js"></script>
	<script type="text/javascript"> 
	   var recipe_id = {{ recipe.id }};
	   var upvote_url = "{% url 'upvote_recipe' recipe.id %}";
	   var downvote_url = "{% url 'downvote_recipe' recipe.id %}";
	   var orig_recipe_portions = {{ recipe.portions }}
	   var recipe_portions_url = "{% url 'ajax_recipe_ingredients' recipe.id "0000" %}"
	   var ingredients_avail_ajax_url = "{% url 'ajax_ingredient_availability' %}";
	   var static_url = {{ STATIC_URL }};
	</script>
	<script src="{{ STATIC_URL }}js/view_recipe.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content-container %}
<div id="recipe-container">
	<div id="recipe-header-container">
		<div id="recipe-header">
			<h1 id="recipe-name" class="recipe-image-overlay">
				{{ recipe.name }}
				<span id="add-info">
				    	{% if recipe.external %}
				    	<span id="author">Recept van <a href="{{ recipe.external_site.url }}" target="_blank">{{ recipe.external_site.name }}</a></span>
				    	{% else %}
				        <span id="author">Toegevoegd door <a href="{% url 'user_profile' recipe.author.id %}">{{ recipe.author.get_full_name }}</a></span><br />
				        {% endif %}
				</span>
			    
			    <span id="recipe-actions">
			        {% if recipe.author == user or user.is_staff %}
			    	<a href="{% url 'delete_recipe' recipe.id %}" title="Verwijder dit recept" onclick="return confirm('Weet u zeker dat u dit recept wil verwijderen?')"><img src="{{ STATIC_URL }}img/icons/delete.png" alt="" /></a>
			    	
			    	{% if recipe.incomplete_class %}
			    	<a href="{% url 'edit_incomplete_recipe' recipe.id %}" title="Wijzig dit recept">
			    	{% else %}
			        <a href="{% url 'edit_recipe' recipe.id %}" title="Wijzig dit recept"> 
			        {% endif %}
			        <img src="{{ STATIC_URL }}img/icons/edit.png" alt="" /></a>
			    	
			    	{% endif %}
			    </span>
			</h1>
	    
	    	<!-- <div id="recipe-basic-info">
			</div> -->
			<div id="recipe-images" style="position: relative; width: 960px;
	        	 height: 460px; background: #a2a2a2; overflow: hidden;">
	        	 
		        <form id="upload-image-form" action="" method="POST" enctype="multipart/form-data">
			   		{% csrf_token %}
					<div id="upload-image-button">
						<img class="icon" src="{{ STATIC_URL }}img/icons/camera+.png" title="Voeg een foto toe aan dit recept" />
					</div>
					{{ upload_image_form.image }}
			 	</form>

		        <!-- Loading Screen -->
		        <div class="loading" u="loading" style="position: absolute; top: 0px; left: 0px;">
		            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
		                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
		            </div>
		            <div style="position: absolute; display: block; background: url('http://www.theratchetshop.com/skin/frontend/default/default/images/ajaxcart/loading.gif') no-repeat center center;
		                top: 50%; left: 50%;width: 30px;height:30px;">
		            </div>
		        </div>
		
		        <!-- Slides Container -->
		        <div u="slides" style="cursor: move; position: absolute; left: 0; top: 0; width: 960px; height: 460px; overflow: hidden;">
				    {% for image in recipe.images.all %}
		            <div>
		            	<img class="recipe-image" u="image" src="{{ image.small_image.url }}" />
		                <img u="thumb" src="{{ image.thumbnail.url }}" />
		                {% if image.added_by == user or recipe.author == user or user.is_staff %}
		                <a class="remove-image-button" href="{% url 'delete_recipe_image' image.id %}" title="Verwijder deze afbeelding" onclick="return confirm('Weet u zeker dat u deze afbeelding wil verwijderen?')"><img src="{{ STATIC_URL }}img/icons/delete.png" alt="" /></a>
		                {% endif %}
		            </div>
		            {% empty %}
		            <div>
		            	<img class="recipe-image" u="image" src="{{ MEDIA_URL }}images/recipes/no-image.png" />
		            </div>
		            {% endfor %}
		        </div>
		        
		        <!-- Thumbnail Navigator Skin Begin -->
		        <div u="thumbnavigator" class="jssort01" style="position: absolute; width: 960px; height: 50px; left:0px; bottom: 80px;">
		        
		            <div u="slides" style="cursor: move;">
		                <div u="prototype" class="p" style="position: absolute; width: 42px; height: 42px; top: 0; left: 0;">
		                    <div class=w><thumbnailtemplate style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
		                    <div class=c>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <!-- Thumbnail Navigator Skin End -->
		        <!-- Trigger -->
		        <script>
		            jssor_slider1_starter('recipe-images');
		        </script>
		    </div>
			
			<div id="graphic-information" class="recipe-image-overlay" style="clear: both;">
				<div id="veganism" class="graphic-information-icon">
					{% if recipe.veganism == 2 %}
			    	<img src="{{ STATIC_URL }}img/icons/vegan.png" title="Dit is een veganistisch recept" alt="" />
			        {% elif recipe.veganism == 1 %}
			    	<img src="{{ STATIC_URL }}img/icons/vegetarian.png" title="Dit is een vegetarisch recept" alt="" />
			        {% elif recipe.veganism == 0 %}
			    	<img src="{{ STATIC_URL }}img/icons/non-vegetarian.png" title="Dit is een niet-vegetarisch recept" alt="" />
			    	{% endif %}
			    </div>
				<div id="fp-category" class="graphic-information-icon">
					<span class="positioner">
						<img src="{{ STATIC_URL }}img/decoration/{{ recipe.fp_category.get_ribbon_image_name }}" 
						     title="{{ recipe.fp_category.extra_info }}"/>
					</span>
				</div>
				<div id="recipe-footprint" class="graphic-information-icon">
					<span id="recipe-footprint-text" class="text-overlay" 
					      title="Dit recept heeft een voetafdruk van {{ recipe.footprint|floatformat:2 }} kgCO&#8322; per portie.">
					      	{{ recipe.footprint|floatformat:2 }}
					      	<span style="display: block;font-size:16px">kgCO₂ p.p.</span>
					</span>
				</div>
				<div id="recipe-duration" class="graphic-information-icon">
					<img src="{{ STATIC_URL }}img/decoration/clock.png" />
					<span id="recipe-footprint-text" class="text-overlay" 
					      title="Dit recept duurt {{ recipe.total_preparation_time }} minuten om klaar te maken (waarvan je {{ recipe.active_time }} minuten actief bezig zal zijn).">
					      {{ recipe.total_preparation_time }}
					      <span style="display: block;font-size:18px;line-height:15px;">min</span>
					</span>
				</div>
				<div id="recipe-upvotes" class="graphic-information-icon">
					<div style="position: relative; display: inline-block; width: 60px; height: 100%;">
						<div id="upvote-count" class="upvote-bubble">{{ recipe.upvotes }}</div>
						{% if user.is_authenticated %}
						<a id="upvote-button" href="#" onclick="upvote();return false;"{% if user_has_upvoted %} style="display: none;"{% endif %}><img src="{{ STATIC_URL }}img/icons/lekker.png" style="position: absolute; left: 0; bottom: 0; width: 60px; height: auto; opacity: 0.5;"/></a>
						<a id="downvote-button" href="#" onclick="downvote();return false;"{% if not user_has_upvoted %} style="display: none;"{% endif %}><img src="{{ STATIC_URL }}img/icons/lekker.png" style="position: absolute; left: 0; bottom: 0; width: 60px; height: auto;"/></a>
						{% else %}
						<a id="upvote-button" href="{% url 'login' %}?next={{ request.get_full_path }}"><img src="{{ STATIC_URL }}img/icons/lekker.png" style="position: absolute; left: 0; bottom: 0; width: 60px; height: auto;"/></a>
						{% endif %}
					</div>
				</div>
				<br class="clear" />
			</div>
		</div>
	</div>
	
	<div id="basic-information" class="container">
		<h4>
			{% if recipe.cuisine %}
		    <span itemprop="recipeCuisine">{{ recipe.cuisine }}</span>{% if recipe.course == 4 or recipe.course == 6 or recipe.course == 8 or recipe.course == 9 %}e{% endif %} 
		    <span itemprop="recipeCategory">{{ recipe.get_course_display|lower }}</span>
		    {% else %}
		    <span itemprop="recipeCategory">{{ recipe.get_course_display }}</span>
		    {% endif %}
	    </h4>
	    
	    <p>
	    	{{ recipe.description }}
	    </p>
	</div>
		
	<div id="content-container" class="container">
    	{% block messages %}
        {% if messages %}
        <ul class="messages">
        	{% for message in messages %}
            <li class="{{ message.tags }}">
            	{{ message }}
            </li>
            {% endfor %}
		</ul>
        {% endif %}
        {% endblock %}
    </div>
                
    <h2>
      	<span>Ingrediënten</span>
	</h2>
	
    <div>  	
       	<div id="portions-changer">
       		<h3>Porties</h3>
       		<span id="portions-changer-input">
       			<input id="portions-spinner" type="text" value={{ recipe.portions }} />
       		</span>
       		<br class="clear" />
       	</div>
	</div>
	   
	<div id="ingredients-wrapper" class="container">
		<div id="ingredients">
		</div>
		<div id="ingredients-darkener">
	      	<span id="ingredients-loader">
	       		{% include "includes/big-ajax-loader.html" %}
	       	</span>
       	</div>
	</div>
		        
	{% if recipe.extra_info %}
	<div id="extra-info" class="container">
		<h4>Extra info en benodigdheden</h4>
	    <div>
	       	{{ recipe.extra_info|linebreaks }}
	    </div>
	</div>
	{% endif %}
		        
		        
	<h2>
	   	<span>Bereiding</span>
	</h2>
		        
	<div id="instructions-container" class="container markdown-container">
		<div id="instructions-warning">
			Opgelet! De onderstaande instructies zijn opgesteld voor {{ recipe.portions }} porties. Je hebt het aantal porties aangepast waardoor het mogelijk
		    is dat deze instructies niet meer volledig accuraat zijn. Hou hier rekening mee.
		</div>
		{% if recipe.external %}
		<a id="external-link" href="http://www.seasoning.be{% url 'external_recipe' recipe.id %}">
		 	<button type="submit">Bekijk het volledige recept op {{ recipe.external_site.name }}</button>
		</a>
		{% else %}
		<div id="instructions" itemprop="recipeInstructions">
			{{ recipe.instructions|markdown|safe }}
		</div>
	    {% endif %}
	</div>
	        
    <h2>
    	<span>Grafieken</span>
    </h2>
                
    <div id="recipe-charts" class="container">
		<div id="chart-tabs">
	    	<ul>
	        	<li><a href="#tabs-1">Dynamiek</a></li>
	            <!-- <li><a href="#tabs-2">Verhoudingen</a></li>-->
	        </ul>
	        <div id="tabs-1">
	            <div id="recipe-fpevo-chart">            
	            	       
	            </div>
	        </div>
	        <!-- 
	        <div id="tabs-2">
	        	<div id="recipe-fprel-chart">
	                
	            </div>
	        </div>
	        -->
	    </div>
	        
		<div id="charts-ajax-loader">
		    {% include "includes/big-ajax-loader.html" %}
		</div>
	</div>
</div>	

{% endblock %}
