{% extends "base.html" %}
{% load comments %}
{% load markdown_filter %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/raty.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/ingredient_availability.js"></script>
<script>
    function load_evochart() {
        $("#charts-ajax-loader").show();
        $.ajax({
            url: '/recipes/data/fpevo/',
            type: "POST",
            dataType: "json",
            data : {recipe : {{ recipe.id }}},
            success: function(data) {
                evochart.addSeries({
                  name: "Voetafdruk",
                  data: data.footprints
                });
                evochart.renderer.path(['M', 63+(427/366)*data.doy, 250, 'L', 63+(427/366)*data.doy, 40]).attr({
                    'stroke-width': 1,
                    'stroke': 'black',
                    'zIndex': 1000
                }).add();
                $("#charts-ajax-loader").hide();
            },
            cache: false
        });
    }
    
    function load_relchart() {
        $("#charts-ajax-loader").show();
        $.ajax({
            url: '/recipes/data/fprel/',
            type: "POST",
            dataType: "json",
            data : {recipe : {{ recipe.id }}},
            success: function(data) {
                relchart.addSeries({
                  name: "Alle recepten",
                  data: data.all_fps,
                  pointInterval: data.interval_length,
                });
                relchart.addSeries({
                  name: "Enkel {{ recipe.get_course_display }}en",
                  data: data.cat_fps,
                  pointInterval: data.interval_length,
                });
                relchart.addSeries({
                  name: "Enkel {{ recipe.get_veganism_display }}e gerechten",
                  data: data.veg_fps,
                  pointInterval: data.interval_length,
                });
                relchart.xAxis[0].setExtremes(data.min_fp, data.max_fp, true);
                var len = data.max_fp - data.min_fp
                relchart.renderer.path(['M', 63+(427/len)*(data.fp-data.min_fp), 250, 'L', 63+(427/len)*(data.fp-data.min_fp), 40]).attr({
                    'stroke-width': 1,
                    'stroke': 'black',
                    'zIndex': 1000
                }).add();
                $("#charts-ajax-loader").hide();
            },
            cache: false
        });
    }
    
    $(document).ready(function() {
        load_evochart();
        
        $("#recipe-img").click(function() {
            $("#zoomed-recipe-image-container").fadeIn(500);
        });
        
        $("#zoomed-recipe-image-container").click(function() {
            $("#zoomed-recipe-image-container").fadeOut(500);
        });
        
        $('#portions-slider').slider({
            min: 1,
            max: 8,
            value: {{ recipe.portions }},
            change: function(event, ui) {
                $('#custom-portions-input').val(ui.value).trigger('change');
            }
        });
        
        $('#rating-display').raty({
            path: '{{ STATIC_URL }}img/raty',
            width: 220,{% if recipe.rating %}
            score: {{ recipe.rating }},{% endif %}
            readOnly: true,
            noRatedMsg: "Nog geen ratings voor dit recept!",
            starOn: 'star-on-med.png',
            starOff: 'star-off-med.png',
            starHalf: 'star-half-med.png',
            hints: ['Dit recept heeft een gemiddelde score van {{ recipe.rating|floatformat:-2 }} op 5',
                    'Dit recept heeft een gemiddelde score van {{ recipe.rating|floatformat:-2 }} op 5',
                    'Dit recept heeft een gemiddelde score van {{ recipe.rating|floatformat:-2 }} op 5',
                    'Dit recept heeft een gemiddelde score van {{ recipe.rating|floatformat:-2 }} op 5',
                    'Dit recept heeft een gemiddelde score van {{ recipe.rating|floatformat:-2 }} op 5',],
        });
        
        $('#user-rating-display').raty({
            path: '{{ STATIC_URL }}img/raty',
            width: 110,
            {% if user_vote %}score: {{ user_vote.score }},{% endif %}
            click: function(score, evt) {
                $("#rating-loader").show();
                $.post('/recipes/vote/',
                       {'recipe': {{ recipe.id }},
                        'score': score})
                .done(function(data) {
                    var new_rating_info = $.parseJSON(data);
                    $('#rating-display').raty('set', {score: parseFloat(new_rating_info['new_rating'])});
                    $('#total-rating').text(parseFloat(new_rating_info['new_rating']).toFixed(1));
                    $('#total-votes').text(parseInt(new_rating_info['new_novotes']));
                    $('#rating-loader').hide();
                });
            },
        });
        
        $('#custom-portions-input').change(function() {
            $('#ingredients-loader').show();
            $.post('/recipes/portions/',
                   {'recipe': {{ recipe.id }},
                    'portions': $('#custom-portions-input').val()})
            .done(function(data) {
                if ($('#custom-portions-input').val() != {{ recipe.portions }}) {
                    $('#instructions-warning').slideDown('1000');
                } else {
                    $('#instructions-warning').slideUp('1000');
                }
                var parsed_data = $.parseJSON(data);
                $('#recipe-footprint').text(parsed_data['new_footprint'].toFixed(2));
                $('#ingredients').html(parsed_data['ingredient_list']);
                adjust_footprint_percentages();
                fix_moreinfo_links();
                $('#ingredients-loader').hide();
            }).fail(function() {
               alert('Er is iets misgegaan bij het contacteren van de server. Probeer het later opnieuw...')
            });
        });
        
        adjust_footprint_percentages();
        fix_moreinfo_links();
    });
    
    function fix_moreinfo_links() {
        $('.ingredient-moreinfo-link').click(function() {
            var ing_id = $(this).parents('.ingredient').find('.ingredient-id').text();
            var $moreinfo = $(this).parents('.ingredient').find('.moreinfo');
            if ($moreinfo.is(':hidden')) {
                $moreinfo.slideDown(500);
                $(this).children('img').attr('src', '/static/img/icons/less.png');
                if (!$moreinfo.hasClass('loaded')) {
	                $.ajax({
	                    url: '/ingredients/ing_avail/',
	                    type: "POST",
	                    data : {ingredient: ing_id},
	                    success: function(data) {
	                        $moreinfo.html(data);
	                        fix_ingredient_availabilities();
	                        update_tooltips();
	                        $(".basic-moreinfo").each(function() {
	                            var height = 0;
	                            $(this).parent(".moreinfo").children().each(function() {
	                                height = height + $(this).height();
	                            })
	                            $(this).parent(".moreinfo").animate({
	                                height: height + 20,
	                            });
	                        });
	                        $moreinfo.addClass('loaded');
	                    }
	                });
	            }
            } else {
                $moreinfo.slideUp(500);
                $(this).children('img').attr('src', '/static/img/icons/add.png');
            }
            return false;
        });
    }
    
    function adjust_footprint_percentages() {
        var total_footprint = parseFloat($('#recipe-footprint').text());
        $('.ingredient').each(function() {
            var footprint = parseFloat($(this).find('.footprint-number').text());
            var percentage = (footprint/total_footprint)*100;
            $(this).find('.percentage-number').text(parseInt(percentage) + '%');
            $(this).find('.footprint-fill').animate({
                width: percentage + "%"
            }, 1000);
        });
    }
    
    $(function () { 
        evochart = new Highcharts.Chart({
            chart: {
                renderTo: 'recipe-fpevo-chart',
                type: 'spline',
            },
            plotOptions: {
                spline: {
                    //pointPlacement: "on"
                }
            },
            title: {
                text: 'Verloop voetafdruk doorheen het jaar',
                style: {
                    color: '#333'
                }
            },
            legend: {
                enabled: false
            },
            xAxis: {
                title: {
                    text: 'Maand',
                    style: {
                        fontWeight: 'normal',
                        color: '#333'
                    }
                },
                min: 1,
                max: 12,
                categories: ['prejan', 'Jan', 'Feb', 'Maa', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec', 'postdec']
            },
            yAxis: {
                title: {
                    text: 'Voetafdruk (kgCO2)',
                    style: {
                        fontWeight: 'normal',
                        color: '#333'
                    }
                },
                min: 0
            },
            tooltip: {
                valueSuffix: ' kgCO2 per portie'
            },
            colors: [
                '#629B31'
            ]
        });
        relchart = new Highcharts.Chart({
            chart: {
                renderTo: 'recipe-fprel-chart',
                type: 'spline',
            },
            title: {
                text: 'Voetafdruk relatief t.o.v. andere recepten',
                style: {
                    color: '#333'
                }
            },
            plotOptions: {
                spline: {
                  marker: {
                      enabled: false,
                      states: {
                          hover: {
                              enabled: false
                          }
                      }
                  },
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                floating: true,
                y: 30,
                backgroundColor: "#FFF"
            },
            xAxis: {
                title: {
                    text: 'Voetafdruk (kgCO2)',
                    style: {
                        fontWeight: 'normal',
                        color: '#333'
                    }
                },
                min: 0,
                max: 1,
            },
            yAxis: {
                title: {
                    text: 'Aantal recepten met deze voetafdruk',
                    style: {
                        fontWeight: 'normal',
                        color: '#333'
                    }
                },
                min: 0,
                tickInterval: 1,
            },
            tooltip: {
                headerFormat: "",
                pointFormat: '<span style="color:{series.color}">{series.name}</span>'
            },
            colors: [
                '#629B31', '#1E2F0F', '#C0E2A2'
            ]
        });
    }); 
    
    var tab_1_loaded = false;
    $(function() {
        $( "#chart-tabs" ).tabs({
            activate: function(event, ui) {
                if (ui.newTab.index() == 1 && !tab_1_loaded) {
                    load_relchart();
                    tab_1_loaded = true;
                }
            }
        });
    });
</script>
{% endblock %}

{% block recipes-active %}active{% endblock %}

{% block body-hook %}
<div id="zoomed-recipe-image-container">
    <div id="page-darkener"> </div>
    <div id="zoomed-recipe-image" style="background-image: url('{{ MEDIA_URL }}{{ recipe.image }}')" /> </div>
</div>
{% endblock %}

{% block content %}
<h1 class="recipe-title">
    {{ recipe.name }}
    <div id="recipe-actions">
        {% if recipe.author == user %}
        <a href="/recipes/delete/{{ recipe.id }}/" title="Verwijder dit recept" onclick="return confirm('Bent u zeker dat u dit recept wil verwijderen?')"><img src="{{ STATIC_URL }}img/icons/delete.png" /></a>
        <a href="/recipes/edit/{{ recipe.id }}/" title="Wijzig dit recept"><img src="{{ STATIC_URL }}img/icons/edit.png" /></a>
        {% endif %}
    </div>
</h1>

<div id="below-recipe-name">
    
    <div id="add-info">
        <span id="author">Toegevoegd door <a href="/profile/{{ recipe.author.id }}/">{{ recipe.author.get_full_name }}</a></span><br />
        <span id="time-added">{{ recipe.time_added|date:"j F Y, G" }}u{{ recipe.time_added|date:"i" }}</span>
    </div>
    
    <div id="rating-display"> </div>
    
    <br class="clear" />
</div>

    
<div id="recipe">
    
    <div id="first-information">
        <div id="img-and-basic-user-options">
            <img id="recipe-img" src="{{ recipe.thumbnail.url }}"/>
            <span id="recipe-footprint-wrapper">
                <span id="recipe-footprint" title="Dit recept heeft een voetafdruk van {{ recipe.total_footprint|floatformat:-2 }} kgCO2 per {{ recipe.portions }} porties">{{ recipe.total_footprint|floatformat:-2 }}</span>
            </span>
            
            <div id="rating">
                <strong>Jouw waardering</strong>
                <div id="user-rating">
                    {% if user.is_authenticated %}
                    <div id="user-rating-display"> </div>
                    {% else %}
                    <a href="/login/">Meld je aan</a> om een rating aan dit recept te geven
                    {% endif %}
                </div>
            </div>
            
            <div id="time-needed">
                <strong>Bereidingstijd</strong>
                <div class="timebar">
                    <div class="timebar-active" style="width: {{ active_time_perc }}%"><span class="time-label">{% if recipe.active_time != total_time %}{{ recipe.active_time }} min{% endif %}</span></div>
                    <div class="timebar-passive" style="width: {{ passive_time_perc }}%"><span class="time-label">{{ total_time }} min</span></div>
                </div>
            </div>
            
            <div id="portions">
                <strong>Porties</strong>
                <div id="portions-slider-wrapper">
                    <div id="portions-slider-labels">
                        <div class="portions-slider-label" style="left: 0%">
                            <span> </span>1
                        </div>
                        <div class="portions-slider-label" style="left: 14.3%">
                            <span> </span>2
                        </div>
                        <div class="portions-slider-label" style="left: 28.6%">
                            <span> </span>3
                         </div>
                        <div class="portions-slider-label" style="left: 42.9%">
                            <span> </span>4
                         </div>
                        <div class="portions-slider-label" style="left: 57.2%">
                            <span> </span>5
                         </div>
                        <div class="portions-slider-label" style="left: 71.4%">
                            <span> </span>6
                         </div>
                        <div class="portions-slider-label" style="left: 85.7%">
                            <span> </span>7
                         </div>
                        <div class="portions-slider-label" style="left: 100%">
                            <span> </span>8
                         </div>
                    </div>
                    <div id="portions-slider"> </div>
                    <br class="clear" />
                </div>
                <input id="custom-portions-input" type="text" value="{{ recipe.portions }}"/>
            </div>
        </div>
        
        <div id="basic-info">
            <div id="vague-description">
                <strong>Categorie:</strong><br />
                {% if recipe.cuisine %}{{ recipe.cuisine }} {% endif %}{{ recipe.get_course_display }}
                
                <div id="veganism">
                    <img src="{{ STATIC_URL }}img/icons/vegan.png" {% if not recipe.veganism == 2 %}class="not-this"{% else %}title="Dit is een veganistisch recept"{% endif %} />
                    <img src="{{ STATIC_URL }}img/icons/vegetarian.png" {% if not recipe.veganism == 1 %}class="not-this"{% else %}title="Dit is een vegetarisch recept"{% endif %} />
                    <img src="{{ STATIC_URL }}img/icons/non-vegetarian.png" {% if not recipe.veganism == 0 %}class="not-this"{% else %}title="Dit is een niet-vegetarisch recept"{% endif %} />
                </div>
            </div>
            
            <div id="description">
                <strong>Beschrijving</strong>
                {{ recipe.description }}
            </div>
            
        </div>
        
        <div id="chart-tabs">
            <ul>
                <li><a href="#tabs-1">Dynamiek</a></li>
                <li><a href="#tabs-2">Verhoudingen</a></li>
            </ul>
            <div id="tabs-1">
                <div id="recipe-fpevo-chart">
                    
                </div>
            </div>
            <div id="tabs-2">
                <div id="recipe-fprel-chart">
                    
                </div>
            </div>
        </div>
        
        <div id="charts-ajax-loader">
            {% include "includes/big-ajax-loader.html" %}
        </div>
        
        <br class="clear" />
    </div>
    
    <div class="recipe-info-wrapper">
        <h3><span style="position:relative;">Ingrediënten<div id="ingredients-loader" style="position:absolute;top:2px;right:-55px;height:50px;display:none;">{% include "includes/ajax-loader.html" %}</div></span></h3>
        
        <div id="ingredients">
            {% include "includes/ingredient_list.html" %}
        </div>
        {% if recipe.extra_info %}
        <div id="extra-info">
            <strong>Extra Info/Benodigdheden:</strong><br />
            {{ recipe.extra_info|linebreaks }}
        </div>
        {% endif %}
    </div>
    
    <div class="recipe-info-wrapper">
        <h3>Bereidingswijze</h3>
        <div id="instructions" class="markdown-container">
           <div id="instructions-warning">
                Opgelet! De onderstaande instructies zijn opgesteld voor {{ recipe.portions }} porties. Je hebt het aantal porties aangepast waardoor het mogelijk
                is dat deze instructies niet meer volledig accuraat zijn. Hou hier rekening mee.
            </div>
            {{ recipe.instructions|markdown|safe }}
        </div>  
    </div>
</div>

<div id="give-comment">
    <h3>Geef een reactie op dit recept:</h3>
    {% if user.is_authenticated %}
        <div id="new-comment" class="comment">
            <div class="commenter-img">
                <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="De avatar van {{ user.get_full_name }}"/>
            </div>
            <div class="comment-content">
                <div class="commenter"><a href="/profile/{{ user.id }}/">{{ user.get_full_name }}</a> zegt:</div>
                <div class="comment-body">
                    {% get_comment_form for recipe as form %}
                    <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ form.comment }}
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <input type="submit" value="Voeg Reactie Toe" id="id_submit" />
                    </form>
                </div>
            </div>
            <br class="clear" />
        </div>
        
        <br class="clear" />
    {% else %}
        <p><a href="{% url 'login' %}?next={{ request.path  }}">Meld je aan</a> om een reactie te geven.</p>
    {% endif %}
</div>
<h3>Reacties op dit recept:</h3>
<div id="comment-list">
    {% for comment in comments %}
    <div id="comment-{{ forloop.counter }}" class="comment">
        <div class="commenter-img">
            <img src="{{ MEDIA_URL }}{{ comment.user.avatar }}" alt="De avatar van {{ comment.user.get_full_name }}"/>
        </div>
        <div class="comment-content">
            <div class="commenter"><a href="/profile/{{ comment.user.id }}/">{{ comment.user.get_full_name }}</a> zegt:</div>
            <div class="comment-submit-date"><a href="#comment-{{ forloop.counter }}">{{ comment.submit_date|date:"j F Y, G" }}u{{ comment.submit_date|date:"i" }}</a></div>
            {% if comment.user == user %}<div class="comment-delete"><a href="/recipes/deletecomment/{{ recipe.id }}/{{ comment.id }}/">Verwijder Reactie</a></div>{% endif %}
            <div class="comment-body">
                {{ comment.comment }}
            </div>
        </div>
        <br class="clear" />
    </div>
    {% empty %}
    <div id="no-comments">
        Dit recept heeft nog geen reacties gekregen...
    </div>
    {% endfor %}
</div>

{% endblock %}
