{% extends "base.html" %}

{% block title %}Nieuws{% endblock %}

{% block extra_script %}
<script>
function loadMoreNews() {
	var next_page = parseInt($("#news-pages-loaded").val()) + 1;
	$("#news-pages-loaded").val(next_page);
	
	$.ajax({
		type : "GET",
		url : window.location + "?page=" + next_page,
	    success : function(data) {
	    	// The url returns full html
			$(data).insertAfter($(".news-item-wrapper").last());
			$(window).bind('scroll', bindScroll);
	    },
        error: function() {
        	$("#loading-news").text("Er werd geen ouder nieuws gevonden...");
        }
	});
}

function bindScroll() {
	if ($(window).scrollTop() + 2*$(window).height() > $("#news-list-wrapper").offset().top + $("#news-list-wrapper").height()) {
		$(window).unbind('scroll', bindScroll);
		loadMoreNews();
	}
}
	
			


$(function() {
	$(window).scroll(bindScroll);
});
</script>
{% endblock %}

{% block news-active %}active{% endblock %}

{% block content %}

<h1>Nieuws</h1>

<div id="twitter-feed-wrapper">
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<a class="twitter-timeline"  href="https://twitter.com/Seasoningbe"  data-widget-id="394430582345576448">
		<div id="twitter-loading-text">Loading Tweets</div>
		{% include "includes/ajax-loader.html" %}
	</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<input id="news-pages-loaded" type="hidden" value="1" />
<div id="news-list-wrapper">
	{% include "includes/news_list.html" %}
    
    <div id="loading-news">
    	Ouder nieuws wordt geladen...
    	{% include "includes/big-ajax-loader.html" %}
    	<br /><br />
    	<br class="clear" />
    </div>
</div>

{% endblock %}
