{% extends "base.html" %}
{% load markdown_filter %}

{% block title %}Nieuws{% endblock %}

{% block news-active %}active{% endblock %}

{% block content %}

<div class="news-item-wrapper">
    <div class="subject">{{ news_item.subject }}</div>
    <div class="author">Gepost door {{ news_item.author.givenname }} op {{ news_item.time_published|date:"d E Y, H" }}u{{ news_item.time_published|date:"i" }}</div>
    <img class="news-image" src="{{ news_item.image.url }}" title="{{ news_item.image_source }}" />
    <div class="content">{{ news_item.content|markdown_safe|safe }}</div>
</div>

{% endblock %}
