{% extends "base.html" %}
{% load markdown_filter %}

{% block title %}{{ ingredient.name }}{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/ingredient_availability.js"></script>
{% endblock %}

{% block ingredients-active %}active{% endblock %}

{% block content %}

<h1 class="ingredient-title">
    {{ ingredient.name }}{% if ingredient.synonyms.all %}<span id="ingredient-synonyms">{% for synonym in ingredient.synonyms.all %}, {{ synonym.name }}{% endfor %}</span>{% endif %}
    {% if user.is_staff %}<a href="/admin/ingredients/ingredient/{{ ingredient.id }}/">Aanpassen</a>{% endif %}
</h1>

<img id="ingredient-image" src="{{ ingredient.image.url }}">

<p>
    <strong>Categorie:</strong> {{ ingredient.get_category_display }}
</p>
<p>
    <strong>Veganisme:</strong> {{ ingredient.get_veganism_display }}
</p>
<p>
    <strong>Voetafdruk:</strong> {{ ingredient.footprint|floatformat:2 }} kgCO2/{{ ingredient.primary_unit.short }}
</p>
<p>
    <strong>Beschrijving:</strong><br />
    {{ ingredient.description|markdown_safe|safe }}
</p>

<br class="clear" />

{% if ingredient.conservation_tip %}
<p>
    <strong>Bewaringstip:</strong><br />
    {{ ingredient.conservation_tip|markdown_safe|safe }}
</p>
{% endif %}

{% if ingredient.preparation_tip %}
<p>
    <strong>Bereidingstip:</strong><br />
    {{ ingredient.preparation_tip|markdown_safe|safe }}
</p>
{% endif %}

{% if ingredient.properties %}
<p>
    <strong>Speciale Eigenschappen:</strong><br />
    {{ ingredient.properties|markdown_safe|safe }}
</p>
{% endif %}


    
{% include "includes/ingredient_availability.html" %}

<div>
    <strong>Bronnen:</strong>
    {{ ingredient.source|linebreaks }}
</div>

{% endblock %}
