{% extends "authentication/account_settings.html" %}

{% block title %}Profiel instellingen{% endblock %}

{% block myaccount-active %}active{% endblock %}

{% block account_settings %}
<div class="social-connection">
    <img src="{{ STATIC_URL }}img/social/fb-logo-3.jpg" />
    <p class="{% if user.facebook_id %}active{% endif %}">
        {% if user.facebook_id %}
        Dit profiel is gekoppeld met een Facebook account.<br />
        Klik <a href="/auth/fb/disconnect/">hier</a> om deze accounts te ontkoppelen.
        {% else %}
        Dit profiel is niet gekoppeld met een Facebook account. <br />
        Klik <a href="/auth/fb/connect/">hier</a> om een Facebook account te koppelen.
        {% endif %}
    </p>

    <br class="clear" />
</div>

<div class="social-connection">
    <img src="{{ STATIC_URL }}img/social/google-logo-3.png" />
    <p class="{% if user.google_id %}active{% endif %}">
        {% if user.google_id %}
        Dit profiel is gekoppeld met een Google account. <br />
        Klik <a href="/auth/google/disconnect/">hier</a> om deze accounts te ontkoppelen.
        {% else %}
        Dit profiel is niet gekoppeld met een Google account. <br />
        Klik <a href="/auth/google/connect/">hier</a> om een Google account te koppelen.
        {% endif %}
    </p>
    
    <br class="clear" />
</div>
{% endblock %}

{% block public_profile_active %}{% endblock %}
{% block social_settings_active %}active{% endblock %}
