{% load humanize %}
Beste {{ user.givenname }} {{ user.surname }},
<br /><br />
Dit e-mail adres is enkele ogenblikken geleden gebruikt om een profiel te registreren bij
Seasoning.
<br /><br />
Indien u dit gedaan hebt, kan u onderstaande link gebruiken om het profiel te activeren:
<br /><br />
<a href="https://{{ site }}/activate/{{ activation_key }}/">https://{{ site }}/accounts/activate/{{ activation_key }}/</a>
<br /><br />
Indien u geen profiel geregistreerd hebt bij Seasoning, kan u deze e-mail gewoon negeren.
<br /><br />
Met vriendelijke groeten,
<br /><br />
Het Seasoning Team
