{% extends "base.html" %}

{% block title %}Aanmelden{% endblock %}

{% block login-active %}active{% endblock %}

{% block content %}

<div id="seasoning-login">
	<form action="{% url 'login' %}" method="post" class="login-form">
		{% csrf_token %}

		<div class="non-field-errors">
			{{ form.non_field_errors }}
		</div>
		
		<div class="field-wrapper{% if form.username.errors %} field-with-error{% endif %}">
			{{ form.username.label_tag }}
			{{ form.username }}
			<div class="login-error">{{ form.username.errors }}</div>
		</div>
		
		<div class="field-wrapper{% if form.password.errors %} field-with-error{% endif %}">
			{{ form.password.label_tag }}
			{{ form.password }}
			<a class="under-field-link" href="{% url 'django.contrib.auth.views.password_reset' %}" id="forgotpw">Wachtwoord vergeten?</a>
			<div class="login-error">{{ form.password.errors }}</div>
		</div>
		
		<input type="hidden" name="next" value="{{ next }}" />
		
		<input type="submit" value="Aanmelden" id="login-submit"/>
	</form>

	<script type="text/javascript">
		document.getElementById('username').focus()
	</script>
</div>

<div id="social-login">
	{% include "includes/fb-button.html" %}
	<br/>
    {% include "includes/google-button.html" %}
</div>

<br class="clear" />

<div id="login-page-register">
    <h2>
        Nog niet geregistreerd?
    </h2>
    <form action="{% url 'registration' %}" method="get">
        <input id="register-button" type="submit" value="Registreer Nu!" />
    </form>
</div>
{% endblock %}