{% extends "base.html" %}

{% block title %}Wachtwoord vergeten{% endblock %}

{% block login-active %}active{% endblock %}

{% block content %}

{% if validlink %}

<p>
	Gelieve in onderstaand formulier een nieuw wachtwoord op te geven om je wachtwoord opnieuw in te stellen.
</p>

<form action="" method="post" class="account-form">
	{% csrf_token %}
	
	<div class="field-wrapper">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
		{{ form.new_password1.errors }}
	</div>
	
	<div class="field-wrapper">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
		{{ form.new_password2.errors }}
	</div>

	<input type="submit" value="Stel wachtwoord opnieuw in" id="account-submit"/>
</form>

{% else %}

<p>
    Deze link is ongeldig en kan niet gebruikt worden om een wachtwoord opnieuw in te stellen. Dit komt waarschijnlijk omdat de link al eens gebruikt is. 
</p>
<p>
    Probeer een
    nieuwe link aan te vragen via het <a href="/password/reset">formulier om je wachtwoord opnieuw in te stellen</a>
</p>

{% endif %}

{% endblock %}