{% load humanize %}
Beste {{ user.givenname }} {{ user.surname }},
<br /><br />
Dit e-mail adres is enkele ogenblikken geleden opgegeven om een nieuw wachtwoord in te stellen op Seasoning.
<br /><br />
Indien jij dit gedaan hebt, kan je onderstaande link gebruiken om het wachtwoord opnieuw in te stellen:
<br /><br />
<a href="{{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb36=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url "django.contrib.auth.views.password_reset_confirm" uidb36=uid token=token %}
</a>
<br /><br />
Met vriendelijke groeten,
<br /><br />
Het Seasoning Team
