{% extends "base.html" %}

{% block title %}Wachtwoord vergeten{% endblock %}

{% block login-active %}active{% endblock %}

{% block content %}

<p>
	Geef hieronder je e-mailadres op om een e-mail te krijgen met instructies voor het opnieuw instellen
	van je wachtwoord.
</p>

<form action="" method="post" class="account-form">{% csrf_token %}
	
	<div class="field-wrapper">
        {{ form.email.label_tag }}
        {{ form.email }}
		{{ form.email.errors }}
	</div>

	<input type="submit" value="Verzenden" id="account-submit"/>

</form>

{% endblock %}