{% extends "base.html" %}

{% block title %}Wachtwoord vergeten{% endblock %}

{% block login-active %}active{% endblock %}

{% block extra_head %}
	<META HTTP-EQUIV=Refresh CONTENT="4; URL=/">
{% endblock %}

{% block content %}

<p>
	De instructies voor het opnieuw instellen van je wachtwoord zijn verzonden naar het door jou 
	opgegeven e-mailadres. De e-mail zou binnen de 15 minuten moeten aankomen.
</p>

<p>
	Bij problemen kan u steeds contact met ons opnemen via dit  
	<a href="https://www.seasoning.be/contact/form/abuse/">formulier</a>.

{% endblock %}