{% extends "base.html" %}

{% block title %}Registreren{% endblock %}

{% block myaccount-active %}active{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.css" />
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script>
$(function() {
    $(document).tooltip({ 
        items: ".tooltip-field input", 
        content:  function() {
            return $(this).parent().children('.tooltip').text();
        },
        position: {
            my: "left top",
            at: "right+10 top-2"
        },
        tooltipClass: "form-tooltip",
    }).off("mouseover mouseout");
    
    $('#id_date_of_birth').datepicker({ showAnim: "fadeIn",
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: -365,
                                        dateFormat: "dd-mm-yy",
                                        yearRange: "-100:-5",
                                        defaultDate: "01-01-2000",
    });
})
</script>
{% endblock %}

{% block content %}
<h2>Registreren</h2>
<p>
	Registreren op Seasoning hoeft slechts één keer en is heel eenvoudig. Je kan een persoonlijk profiel aanmaken via de verschillende portaalwebsites (Facebook en Google) of via Seasoning zelf.
</p>

<div id="social-register">
    {% include "includes/fb-button.html" with register=True %}
    <br/>
    {% include "includes/google-button.html" with register=True %}
</div>

<div id="register-mobile-separator">
	<hr />
	<h3>Of registreer via Seasoning:</h3>
</div>

<div id="seasoning-register">
    <form action="/profile/register/" method="post" id="registration-form">
    	{% csrf_token %}
    	
    	{% if form.errors %}
    		<div class="form-errors-notice">
    			Er is een probleem opgetreden bij het versturen van het registratieformulier. Gelieve onderstaande fouten te verbeteren.
    		</div>
    	{% endif %}
      	
    	<div class="field-wrapper tooltip-field{% if form.givenname.errors %} field-with-error{% endif %}">
            {{ form.givenname.label_tag }}
            {{ form.givenname }}
            <div class="tooltip">{{ form.givenname.help_text }}</div>
            
            {% if form.givenname.errors %}        
    			{{ form.givenname.errors }}	
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper tooltip-field{% if form.surname.errors %} field-with-error{% endif %}">
            {{ form.surname.label_tag }}
            {{ form.surname }}
            <div class="tooltip">{{ form.surname.help_text }}</div>
            
            {% if form.surname.errors %}        
    			{{ form.surname.errors }}
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper tooltip-field{% if form.email.errors %} field-with-error{% endif %}">
            {{ form.email.label_tag }}
            {{ form.email }}
            <div class="tooltip">{{ form.email.help_text }}</div>
            
            {% if form.email.errors %}        
    			{{ form.email.errors }}	
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper{% if form.password.errors %} field-with-error{% endif %}">
            {{ form.password.label_tag }}
            {{ form.password }}
            
            {% if form.password.errors %}        
    			{{ form.password.errors }}	
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper tooltip-field{% if form.password2.errors %} field-with-error{% endif %}">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <div class="tooltip">{{ form.password2.help_text }}</div>
            
            {% if form.password2.errors %}        
    			{{ form.password2.errors }}	
            {% endif %}
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper tooltip-field{% if form.date_of_birth.errors %} field-with-error{% endif %}">
            {{ form.date_of_birth.label_tag }}
            {{ form.date_of_birth }}
            <div class="tooltip">{{ form.date_of_birth.help_text }}</div>
            
            {% if form.date_of_birth.errors %}        
    			{{ form.date_of_birth.errors }}
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper captcha-wrapper{% if form.captcha.errors %} field-with-error{% endif %}" id="captcha-wrapper">
            <div id="captcha-height-reserver">
            	{{ form.captcha }}
            </div>
            {{ form.captcha.errors }}
    	</div>
    	
    	<div class="field-wrapper{% if form.tos.errors %} field-with-error{% endif %}" id="terms-wrapper">
            {{ form.tos }}
            {{ form.tos.label_tag}}
    	   
    	   {% if form.tos.errors %}        
                {{ form.tos.errors }}
            {% endif %}
            
        </div>
        
        <input id="register-button" type="submit" value="Registreer Nu!" />
    </form>
</div>
{% endblock %}