{% extends "base.html" %}
{% load addcss %}

{% block title %}Registreren{% endblock %}

{% block myaccount-active %}active{% endblock %}

{% block extra_link %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.css" />
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script>
$(function() {
    $(document).tooltip({ 
        items: ".tooltip-field input", 
        content:  function() {
            return $(this).parent().children('.tooltip').text();
        },
        position: {
            my: "left top",
            at: "left bottom+5"
        },
        tooltipClass: "form-tooltip",
    }).off("mouseover mouseout");
    
    $('#id_date_of_birth').datepicker({ showAnim: "fadeIn",
                                        changeMonth: true,
                                        changeYear: true,
                                        maxDate: -365,
                                        dateFormat: "dd-mm-yy",
                                        yearRange: "-100:-5",
                                        defaultDate: "01-01-2000",
    });
})
</script>
{% endblock %}

{% block content %}
<div id="registration-wrapper" class="row">

	<h2 class="col-xs-12 text-center">Registreren</h2>
	
	<p class="col-xs-12">
		Registreren op Seasoning is gratis en heel eenvoudig. Je kan een persoonlijk profiel aanmaken via de verschillende portaalwebsites (Facebook en Google) of via Seasoning zelf.
	</p>
	
	<div id="social-register" class="col-xs-12 col-sm-6 pull-right text-center">
	    {% include "includes/fb-button.html" with register=True %}
	    <br/>
	    {% include "includes/google-button.html" with register=True %}
	</div>
	
	<div id="register-mobile-separator" class="col-xs-12">
		<hr />
		<h3>Of registreer via Seasoning:</h3>
	</div>
	
	<div id="seasoning-register" class="col-xs-12 col-sm-6 pull-left">
	    <form action="/profile/register/" method="post" id="registration-form">
	    	{% csrf_token %}
	    	
	    	{% if form.errors %}
	    		<div class="form-errors-notice">
	    			Er is een probleem opgetreden bij het versturen van het registratieformulier. Gelieve onderstaande fouten te verbeteren.
	    		</div>
	    		<br />
	    	{% endif %}
	      	
	    	<div class="form-group tooltip-field{% if form.givenname.errors %} has-error{% endif %}">
	            <label for="{{ form.givenname.id_for_label }}">{{ form.givenname.label }}</label>
	            {{ form.givenname|addcss:"class,form-control" }}
	            <div class="tooltip">{{ form.givenname.help_text }}</div>
	            
	            {% for error in form.givenname.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<div class="form-group tooltip-field{% if form.surname.errors %} has-error{% endif %}">
	            <label for="{{ form.surname.id_for_label }}">{{ form.surname.label }}</label>
	            {{ form.surname|addcss:"class,form-control" }}
	            <div class="tooltip">{{ form.surname.help_text }}</div>
	            
	            {% for error in form.surname.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<div class="form-group tooltip-field{% if form.email.errors %} has-error{% endif %}">
	            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
	            {{ form.email|addcss:"class,form-control" }}
	            <div class="tooltip">{{ form.email.help_text }}</div>
	            
	            {% for error in form.email.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<br />
	    	
	    	<div class="form-group{% if form.password.errors %} has-error{% endif %}">
	            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
	            {{ form.password|addcss:"class,form-control" }}
	            
	            {% for error in form.password.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<div class="form-group tooltip-field{% if form.password2.errors %} has-error{% endif %}">
	            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
	            {{ form.password2|addcss:"class,form-control" }}
	            <div class="tooltip">{{ form.password2.help_text }}</div>
	            
	            {% for error in form.password.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	            {% for error in form.non_field_errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<br />
	    	
	    	<div class="form-group tooltip-field{% if form.date_of_birth.errors %} has-error{% endif %}">
	            <label for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
	            {{ form.date_of_birth|addcss:"class,form-control" }}
	            <div class="tooltip">{{ form.date_of_birth.help_text }}</div>
	            
	            {% for error in form.date_of_birth.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	
	    	<div class="form-group captcha-wrapper{% if form.captcha.errors %} has-error{% endif %}" id="captcha-wrapper">
	            <div id="captcha-height-reserver">
	            	{{ form.captcha }}
	            </div>

				{% for error in form.captcha.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	    	</div>
	    	<br />
	    	
	    	<div class="form-group{% if form.tos.errors %} has-error{% endif %}" id="terms-wrapper">
	            
	            <div class="checkbox-inline">
		            {{ form.tos }}
		            <label for="{{ form.tos.id_for_label }}">
		            	{{ form.tos.label }}
		            </label>
		        </div>
	            
	            {% for error in form.tos.errors %}
				<div class="help-block">{{ error }}</div>
				{% endfor %}
	            
	        </div>
	        
	        <input id="register-button" class="btn btn-block btn-lg btn-default" type="submit" value="Registreer Nu!" />
	    </form>
	</div>

</div>
{% endblock %}