{% extends "admin/base_site.html" %}

{% block extra_script %}
<script src="{{ STATIC_URL }}js/highcharts.js"></script>
<script>
	function show_site_wide_history_graph() {
		$.ajax({
			type: "POST",
			url: "{% url 'ajax_site_wide_history' %}", 
			data: $('#site-wide-graph-form').serialize(),
			dataType: "json",
			success: function(data) {
				var times = data['time_intervals'];
				var requests = data['requests'];
				var response_times = data['response_times'];
				var distinct_ips = data['distinct_ips'];
				
				$('#container').highcharts({
		            title: {
		                text: 'Page Requests',
		                x: -20 //center
		            },
		            subtitle: {
		                text: 'per 5 minutes',
		                x: -20
		            },
		            xAxis: {
		            	categories: times,
		            	tickInterval: Math.floor(times.length / 10)
		            },
		            yAxis: [{
		                title: {
		                    text: 'Requests'
		                },
		                min: 0,
		            }, {
		            	title: {
		            		text: 'Response Time (msec)'
		            	},
		            	min: 0,
		            	opposite: true
		            }],
		            tooltip: {
		                valueSuffix: ''
		            },
		            legend: {
						visible: false
		            },
		            series: [{
		                name: 'Requests',
		            	data: requests
		            }, {
		            	name: 'Response Time',
		            	yAxis: 1,
		            	data: response_times
		            }, {
		            	name: 'Distinct ip adresses',
		            	data: distinct_ips
		            }],
		            plotOptions: {
		                series: {
		                    marker: {
		                        enabled: false
		                    }
		                }
		            }
		        });
			},
		});
		
   }

	var pages = {{ pages|safe }};
	var hits = {{ hits|safe }};
	var rt = {{ resp_time|safe }};
	
	$(function () {
	    $('#container').highcharts({
	        chart: {
	            type: 'column',
	            height: 600
	        },
	        title: {
	            text: 'Hits per page'
	        },
	        xAxis: {
	            categories: pages,
	            labels: {
	                rotation: -75,
	                style: {
	                    fontSize: '13px',
	                    fontFamily: 'Verdana, sans-serif'
	                }
	            }
	        },
         	yAxis: [{
		        title: {
		            text: 'Requests'
		        },
		        min: 0,
		    }, {
		    	title: {
		     		text: 'Response Time (msec)'
		     	},
		     	min: 0,
		     	opposite: true
		     }],
	        plotOptions: {
	            column: {
	                pointPadding: 0.2,
	                borderWidth: 0
	            }
	        },
	        series: [{
	            name: 'Hits per page',
	            data: hits
	
	        },{
	            name: 'Average response time',
	            data: rt,
	            yAxis: 1,
	
	        }],
	        legend: {
				visible: false
	        },
	    });
	});
</script>

{% endblock %}

{% block content %}
<a href="#" onclick="show_site_wide_history_graph(); return false;">Site wide history</a>
<form id="site-wide-graph-form">
	
</form>
<div id="container"></div>

{% endblock %}