body {
	padding-top: 60px;
	background-color: #fff;
	overflow-y: scroll;
}



.navbar-inverse {
	background-color: #629b31;
	border-color: #5b6553;	
}

.navbar img {
	height: 40px; 
	margin-top: 10px;
}



.ajax-loader {
	margin: 20px auto;
	text-align: center;
}

.ajax-loader img {
	height: 30px;
}

@media only screen and (max-width: 640px) {
	
	.navbar #info-button {
		display: none;
	}
}


.browser-outdated-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); 
    zoom: 1;
    z-index: 1029;
    text-align: center;
}
.browser-outdated-overlay .alert {
	display: inline-block;
	margin-top: 250px;
}