@import "variables";

.recipe-summary-wrapper {
	display: inline-block;
	width: 220px;
	max-width: 95%;
	margin: 0 5px 25px;
}

.recipe-summary-link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
  	transition: all 0.25s ease-in-out;
  	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
  	border: 1px solid $light-border-color;
  	color: inherit;
  	@include border-radius(15px);
}

.recipe-summary-link:hover,
.recipe-summary-link:active,
.recipe-summary-link:focus {
	box-shadow: 0 0 5px black;
  	-webkit-box-shadow: 0 0 5px black;
  	-moz-box-shadow: 0 0 5px black;
  	border: 1px solid rgba(0, 0, 0, 0.5);
  	text-decoration: none;
  	color: inherit;
}

.recipe-summary-link .corner-ribbon {
  	position: absolute;
  	top: -3px;
  	left: -3px;
}

.recipe-summary-link .fp-category-ribbon {
	position: absolute;
	right: 5px;
	bottom: 110px;
	height: 90px;
	width: auto;
	border: none;
	z-index: 100;
}

.recipe-summary img {
  display: block;
  width: 100%;
	@include border-top-radius(14px);
}

.recipe-summary .recipe-title {
  display: block;
  height: 110px;
  padding: 10px 10px 5px;
  background-color: #fff;
  position: relative;
  border: none;
  margin: 0;
}

.recipe-title .title {
	display: block;
	height: 100%;
	overflow: hidden;
	font-family: $title-font-stack;
	font-size: 26px;
	color: #333;
	line-height: 30px;
	text-align: left;
}

.recipe-description {
  display: block;
  height: 0;
  font-size: 11px;
  line-height: 18px;
  padding: 0px 10px; 
  overflow: hidden; 
}

.recipe-meta-inf {
  display: block;
  background-color: $green-light;
  padding: 5px 10px;
  font-size: 11px;
  height: 26px;
	@include border-bottom-radius(14px);
  color: white; }

.recipe-meta-inf .recipe-time {
  float: left;
  font-weight: bold;
  line-height: 16px;
}

.recipe-meta-inf .recipe-rating {
  float: right; }

.star-rating-wrapper {
  width: 80px;
  display: block;
  margin-top: 1px; }

.star-rating-wrapper .star-rating-not {
  background-image: url("/static/img/raty/star-off.png");
  background-position: right;
  height: 16px;
  float: right; }

.star-rating-wrapper .star-rating {
  background-image: url("/static/img/raty/star-on.png");
  background-position: left;
  height: 16px;
  float: left; }

.no-rating-wrapper {
  font-size: 8px; }