@import "variables";

#base-recipe-search-container {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-color: $green-light;
}

#base-recipe-search-container #base-recipe-search {
	margin-top: 30px;
	padding: 0;
	text-align: center;
	margin: 30px auto;
	width: 95%;
	max-width: 400px;
	position: relative;
}

#base-recipe-search input {
	height: 40px;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
}

.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: relative;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 250px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/static/img/icons/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 $green-main;
  padding: 0;
  margin: 0;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 30px;
  width: 250px;
  line-height: 30px;
  padding-left: 14px;
  padding-right: 20px;
  text-decoration: none;
  color: $green-main;
  font-size: 16px;
}
.cd-tab-filter .placeholder a {
	height: 50px;
	line-height: 50px;
}
.cd-tab-filter li:not(.placeholder) a:hover {
	color: $green-dark;
	background-color: $green-very-light;
}
.cd-tab-filter a.selected {
  background: $green-main;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 $green-main, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}


.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #41307c;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #37296a;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("/static/img/icons/cd-icon-filter.png") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #41307c;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}





#recipe-search-options {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

#recipe-search-options a {
	border-radius: 0;
	height: 50px;
	line-height: 32px;
	color: #fff;
	border-right: 1px solid rgba(255,255,255, .3);
	overflow: hidden;
	position: relative;
}

#recipe-search-options a:first-of-type {
	border-left: 1px solid rgba(255,255,255, .3);
	line-height: 10px;
	font-size: 14px;
}

#recipe-search-options a:hover {
	background-color: rgba(0, 0, 0, .3);
}

#recipe-search-options select {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	border: none;
	background: none;
	width: 114%;
	height: 100%;
	text-align: center;
	padding-top: 10px;
	margin-left: -5%;
	cursor: pointer;
}

#recipe-search-options a select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}



#advanced-search-options {
	border-bottom: 1px solid #ddd;
	text-align: center;
	display: none;
}

#advanced-search-options p {
	margin: 30px 0;
}



#recipe-search-results-container {
	position: relative;
	min-height: 400px;
	margin-bottom: 30px;
}
  
 #recipe-search-container hr {
  margin-bottom: 10px; }
  
#add-recipe-button {
  margin-top: 9px;
  top: 0;
}
  
#browse-recipes-loader {
	position: absolute;
	right: -50px;
	bottom: -5px;
	display: none;
}

.advanced-link {
  position: absolute;
  top: 19px;
  font-size: 12px; }
 
#advanced-link {
	display: none;
}

#not-advanced-link {
	display: block;
}

#advanced-search {
  position: absolute;
  top: 42px;
  width: 219px;
  float: left;
  border-right: 1px solid #DDDDDD;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 0 0 10px; 
  margin-right: 10px;
  z-index: 998; }

#advanced-search > div {
  margin: 10px 0;
  float: left;
  width: 100%; }

#advanced-search p {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid #DDDDDD;
  font-weight: bold;
  position: relative; }
  
#advanced-search p input {
	position: absolute;
	right: 23px;
}
	

#advanced-search #sorting-options select {
  width: 150px;
  float: left;
  margin: 0 10px 0 0; }

#advanced-search #sorting-options .order-arrow {
  display: inline-block; }

#advanced-search #sorting-options .order-arrow img {
  opacity: 1;
  filter: alpha(opacity=100);
  height: 20px;
  position: relative;
  margin-right: 5px; }

#advanced-search #sorting-options .order-arrow.active img {
  opacity: 0.4;
  filter: alpha(opacity=40); }

#advanced-search #sorting-options ul {
  display: none; }

#advanced-search #veg-options {
  clear: both; }

#advanced-search #veg-options .veg-choice {
  text-decoration: none; }

#advanced-search #veg-options .veg-choice img {
  width: 66px;
  opacity: 0.4;
  filter: alpha(opacity=40); }

#advanced-search #veg-options .veg-choice.active img {
  opacity: 1;
  filter: alpha(opacity=100); }

#advanced-search #veg-options input {
  display: none; }

#advanced-search #incl-ings a {
  text-decoration: none; }

#advanced-search #incl-ings .option {
  font-size: 12px;
  padding: 0;
  border: 2px solid #BBB;
  width: 80px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  margin-bottom: 10px; }

#advanced-search #incl-ings .option.active {
  background-color: #629b31;
  background-color: rgba(98, 155, 49, 0.5); }

#advanced-search #incl-ings .option.first {
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

#advanced-search #incl-ings .option.last {
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  border-left: none; }

#advanced-search #incl-ings ul {
  display: none; }

#advanced-search .ingredients-input {
  width: 200px;
  margin: 0; }

#advanced-search #included-ingredients a {
  display: block;
  margin: 5px 0;
  text-decoration: none; }

#advanced-search #excluded-ingredients a {
  display: block;
  margin: 5px 0;
  text-decoration: none; }

#advanced-search .filtered-ingredient {
  background-color: #EAF2E9;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 4px 0 7px 6px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;
  line-height: 10px;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  background-image: url("/static/img/icons/delete.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 98% 0%; }

#advanced-search .filtered-ingredient:hover {
  box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  border: 1px solid rgba(0, 0, 0, 0.5); }

#advanced-search #extra-info {
  margin-bottom: 0; }

#advanced-search #extra-info ul {
  margin: 0 0 10px 5px; }

#advanced-search #extra-info li {
  margin: 0; }

#advanced-search #extra-info label {
  font-size: 11px;
  font-weight: normal; }
  
#browse-recipes-right-column {
	width: 100%;
  	float: right;
}

#browse-recipes-right-column.advanced {
	width: 733px;
  	min-height: 900px;
}

#browse-recipe-summaries-wrapper {
  margin: 30px 20px;
  position: relative;
  text-align: center; }

#browse-recipe-summaries-wrapper.advanced { }

#browse-recipe-summaries-wrapper #search-result-count {
}

#browse-recipe-summaries-wrapper p.sorry {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  font-weight: bold; }

#browse-recipe-summaries-wrapper a {
  text-align: left; }
  
.ui-autocomplete {
  z-index: 998;
}
  
@media only screen and (max-width: 963px) {
	
	#content-container {
		width: 100%;
	}
	
	#add-recipe-button {
		height: 20px;
		background-position: 0;
		width: 20px;
		padding: 0;
		margin-right: 5%;
	}
	
	#add-recipe-button #add-recipe-button-text {
		display: none;
	}
	
	#search-form-divider {
		display: none;
	}
	
	.advanced-link {
		position: inherit;
		width: 320px;
		max-width: 90%;
		margin: 20px auto 0;
		display: block;
		text-align: center;
	}
 
	#advanced-link {
		display: block;
	}
	
	#not-advanced-link {
		display: none;
	}
	
	#advanced-search {
		position: static;
		float: none;
		margin: 5px auto;
		width: 320px;
		border: none;
		display: none;
	}
	
	#browse-recipe-summaries-wrapper {
		text-align: center;
	}
	
	#browse-recipe-summaries-wrapper.advanced {
		width: 100%;
	}

	#browse-recipes-right-column.advanced {
		width: 100%;
  		min-height: 0;
	}
	
	#browse-recipe-summaries-wrapper #search-result-count {
		position: static;
		display: block;
		width: 90%;
		text-align: center;
		clear: both;
		border-bottom: 1px solid #ddd;
		margin: 10px auto;
	}
	
	#browse-recipe-summaries-wrapper .recipe-summary {
		text-align: left;
	}
	
}