@import "variables";

$indicator-height: 30px;

#edit-recipe {
  margin-bottom: 50px;
}

#edit-recipe #steps-indicator {
  border-bottom: 1px solid $dark-border-color;
  height: $indicator-height;
  margin: 10px 0 0;
}

#edit-recipe #steps-indicator .step {
  float: left;
  height: $indicator-height;
  width: calc(100% / 3);
  line-height: $indicator-height;
  text-align: center;
  border: none;
  border-left: 1px solid $dark-border-color;
  background: none;
  border-radius: 0;
  padding: 0;
  text-shadow: none;
  margin: 0;
  position: relative;
}

#edit-recipe #steps-indicator .step .checkbox {
  position: absolute;
  top: 5px;
}

#edit-recipe #steps-indicator #step-1 {
  border-left: none;
}

#edit-recipe #steps-indicator .step.active {
  background-color: $green-light;
}

#edit-recipe #button-group {
  margin-top: 40px;
  text-align: center;
}

#edit-recipe #button-group span {
  display: block;
  height: 10px;
}

#edit-recipe .prev-button {
  float: left;
  width: 100px;
}

#edit-recipe .next-button {
  float: right;
  width: 100px;
}

#edit-recipe #finish-button {
  width: 200px;
}


#edit-recipe #left {
  width: calc(50% - 2px);
  float: left;
}

#edit-recipe #right {
  width: calc(50% - 10px);
  float: right;
  padding-left: 10px;
  border-left: 1px solid $light-border-color;
}


#edit-recipe p {
  margin: 20px 10px 0 0;
}


#edit-recipe #left input, {
  width: 80%;
  margin: 0;
}

#edit-recipe #left textarea {
  width: 80%;
  height: 50px;
  margin: 0;
}

#edit-recipe .aligned {
  width: calc(80% + 10px);
  height: 30px;
}

#edit-recipe .aligned label {
  float: left;
  width: 150px;
}

#edit-recipe .aligned select {
  float: right;
  width: calc(100% - 160px);
  margin: 5px 7px 0 0; 
}

#edit-recipe #right label {
  width: 150px;
  float: left;
}

#edit-recipe #right input {
  float: right;
  margin-top: 2px;
  width: auto;
}

#edit-recipe #right .img-frame {
  margin: 10px 0;
  height: 400px;
}

#edit-recipe #right img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  float: left;
}

#edit-recipe .spinner-wrapper input {
  text-align: right;
}



#edit-recipe #ingredients-intro {
  margin-bottom: 20px;
}

#edit-recipe .message ul {
  list-style: disc outside none;
  margin: 10px 0 0 30px;
}

#edit-recipe #request_ings-button {
  margin: 10px auto;
  display: block;
  width: 200px;
}

#edit-recipe #id_ingredients-ingredients_general_info-extra_info {
  width: 100%;
  height: 30px;
}

#edit-recipe #ingredient-field #ingredient-help-button img {
	width: 20px;
	height: 20px;
	margin: 0 0 -2px 10px;
}

#edit-recipe #ingredient-field .message {
	margin-top: 10px;
	display: none;
}

#edit-recipe #ingredient-field .message p#first-ing-instr {
	margin-top: 0;
}

#edit-recipe .markdown {
  margin-top: 10px;
}

#edit-recipe .markdown .markItUpHeader {
  margin-left: 2px;
}

#edit-recipe .markdown div:not(.markItUpResizeHandle) {
  width: 100%;
}

#edit-recipe .markdown textarea {
  width: calc(100% - 12px);
}

#edit-recipe .markdown li.preview {
  display: none;
}

/**
 *  Ingredient formset
 */

#uses-formset {
  margin-top: 20px;
}

#uses-formset #sortable-ingredients li {
  clear: both;
  padding-left: 30px;
  margin-bottom: 10px;
}

#uses-formset #sortable-ingredients .move-handle {
  position: absolute;
  left: 0;
  height: 30px;
  width: 30px;
  background-image: url('/static/img/icons/move.png');
  background-size: 15px 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#uses-formset #sortable-ingredients .delete-button:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#uses-formset .add-ingredient-button {
  right: 250px;
}

  /** LABELS **/
  #uses-formset #sortable-ingredients .column-labels {
    height: 20px;
    margin-top: 10px;
    display: none;
  }

  #uses-formset #sortable-ingredients .name-label {
    display: inline-block;
    width: 410px;
    margin: 0 82px 0 0;
  }
  
  #uses-formset #sortable-ingredients .amount-label {
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 22px;
  }
  
  #uses-formset #sortable-ingredients .unit-label {
    display: inline-block;
    width: 98px;
    text-align: right;
    margin-right: 20px;
  }
  
  #uses-formset #sortable-ingredients .delete-label {
    float: right;
    width: 100px;
    text-align: center;
  }
  
  /**INGREDIENT FORM**/
  #uses-formset #sortable-ingredients .ingredient input,
  #uses-formset #sortable-ingredients .group input {
    display: inline;
    width: 400px;
    margin: 0 80px 0 0;
  }

  #uses-formset #sortable-ingredients .ingredient input.amount {
    width: 100px;
    text-align: right;
    margin: 0 20px 0 3px;
  }
  
  #uses-formset #sortable-ingredients .ingredient select {
    display: inline;
    width: 100px;
    margin-right: 20px;
    height: 30px;
    margin-top: -5px;
    margin-bottom: 0px;
    position: relative;
    line-height: 1;
    padding: 5px;
    -webkit-appearance: none;
  }
  
  #uses-formset #sortable-ingredients .ingredient select option {
    padding-right: 6px;
  }
  
  #uses-formset #sortable-ingredients .ingredient .delete-button {
    height: 30px;
    width: 100px;
    background-image: url('/static/img/icons/delete.png');
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    transition: all 0.25s ease-in-out;
  }
  
  /**GROUPS**/
  #uses-formset #sortable-ingredients .group {
    line-height: 25px;
    height: 50px;
  }
  
  #uses-formset #sortable-ingredients .group .definition span {
    float: left;
  }

  #uses-formset #sortable-ingredients .group .delete-button-wrapper {
    margin: 3px 5px 0 0;
  }

  #uses-formset #sortable-ingredients .group .delete-button {
    width: 20px;
    height: 20px;
    background-image: url('/static/img/icons/delete.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.25s ease-in-out;
    display: block;
  }

  #uses-formset #sortable-ingredients .group input {
    background-color: transparent;
    border: none;
    width: 200px;
  }
  
  #uses-formset #sortable-ingredients .group input:focus {
    background-color: white;
  }

  #uses-formset #sortable-ingredients .group .labels {
    clear: both;
    display: block;
  }

  #uses-formset #sortable-ingredients .group .name-label {
    margin-left: 20px;
  }
  
  /**ERRORS**/
  #uses-formset .ingredient-errors {
    display: block;
  }
  
  #uses-formset .error {
    float: left;
    display: block;
    min-height: 1px;
  }

  #uses-formset #sortable-ingredients li .ingredient-name-errors {
    width: 400px;
    margin-right: 100px;
  }
  
  #uses-formset #sortable-ingredients li .ingredient-amount-errors {
    width: 120px;
    margin-right: 15px;
  }
  
  #uses-formset #sortable-ingredients li .ingredient-unit-errors {
    width: 100px;
  }

  #uses-formset #sortable-ingredients li .errorlist {
    margin: 0;
  }
  
  #uses-formset #sortable-ingredients li .errorlist li {
    margin: 0;
    padding: 0;
  }
