@media print {
		#header,
		#header-margin,
		#recipe-actions,
		#below-recipe-name,
		.footprint-percentage,
		.ingredient-moreinfo-button {
			display: none;
		}
		
		#timebar-active {
			background-color: green;
		}
		
		#timebar-passive {
			background-color: grey;
		}
		
		#comment-section,
		#footer {
			display: none;
		}
}