#recipe-header-container {
	margin-top: -20px;
	background-color: #bada9e;
}

#recipe-header {
	position: relative;
	margin: auto;
	height: 320px;
}

#recipe-header #recipe-description h2 {
	font-family: Verdana, Geneva, sans-serif;
}

#recipe-header #recipe-images {
	position: absolute;
	right: 0;
	top: 0;
	width: 320px;
	height: 100%;
	overflow: hidden;
	background-color: white;
}

#recipe-images #current-image {
	margin: 5px;
	width: 310px;
}

#info-icons-container {
	height: 80px;
	background-color: #629b31;
}