@import "variables";

h1.recipe-title {
  position: relative;
  border-bottom: 2px solid #333; }

h1 #recipe-actions {
  position: absolute;
  right: 0;
  bottom: 0; }

#recipe-actions img {
  height: 45px;
  opacity: 0.5;
  transition: all .3s ease-out;
  float: right; }

#recipe-actions img:hover {
  opacity: 1; }

#below-recipe-name {
  margin-bottom: 30px; }

#below-recipe-name #add-info {
  float: left; }

#below-recipe-name #rating-display {
  float: right; }

#below-recipe-name #rating-display img {
  height: 38px; }

#add-info #time-added {
  font-size: .75em; }

#recipe {
  margin-bottom: 40px; }

#recipe #first-information {
  clear: both;
  position: relative; }

#recipe #img-and-basic-user-options {
  float: right;
  width: 350px;
  margin: 0 0 10px 10px;
  background-color: rgba(118, 186, 59, 0.1);
  position: relative; }

#img-and-basic-user-options #recipe-img {
  width: 330px;
  height: 330px;
  display: block;
  margin: 2.5% 0 0 2.5%;
  cursor: url(/static/img/icons/zoom.cur), -moz-zoom-in; }

#img-and-basic-user-options #recipe-footprint-wrapper {
  position: absolute;
  top: 260px;
  right: 15px;
  width: 100px;
  height: 74px;
  background-image: url("/static/img/icons/cloud.png"); }

#img-and-basic-user-options #recipe-footprint-wrapper #recipe-footprint {
  font-size: 20px;
  color: #333;
  display: block;
  text-align: center;
  margin-top: 25px; }

#zoomed-recipe-image-container {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 9995;
  cursor: url("/static/img/icons/zoomout.cur"), -moz-zoom-out;
  display: none; }

#zoomed-recipe-image-container #page-darkener {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  /* Safari, Opera */
  filter: alpha(opacity=70);
  /* IE */ }

#zoomed-recipe-image-container #zoomed-recipe-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

#img-and-basic-user-options > div {
  margin: 10px 0 0 2.5%; }

#rating #current-rating {
  margin: 10px 0 0 10px; }

#current-rating #rating-display {
  float: left; }

#rating #user-rating {
  margin: 10px 0 0 10px; }

#user-rating #user-rating-display {
  display: inline; }

#time-needed .timebar {
  width: 95%;
  height: 16px;
  padding: 0px;
  margin: 10px 0 25px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa #bbb #fff #bbb;
  box-shadow: inset 0px 2px 3px #bbb;
  position: relative;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-topright: 4px;
  -webkit-border-radius-bottomright: 4px;
  -o-border-radius-topright: 4px;
  -o-border-radius-bottomright: 4px; }

#time-needed .timebar, .timebar-active, .timebar-passive {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius-topleft: 4px;
  -webkit-border-radius-bottomleft: 4px;
  -o-border-radius-topleft: 4px;
  -o-border-radius-bottomleft: 4px; }

.timebar .timebar-active, .timebar-passive {
  height: 100%;
  background-size: 18px 18px;
  background-color: #ac0;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  box-shadow: inset 0px 2px 8px rgba(255, 255, 255, 0.5), inset -1px -1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0; }

.timebar .timebar-passive {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius-topleft: 0;
  -webkit-border-radius-bottomleft: 0;
  -o-border-radius-topleft: 0;
  -o-border-radius-bottomleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-topright: 4px;
  -webkit-border-radius-bottomright: 4px;
  -o-border-radius-topright: 4px;
  -o-border-radius-bottomright: 4px;
  background-color: #AAAAAA;
  left: auto;
  right: 0; }

.timebar span {
  position: absolute;
  right: -2%;
  top: 20px; }

#portions {
  position: relative; }

#portions #portions-slider-wrapper {
  height: 40px;
  margin: 10px 0 20px 10px;
  width: 70%; }

#portions #portions-slider {
  top: 20px; }

#portions #portions-slider-labels {
  width: 99.5%;
  height: 1px;
  margin: 0 0 0 -2px;
  position: relative; }

#portions-slider-labels .portions-slider-label {
  position: absolute; }

#portions #custom-portions-input {
  width: 15%;
  position: absolute;
  right: 3%;
  bottom: 0;
  top: 33px;
  text-align: right; }

#recipe .recipe-info-wrapper {
  margin: 40px 0 30px; }

#recipe .recipe-info-wrapper > div,
#recipe .recipe-info-wrapper .ingredient {
  margin: 0;
  padding: 10px 0 10px 20px;
  text-align: justify;
  line-height: 16px; }

#recipe #basic-info {
  clear: left;
  width: 510px;
  margin-top: 20px; }

#basic-info #vague-description {
  position: relative; }

#basic-info #vague-description #veganism {
  margin-top: 10px; }

#basic-info #vague-description #veganism img {
  height: 40px; }

#basic-info #vague-description #veganism img.not-this {
  opacity: 0.1;
  filter: alpha(opacity=10);
  /* For IE8 and earlier */ }

#basic-info #description {
  clear: left;
  margin-top: 25px; }

#basic-info #description p {
  margin-top: 0; }

#recipe #chart-tabs {
  clear: left;
  width: 510px;
  height: 350px;
  position: absolute;
  bottom: 10px; }

#recipe #chart-tabs ul {
  font-size: 10px; }

#recipe #chart-tabs .ui-tabs-panel {
  padding: 5px 0; }

#recipe #recipe-fpevo-chart,
#recipe #recipe-fprel-chart {
  width: 500px;
  height: 300px; }

#recipe #charts-ajax-loader {
  position: absolute;
  bottom: 200px;
  left: 240px;
  display: none; }

#ingredients h4 {
  margin-top: 10px;
  font-weight: bold; }

.ingredient.dark-row {
  background-color: rgba(118, 186, 59, 0.1); }

.ingredient .ingredient-left {
  display: inline-block;
  width: 47%;
  float: left; }

.ingredient-left .ingredient-name {
  display: inline-block; }

.ingredient-left .ingredient-amount {
  float: right; }

.ingredient .ingredient-right {
  width: 40%;
  height: 1px;
  float: right; }

.ingredient-right .ingredient-footprint {
  float: right;
  width: 7.5em;
  text-align: right; }

.ingredient-right .ingredient-moreinfo-button {
  width: 48px;
  float: right; }

.ingredient .footprint-percentage {
  float: right;
  height: 16px;
  width: 50%;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa #bbb #fff #bbb;
  box-shadow: inset 0px 2px 3px #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px; }

.ingredient .moreinfo {
  padding-top: 20px;
  margin-right: 20px; }

.ingredient .moreinfo .basic-moreinfo {
  margin-bottom: 10px; }

.ingredient .moreinfo .ingredient-availability {
  margin-top: 10px; }

.ingredient .moreinfo .ingredient-availability .month {
  width: 60px; }

.footprint-percentage .percentage-number {
  float: left;
  font-size: 0.7em;
  margin-left: 5px;
  position: relative;
  z-index: 4;
  color: black; }

.footprint-percentage .footprint-fill {
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  background-size: 18px 18px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  box-shadow: inset 0px 2px 8px rgba(255, 255, 255, 0.5), inset -1px -1px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius-topleft: 0;
  -webkit-border-radius-bottomleft: 0;
  -o-border-radius-topleft: 0;
  -o-border-radius-bottomleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-radius-topright: 4px;
  -webkit-border-radius-bottomright: 4px;
  -o-border-radius-topright: 4px;
  -o-border-radius-bottomright: 4px;
  background-color: #B80000; }

.ingredient-moreinfo-button img {
  margin: auto;
  display: block;
  width: 16px;
  height: 16px; }

.ingredient .moreinfo {
  height: 80px;
  position: relative;
  display: none; }

.moreinfo .ajax-loader {
  padding-top: 30px; }

.recipe-info-wrapper #extra-info {
  margin-top: 30px; }

#recipe .recipe-info-wrapper p {
  margin: 10px 0 0 10px; }

#recipe .recipe-info-wrapper #instructions {
  padding-top: 0; }

#instructions #instructions-warning {
  padding: 5px;
  margin: 0 0 20px 0;
  background-color: rgba(98, 155, 49, 0.5);
  border: 1px dashed #5B6553;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  display: none; }

#give-comment .comment {
  padding-top: 10px;
  padding-bottom: 30px; }

.comment textarea {
  width: 99%;
  height: 150px;
  max-width: none;
  float: none; }

#comment-list {
  width: 100%;
  margin: 20px 0 50px; }

#comment-list .comment {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D5EBC1;
  transition: all .5s ease-out; }

#comment-list .comment:hover {
  background-color: rgba(118, 186, 59, 0.1);
  transition: all .5s ease-out; }

.comment .commenter-img {
  float: left; }

.commenter-img img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border: 2px solid #5B6553; }

.comment-content {
  margin-left: 140px;
  position: relative; }

.comment-content .commenter a {
  color: #76BA3B;
  text-decoration: none;
  font-weight: 600;
  transition: all .3s ease-out; }

.comment-content .comment-submit-date a {
  color: #76BA3B;
  text-decoration: none;
  font-size: .75em;
  transition: all .3s ease-out; }

.comment-content a:hover {
  color: #598c2c;
  transition: all .3s ease-out; }

.comment-content .comment-delete {
  position: absolute;
  top: 0;
  right: 0; }

.comment-content .comment-body {
  margin-top: 10px;
  width: 80%;
  text-align: justify; }