.donate-method {
  float: left;
  width: 45%;
  height: 250px;
  margin: 0 0 30px 2%;
  background-color: #F7FCF7;
  padding: 5px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border: 1px solid transparent;
  -moz-border-radius: 15px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out; }

.donate-method#paypal-donate {
  float: right;
  margin: 0 2% 30px 0; }

.donate-method h3 {
  border-bottom: 1px solid #333; }

.donate-method #account-nr {
  text-align: center;
  font-weight: bold; }

#paypal-donate form {
  text-align: center; }