{% load compressed %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title>Seasoning | {% block title %}Home{% endblock %}</title>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="nl-be" />
		<meta name="ROBOTS" content="ALL" />
		<meta name="Copyright" content="Seasoning" />
		<meta name="description" content="{% block meta_description %}{% endblock %}" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
		{% block moar_meta_tags %}{% endblock %}
		
		<!-- Bootstrap Readable theme -->
		{% if LOCAL_TEST and None %}
		<link rel="stylesheet" href="{{ STATIC_URL }}dev/bootstrap.min.css">
		{% else %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/readable/bootstrap.min.css">
		{% endif %}
		
		{% block default_static_stuff %}
        <link rel="icon" href="{{ STATIC_URL }}img/logos/favicon.png" type="image/png" />
		{% compressed_css 'global' %}
		{% compressed_css 'mobile' %}
        {% if 'profile' in request.path %}
        {% compressed_css 'authentication' %}
        {% elif 'ingredients' in request.path %}
        {% compressed_css 'ingredients' %}
        {% elif 'recipes' in request.path %}
        {% compressed_css 'recipes' %}
        {% elif 'faq' in request.path %}
        {% compressed_css 'faq' %}
        {% else %}
        {% compressed_css 'general' %}
        {% endif %}
		{% block extra_link %}{% endblock %}
		
		
		<script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
		<!-- Bootstrap JavaScript -->
		{% if LOCAL_TEST %}
		<script src="{{ STATIC_URL }}dev/bootstrap.min.js"></script>
		{% else %}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		{% endif %}
		
		<script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
		{% endblock %}
		
		{% block extra_script %}{% endblock %}
		
		{% block extra_head %}{% endblock %}
		<script type="text/javascript">
			function setHeader() {
			    if ($(this).width() >= 750) {
                    $("#header").css("top",Math.max(-160, -$(this).scrollTop()));
    			} else {
    			    $("#header").css("top", 0);
    			}
			};
			
			$(window).scroll(setHeader);
			$(window).resize(setHeader);
			
			function showMobileNav() {
				if ($("#header").hasClass('active')) {
					$("#header").removeClass('active');
					$("#header").animate({height: "50px"}, 500)
				} else {
					$("#header").animate({height: "300px"}, 500, function() {
						$("#header").addClass('active');
					})
				}
			}
		</script>
	</head>
	
	<body class="{% block bodyclass %}{% endblock %}">
        
        <a id="top-of-page" style="position:absolute;left:0px;top:0px"></a>
        {% block body-hook %}{% endblock %}
        
        {% block body %}
	    <div id="header">
	    	{% if 'dev.' in request.get_host %}
	    	<div id="dev-watermark" style="position: absolute;margin:50px 0;font-size:50px;font-weight:bold;width:100%;text-align:center;color:maroon;z-index:3000">DEVELOPMENT VERSION</div>
	    	{% endif %}
	        <div id="header-container" class="container">
	            <div id="logo">
                    <a href="{% url 'home' %}"></a>
                </div>
                {% if user.is_staff %}
                <div id="admin-links">
	                <a href="/admin/" style="position:absolute;top:0;right:0;">Admin Pages</a>
	                <a href="/admin/ingredients/list/" style="position:absolute;top:20px;right:0;">Ingredient List</a>
	                <a href="{% url 'contact_overview' %}" style="position:absolute;top:40px;right:0;">Contact Overzicht</a>
	                <a href="/upload/img/" style="position:absolute;top:60px;right:0;">Upload Image</a>
	                <a href="https://github.com/SeasoningDev/Seasoning/issues/new" style="position:absolute;top:80px;right:0;">Bug report</a>
	                <a href="{% url 'proofread_recipes' %}" style="position:absolute;top:100px;right:0;">Recepten Scraper</a>
	                {% if 'dev.' in request.get_host %}
	    			<a href="#" onclick="$('#dev-watermark').remove();return false;" style="position:absolute;top:120px;right:0;">Verwijder Rode letters</a>
	    			{% endif %}
                </div>
                {% endif %}
                <span id="grass-container">
	                <span id="grass-end-left"> </span>
	                <span id="grass"> </span>
	                <span id="grass-end-right"> </span>
	            </span>
                <a href="#" onclick="showMobileNav(); return false;"><img id="show-nav-button" src="{{ STATIC_URL }}img/icons/shownav.png" /></a>
                <div id="nav-container">
                    <div class="{% block recipes-active %}{% endblock %} navlink"><a href="{% url 'browse_recipes' %}">RECEPTEN</a></div>
                    <div class="{% block ingredients-active %}{% endblock %} navlink"><a href="{% url 'browse_ingredients' %}">INGREDIËNTEN</a></div>
                    <div class="{% block contribute-active %}{% endblock %} navlink"><a href="{% url 'contribute' %}">BIJDRAGEN</a></div>
                    {% if user.is_authenticated %}
                    <div class="{% block myaccount-active %}{% endblock %} navlink"><a href="{% url 'my_profile' %}">MIJN PROFIEL</a></div>
                    <div class="navlink"><a href="{% url 'logout' %}">AFMELDEN</a></div>
                    {% else %}
                    <div class="{% block register-active %}{% endblock %} navlink"><a href="{% url 'registration' %}">REGISTREREN</a></div>
                    <div class="{% block login-active %}{% endblock %} navlink"><a href="{% url 'login' %}">AANMELDEN</a></div>
                    {% endif %}                    
                </div>
            </div>
        </div>
        
        <div id="content">
        	{% block header-margin %}
        	<div id="header-margin"> </div>
        	{% endblock %}
        	
        	{% block before-content %}
        	<div id="content-margin"> </div>
        	{% endblock %}
        	
        	{% block content-container %}
        	<div id="content-container" class="container">
                {% block messages %}
            	{% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endblock %}
                {% block content-wrapper %}
                {% block content %}{% endblock %}
                {% endblock %}
			</div>
			{% endblock %}
			<div class="push"> </div>
		</div>
        
        <div id="footer">
			<div id="footer-container" class="container">
			    <div id="cc-license" class="small-screen-hidden">
                    <a rel="gitrepo" href="https://github.com/SeasoningDev/Seasoning" target="_blank">
                        <img id="github-logo" title="De broncode van Seasoning op Github" style="border-width:0" src="/static/img/logos/github.png" alt="Seasoning op Github" />
                    </a>
                    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.nl" target="_blank">
                    	{% if LOCAL_TEST %}
                        <img title="Creative Commons Licentie" style="border-width:0" src="{{ STATIC_URL }}dev/cclogo.png" alt="Creative Commons Licentie" />
                        {% else %}
                        <img title="Creative Commons Licentie" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="Creative Commons Licentie" />
                        {% endif %}
                    </a>
                </div>
                <div id="footer-links" class="small-screen-hidden">
                    <ul>
                        <li class="first">
                            <a href="{% url 'static_page' 'about' %}">Over Seasoning</a>
                        </li>
                        <li>
                            <a href="{% url 'static_page' 'contact' %}">Contact</a>
                        </li>
                        <li>
                            <a href="{% url 'static_page' 'thanks' %}">Dankbetuigingen</a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">Help</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="{% url 'static_page' 'terms' %}">Voorwaarden</a>
                        </li>
                        <li>
                            <a href="{% url 'static_page' 'privacypolicy' %}">Privacybeleid</a>
                        </li>
                        <li>
                            <a href="{% url 'static_page' 'sitemap' %}">Sitemap</a>
                        </li>
                    </ul>
                </div>
                <div id="social-icons" class="">
                    <a href="#" id="bookmark-link"><img src="/static/img/icons/favorite-us.png" class="social-logo" title="Voeg Seasoning toe aan je Favorieten!" alt="Bookmark us" /></a>
                    <a href="http://www.facebook.com/Seasoningbelgium" target="_blank"><img src="/static/img/logos/fb-logo-2.png" class="social-logo" title="De Facebookpagina van Seasoning" alt="Onze facebookpagina" /></a>
                    <a href="http://www.twitter.com/Seasoningbe" target="_blank"><img src="/static/img/logos/tw-logo.png" class="social-logo" title="De Twitterpagina van Seasoning" alt="Onze twitterpagina" /></a>
                </div>
   			</div>
		</div>
		{% endblock %}
	</body>
</html>
