{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<h2>Contact - {{ contact_type }}</h2>

<div id="contact-form">
    <form action="" method="post">
        {% csrf_token %}
        
        {% if form.errors %}
    		<div class="form-errors-notice">
    			Er is een probleem opgetreden bij het versturen van het contactformulier. Gelieve onderstaande fouten te verbeteren.
    		</div>
    	{% endif %}
      	
    	<div class="field-wrapper tooltip-field{% if form.subject.errors %} field-with-error{% endif %}">
            {{ form.subject.label_tag }}
            {{ form.subject }}
            <div class="tooltip">{{ form.subject.help_text }}</div>
            
            {% if form.subject.errors %}        
    			{{ form.subject.errors }}	
            {% endif %}
    	</div>
        
        <div class="field-wrapper tooltip-field{% if form.message.errors %} field-with-error{% endif %}">
            {{ form.message.label_tag }}
            {{ form.message }}
            <div class="tooltip">{{ form.message.help_text }}</div>
            
            {% if form.message.errors %}        
    			{{ form.message.errors }}	
            {% endif %}
    	</div>
        
        {% if not user.is_authenticated %}        
        <div class="field-wrapper tooltip-field{% if form.your_email.errors %} field-with-error{% endif %}">
            {{ form.your_email.label_tag }}
            {{ form.your_email }}
			<span class="under-field-link">We hebben je e-mailadres nodig om je terug te kunnen contacteren.</span>
            <div class="tooltip">{{ form.your_email.help_text }}</div>
            
            {% if form.your_email.errors %}        
    			{{ form.your_email.errors }}	
            {% endif %}
    	</div>
    	
    	<div class="field-wrapper captcha-wrapper{% if form.captcha.errors %} field-with-error{% endif %}" id="captcha-wrapper">
            <div id="captcha-height-reserver">
            	{{ form.captcha }}
            </div>
            {{ form.captcha.errors }}
    	</div>
        {% endif %}
        
        <br class="clear" />
        
        <input type="submit" value="Verzenden" />
    </form>
</div>

{% endblock %}
