{% extends "base.html" %}

{% block before-content %}
{% endblock %}

{% block content-container %}
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Cabin' rel='stylesheet' type='text/css'>
	    
<style>
#intro-div-1 {
	text-align: center;
	height:100vh;
	background:url('{{ STATIC_URL }}img/decoration/landing1.jpg') no-repeat center center;
	background-clip: content-box; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: relative;
  	padding-bottom: 50px;
}

#intro-div-1 h1 {
	font-family: 'Lobster', cursive;
	font-size: 100px;
	line-height: 100px;
	color: #fff;
	margin: 0;
}

#intro-div-1 .intro-text {
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	margin-top: 20px;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}


#about {
	text-align: center;
	position: relative;
	margin-top: -50px;
	padding-top: 140px;
}

#about #about-bg {
	width: 100%;
	height:100vh;
	background:url('{{ STATIC_URL }}img/decoration/landing2.jpg') repeat-y center center;
	background-clip: content-box; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: absolute;
  	top:0;
  	padding-bottom: 50px;
}

#about-bg h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 50px;
	line-height: 40px;
	color: #fff;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, .5);
	margin: 0 0 30px;
	position: absolute;
	top: 0;
	z-index: 900;
	width: 100%;
}

#about .slide {
	background-color: rgba(0, 0, 0, .5);
	position: relative;
}

#about .explain {
	color: #fff;
	text-align: left;
	font-size: 20px;
	padding: 18px;
	height: 340px;
	display:table-cell;
	vertical-align: middle;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#about .explain p {
	margin: 0;
}

#about .image {
	height: 350px;
	padding: 20px 10px;
	overflow: hidden;
}

#about .image .recipe-summary-wrapper:first-child {
	margin-right: 40px;
}

#about #about-slide-2,
#about #about-slide-3 {
	margin-top: 200px;
}


#more {
	min-height: 650px;
	background:url('{{ STATIC_URL }}img/decoration/landing3.jpg') repeat-y center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-bottom: -59px;
  	padding-top:100px;
}

.centerer-container {
	width:100%;
	position:absolute;
	top:50%;
}

.centerer-container .centerer {
	width:100%;
	position:absolute;
	top:-50%;
}

.next {
	position: relative;
}

.next img {
	height: 80px;
	margin: 0;
	transition: background .5s ease;
	border-radius: 100%;
}

.next img:hover {
	background-color: rgba(255, 255, 255, .3);
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px 74px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, .5);
    min-height: 350px;
    position: relative;
}
.box-icon {
    background-color: #629B31;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    font-size: 40px;
    padding-top: 5px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    font-family: Lobster;
}
.info > p {
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.info > a {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
}

</style>

<div id="intro-div-1">
	<div class="centerer-container" style="height:263px;margin-top:30px;">
		<div class="centerer" style="height:100%;">
			<h1>Seasoning</h1>
			<p class="intro-text">Koken op het ritme van de seizoenen.</p>
			<a class="next" href="#about" class="btn btn-circle page-scroll" onclick="$('html, body').animate({'scrollTop': $('#about').offset().top - 49}, 1000);return false;">
	        	<img src="{{ STATIC_URL }}img/icons/down-button.png" style="margin-top: 20px;" />
	        </a>
		</div>
	</div>
</div>

<div id="about">
		
		<div id="about-bg">
			<h1>Wat is Seasoning?</h1>
		</div>
		
		<div class="container">
			<div id="about-slide-1" class="row slide">
				<div class="col-xs-12 col-sm-6">
					<div class="explain" style="">
						<p>
							Seasoning is een site voor iedereen die ecologisch bewuster 
							om wil gaan met zijn dagelijkse voeding.
						</p>
						<br />
						<p>
							Omdat je hierbij met zoveel dingen rekening moet houden (het seizoen,
							de productiewijze, de transportmethode, het land van herkomst, ...), kan
							het soms moeilijk zijn om door de bomen het bos nog te zien.
						</p>
						<br />
						<p>
							Seasoning vat al deze informatie samen en geeft ze op een duidelijke
							en toegankelijke manier weer. Zo wordt het voor jou gemakkelijker een
							duurzame maaltijd te kiezen!
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="image">
						<img src="http://www.naturalawakeningsmag.com/images/cache/cache_e/cache_c/cache_8/Sustainable-Food-Options-20b438ce.jpeg?ver=1421306080&aspectratio=1.5350877192982" 
							 style="height:100%;"/>
					</div>
				</div>
			</div>
				
			<a class="next row" href="#about" class="btn btn-circle page-scroll" onclick="$('html, body').animate({'scrollTop': $('#about-slide-2').offset().top - 189}, 1000);return false;">
			   	<img src="{{ STATIC_URL }}img/icons/down-button.png" />
			</a>
		
			
			<div id="about-slide-2" class="row slide">
				<div class="col-xs-12 col-sm-6">
					<div class="image">
						{% include 'includes/recipe_summary.html' with recipe=recipe_fish %}
						{% include 'includes/recipe_summary.html' with recipe=recipe_season %}
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="explain" style="">
						<p>
							Onze recepten worden opgedeeld in 5 categorieën naargelang hoe duurzaam ze 
							zijn ten opzichte van alle andere recepten. Zo kan ze makkelijk onderling
							vergelijken.
						</p> 
						<br />
						<p>	
							Wanneer een recept een speciale eigenschap heeft, wordt dit aangegeven door
							een lintje in de linkerbovenhoek.
						</p>
					</div>
				</div>
			</div>
				
			<a class="next row" href="#about" class="btn btn-circle page-scroll" onclick="$('html, body').animate({'scrollTop': $('#about-slide-3').offset().top - 189}, 1000);return false;">
			   	<img src="{{ STATIC_URL }}img/icons/down-button.png" />
			</a>
		
			
			<div id="about-slide-3" class="row slide">
				<div class="col-xs-12 col-sm-6">
					<div class="explain" style="">
						<p>
							Seasoning biedt nog veel meer functionaliteit en informatie, maar we raden je aan
							zelf op verkenning te gaan!
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="image">
						<img src="http://sspp.proquest.com/static_content/vol9iss2/1204-021.fig2.jpg"
							 style="height:100%;" />
					</div>
				</div>
			</div>
				
			<a class="next row" href="#about" class="btn btn-circle page-scroll" onclick="$('html, body').animate({'scrollTop': $('#more').offset().top}, 1000);return false;">
			   	<img src="{{ STATIC_URL }}img/icons/down-button.png" />
			</a>
		</div>
</div>

<div id="more">
	<div class="container" style="padding-bottom:59px;">
	    <div class="row">
	        <div class="col-xs-12 col-sm-4">
	            <div class="box">
	                <div class="box-icon">
	                    <span class="glyphicon glyphicon-leaf"></span>
	                </div>
	                <div class="info">
	                    <h4 class="text-center">Recepten vergelijken</h4>
	                    <p>
	                    	Ontdek onze uitgebreide verzameling recepten en ondervind meteen dewelke op
	                    	dit moment 
	                 		een lage ecologische impact hebben. Geen registratie vereist!
	                    </p>
	                    <a href="{% url 'browse_recipes' %}" class="btn btn-block btn-success">Recepten</a>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="box">
	                <div class="box-icon">
	                    <span class="glyphicon glyphicon-info-sign"></span>
	                </div>
	                <div class="info">
	                    <h4 class="text-center">Hoe werkt het?</h4>
	                    <p>
	                    	Wil je meer te weten komen over de verschillende functies van Seasoning? Raadpleeg
	                    	dan onze uitgebreide en duidelijke help-pagina.
	                    </p>
	                    <a href="{% url 'faq' %}" class="btn btn-block btn-success">Meer over Seasoning</a>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4">
	            <div class="box">
	                <div class="box-icon">
	                    <span class="glyphicon glyphicon-user"></span>
	                </div>
	                <div class="info">
	                    <h4 class="text-center">Doe mee</h4>
	                    <p>
	                    	Om zelf recepten toe te voegen en hun voetafdruk te ontdekken, moet je eerst <a href="{% url 'registration' %}">registreren</a>.
	                    </p>
	                    <p>
	                    	Als je je nog meer wil engageren voor onze visie, kan je hier meer uitleg vinden over hoe
	                    	ons het meeste kan helpen:
	                    </p>
	                    <a href="{% url 'contribute' %}" class="btn btn-block btn-success">Bijdragen</a>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

</div>

<script type="text/javascript">
var nav_height = 50;

$(function() {
	function set_about_bg() {
		var scrollpos = $(window).scrollTop();
		var scrh = $(window).height();
		
		if ($("#about-bg").css('position') == 'fixed') {
			if (scrollpos < $("#about").offset().top - nav_height) {
				$("#about-bg").css('position', 'absolute');
				$("#about-bg").css('top', 0);
				$("#about-bg").css('bottom', 'auto');
			} else if (scrollpos + scrh > $("#more").offset().top) {
				$("#about-bg").css('position', 'absolute');
				$("#about-bg").css('top', 'auto');
				$("#about-bg").css('bottom', -nav_height + 'px');
			}
		} else {
			if ((scrollpos > $("#about").offset().top - nav_height) && (scrollpos + scrh < $("#more").offset().top)) {
				$("#about-bg").css('position', 'fixed');
				$("#about-bg").css('top', nav_height + 'px');
			} else if ((scrollpos + scrh > $("#more").offset().top) && ($("#about-bg").css('top') != 'auto')) {
				$("#about-bg").css('position', 'absolute');
				$("#about-bg").css('top', 'auto');
				$("#about-bg").css('bottom', -nav_height + 'px');
			}
		}
	}

	if ($(window).scrollTop() <= 0)
		$("html").scrollTop($("#header-margin").outerHeight() - $("#nav-container").height());
	
	$(window).scroll(set_about_bg);
	set_about_bg();
			
	
})
</script>
{% endblock %}