{% extends "base.html" %}

{% block meta_description %}
Seasoning berekent automatisch de ecologische voetafdruk van jouw recepten. Vergelijk 
je dagelijkse kost met anderen en haal samen onze voetafdruk naar beneden!
{% endblock %}

{% block content %}
<div style="text-align: center; position: relative;">
	<h1 style="border: none; margin: 20px 0 5px 0;">Koken op het ritme van de seizoenen</h1>
	<h5>Scroll naar beneden en kom meer te weten over Seasoning</h5>
	<hr class="leaf-line" />
</div>
<div style="margin-top: 20px;">
	<div id="info-img-container-1" class="info-img-container">
		<img class="info-img" src="/static/img/decoration/homepage1.jpg" style="float: left; margin-left: 0;" alt="" />
		<div style="padding-top: 30px;">
			<h3>Wat is Seasoning?</h3>
			<p>
				Seasoning is een interactief platform om de duurzaamheid van recepten doorheen het jaar met elkaar te vergelijken. De 
				voetafdruk van recepten wordt automatisch berekend en past zich aan naargelang het seizoen. 
				<img id="arrow-img-1" src="{{ STATIC_URL }}img/decoration/arrow.png" style="position:absolute;" alt="" />
			</p>
			<p>
				Geef smaak aan de seizoenen en hou op deze manier rekening met het milieu én je gezondheid.
			</p>
		</div>
		<br class="clear" />
	</div>
	<div id="info-img-container-2" class="info-img-container">
		<img class="info-img" src="/static/img/decoration/homepage2.png" style="float: right; margin-right: 0;" alt="" />
        <div style="padding-top: 0px; text-align: left;">
			<h3>Waarom?</h3>
			<p>
				De impact van ons eten op het milieu is niet te verwaarlozen. Steeds meer mensen beseffen dit en proberen 
				bewuster om te gaan met hun voeding. Hierbij moet echter rekening gehouden worden met talloze factoren als:
			</p>
				<ul style="list-style: disc outside; margin: -10px 0 0 30px;">
				    <li>Het seizoen</li>
				    <li>De productiewijze</li>
				    <li>De transportmethode</li>
				    <li>De herkomst</li>
				</ul>
			<p>
				Omdat dit niet altijd even eenvoudig is, probeert Seasoning deze informatie samen te vatten en je te helpen bij
				het maken van een bewuste keuze.
			</p>
		</div>
    </div>
	<div id="info-img-container-3" class="info-img-container">
        <img class="info-img" src="/static/img/decoration/homepage3.png" style="float: left; margin: 40px 42px 40px -2px;" alt="" />
        <div style="padding-top: 40px; text-align: left; position: relative;">
        	<img src="/static/img/decoration/arrow2.png" style="position: absolute; right: 50%; top: 18%; height: 30%;" />
            <h3>Hoe werkt het?</h3>
            <p>
                Seasoning berekent voor elk recept een voetafdruk. Dit gebeurt aan de hand van de opgegeven hoeveelheden 
                in de beschrijving van het recept en onze gegevens over de gebruikte ingrediënten. Elke voetafdruk die je 
                op Seasoning ziet, geeft het aantal kilogram CO2-uitstoot per 4 porties weer.
            </p>
            <p>
                Als alle seizoensgebonden ingrediënten hun duurzaamste niveau bereiken, krijgt het recept bovendien een 
                groen 'in seizoen' lintje. Als het recept daarentegen ingrediënten bevat waarbij je extra moet opletten - 
                zoals slechte beheerde visbestanden - zal het recept een rood lintje krijgen.
            </p>
            <p>
            	De voetafdruk en het lintje kunnen je vervolgens helpen om recepten onderling te vergelijken en een duurzame 
            	keuze te maken!
            </p>
            <p>
                Als je graag wil weten hoe we juist te werk gaan bij de berekening van de voetafdruk, kan je 
                <a href="{% url 'static_page' 'about' %}">hier</a> meer lezen.
            </p>
		</div>
		<br class="clear" />
	</div>
</div>

<hr class="leaf-line" />

<div style="padding-top: 0px; text-align: center;">
             <h3>Maak je eigen profiel!</h3>
            <p id="homepage-bottom-p">
            	Je kan nu al recepten en ingrediënten opzoeken en vergelijken, maar met je eigen profiel kan je
            	ook je eigen recepten en afbeeldingen toevoegen, reageren op andere recepten en jouw voorkeuren bepalen.
            </p>
            <p>
                Registreren op Seasoning gaat snel en is heel eenvoudig!
            </p>
            
            <form action="/profile/register/" method="get" style="text-align: center; margin-top: 40px;">
                <input id="register-button" type="submit" value="Registreer Nu!" />
            </form>
        </div>
    
{% endblock %}
