{% extends "base.html" %}
{% load markdown_filter %}

{% block title %}{{ page_info.name }}{% endblock %}

{% block extra_link %}<link rel="stylesheet" href="{{ STATIC_URL }}css/static.css" />{% endblock %}

{% block content %}
{% if user.is_staff %}
<a class="edit-static-page-link" href="/admin/general/staticpage/{{ page_info.pk }}/">Wijzig deze pagina</a>
{% endif %}

<div id="static-page-wrapper" class="{{ page_info.name }}">
    {{ page_info.body_html|markdown_safe|safe }}
</div>
{% endblock %}