{% extends "base.html" %}

{% block title %}Gebruiksvoorwaarden{% endblock %}


{% block body %}
	
<div class="container">

	<div class="row">
		<h3 class="col-xs-12">Gebruiksvoorwaarden</h3>
	</div>
	
	<br>
	
	<h4>
		1. Algemeen
	</h4>
	
	<p>
		Seasoning is eigendom van en wordt beheerd door de feitelijke vereniging Seasoning. Door het bezoek van de website of 
		het gebruik van &eacute;&eacute;n van onze diensten aanvaardt u integraal deze voorwaarden. Indien &eacute;&eacute;n of meerdere punten uit deze 
		voorwaarden niet of slechts gedeeltelijk afdwingbaar zouden blijken, laat dit de geldigheid van de overige bepalingen 
		onaangetast.
	</p>
	
	<br>
	
	<h4>
		2. Informatie op de website
	</h4>
	
	<p>
		Ondanks de constante zorg en aandacht die de ontwikkelaars aan de samenstelling van de website besteden, is het mogelijk dat informatie die op de 
		site wordt gepubliceerd onvolledig of onjuist is. Seasoning kan hiervoor echter niet verantwoordelijk worden gehouden.
	</p>
	
	<p>
		Seasoning sluit alle aansprakelijkheid uit voor enige directe of indirecte schade, van welke aard dan ook, die voortvloeit uit of verband houdt met 
		het gebruik van de website. De ontwikkelaars zijn eveneens niet verantwoordelijk voor inhoud op de aan deze website gekoppelde bestanden en websites 
		waarnaar wordt verwezen.
	</p>
	
	<p>
		Seasoning kan niet aansprakelijk of verantwoordelijk worden gesteld voor contracten, overeenkomsten of diensten tussen partijen die mogelijk via 
		deze site zijn opgedaan.
	</p>
	
	<p>
		Voor vragen of opmerkingen over de inhoud van de site verwijzen we u door naar onze <a href="{% url "contact" %}">contactpagina</a>.
	</p>
	
	<br>
	
	<h4>
		3. Persoonsgegevens
	</h4>
	
	<p>
		Het gebruik van de website is gratis en vrijblijvend.
	</p>
	
	<p>
		Seasoning maakt bovendien enkel gebruik van functionele cookies (bv. om uw zoekinstellingen te onthouden tussen sessies).
	</p>
	
	<br>
	
	<h4>
		4. Intellectuele eigendom
	</h4>
	
	<p>
		De teksten, foto's, data, inhoud en structuur van de databanken, software, benamingen, handels- en domeinnamen, merken, logo's en andere bestanddelen van 
		Seasoning vallen onder de Creative Commons licentie. Overgenomen werk mag niet gebruikt worden voor commerci&euml;le doeleinden, moet steeds voorzien zijn 
		van een naamsvermelding en valt verplicht onder dezelfde Creative Commons licentie.
	</p>
	<p>
		Indien u van oordeel bent dat uw rechten geschonden worden door materiaal dat op onze website werd geplaatst, kan u deze mogelijke inbreuk rapporteren via 
			info@seasoning.be. Wij verbinden ons ertoe uw bezwaar prioritair te onderzoeken en indien nodig het materiaal van de website te verwijderen.
	</p>
	
	<br>
	
	<h4>
		5. Verantwoordelijkheid
	</h4>
	
	<p>
		U, of indien u minderjarig bent, uw ouders of wettelijke voogd, zijn verantwoordelijk voor alle handelingen die u stelt op onze website.
	</p>
	<p>
		De gebruiker verbindt zich er tevens toe:
	</p>
	<ul>
		<li>
			Geen zodanig gebruik te maken van de website waardoor deze wordt beschadigd, vervormd, onderbroken, stopgezet of anderszins minder effici&euml;nt wordt gemaakt.
		</li>
		<li>
			De website niet te gebruiken voor de overdracht van computervirussen of materiaal met een lasterlijk, obsceen of bedreigend karakter.
		</li>
		<li>
			De website niet te gebruiken op een dergelijke wijze dat er een inbreuk gepleegd wordt op de rechten van een natuurlijke persoon, rechtspersoon of vereniging, zoals onder meer, doch niet uitsluitend, de rechten van privacy en intellectuele eigendom.
		</li>
		<li>
			De website niet te gebruiken voor het plaatsen en de overdracht van materiaal met promotionele of publicitaire doeleinden zonder hiervoor voorafgaandelijk toestemming aan Seasoning te vragen.
		</li>
	</ul>
	
	<br>
	
	<h4>
		6. Geschillen en toepasselijk recht
	</h4>
	
	<p>
		De huidige voorwaarden worden beheerst door het Belgisch recht. Bij eventuele betwisting zijn enkel de rechtbanken van het Arrondissement Brussel bevoegd.
	</p>
	
	<br>
	
	<h4>
		7. Wijzigingen
	</h4>

	<p>
		Seasoning is gerechtigd de inhoud van deze voorwaarden te wijzigen, maar zal dit steeds melden in een bericht op de website of via e-mail. De laatste aanpassing 
		gebeurde op 8 november 2015.
	</p>
	
	<br><br><br>
	
	<div class="text-center">
		<a class="btn btn-success" href="{% url "browse_recipes" %}">Terug naar Seasoning</a>
	</div>
	
	<br><br><br>
	
</div>
{% endblock %}