{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Dankbetuigingen{% endblock %}


{% block body %}
<style>
body {

}
.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message a {
	color: inherit;
}
.alert-message img {
	float: left;
	height: 65px;
	margin: -10px 10px 0 -10px;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8e3;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
</style>
<div class="container">

	<div class="row">
		<h2 class="col-xs-12">Bedankjes</h2>
	</div>
	
	<br>
	
	<p>
		Op deze pagina willen we graag even hulde brengen aan de mensen die meegeholpen hebben om Seasoning mogelijk te maken!
	</p>
	
	<br><br>
	
	<br><br>
	
	
	<h3>Partners</h3>
	
	<div class="container">
		<div class="row">
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-danger">
	            	<a href="http://hap-en-tap.blogspot.be/" target="_blank">
	            		<img src="{% static "img/decoration/hapentap.jpg" %}">
	            	</a>
	                <h4>
	                    <a href="http://hap-en-tap.blogspot.be/" target="_blank">Hap & tap</a>
	                </h4>
	                <p>
	                    The blog of the running cook or the cooking runner...
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-warning">
	            	<a href="http://www.kriskookt.be/" target="_blank">
	            		<img src="{% static "img/decoration/kriskookt.jpg" %}">
	            	</a>
	                <h4>
	                    <a href="http://www.kriskookt.be/" target="_blank">Kris Kookt</a>
	                </h4>
	                <p>
	                    Belgische Foodblog met dagelijkse recepten, ...
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-warning">
	            	<a href="http://bakedlouies.blogspot.be/" target="_blank">
	            		<img src="{% static "img/decoration/bakedl.jpg" %}">
	            	</a>
	                <h4>
	                    <a href="http://bakedlouies.blogspot.be/" target="_blank">Baked Louie's</a>
	                </h4>
	                <p>
	                    Alles wat in de over past
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-danger">
	            	<a href="http://www.legourmandbelge.be/" target="_blank">
	            		<img src="{% static "img/decoration/lgm.png" %}">
	            	</a>
	                <h4>
	                    <a href="http://www.legourmandbelge.be/" target="_blank">Le Gourmand Belge</a>
	                </h4>
	                <p>
	                    De Belgische Foodie Blog
	                </p>
	            </div>
	        </div>
	     
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-danger">
	            	<a href="http://smulhuisje.blogspot.be/" target="_blank">
	            		
	            	</a>
	                <h4>
	                    <a href="http://smulhuisje.blogspot.be/" target="_blank">Eva's Smulhuisje</a>
	                </h4>
	                <p>
	                	Belgische Kookblog
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-warning">
	            	<a href="http://jongesla.com/" target="_blank">
	            		<img src="{% static "img/decoration/sla1.jpg" %}">
	            		<img src="{% static "img/decoration/sla2.jpg" %}">
	            	</a>
	                <h4>
	                    <a href="http://jongesla.com/" target="_blank">Jonge Sla</a>
	                </h4>
	                <p>
	                    Belgische Kookblog van Dorien Knockaert
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-warning">
	            	<a href="http://fiekefatjerietjes.wordpress.com/" target="_blank">
	            		<img src="{% static "img/decoration/fieke.jpg" %}">
	            	</a>
	                <h4>
	                    <a href="http://fiekefatjerietjes.wordpress.com/" target="_blank">Fiekefatjerietjes</a>
	                </h4>
	                <p>
	                	100% plantaardig (vegan) kookblog
	                </p>
	            </div>
	        </div>
	     </div>
	 </div>
	
	<br><br>
	
	
	<h3>Persoonlijke bijdragen</h3>
	
	<div class="container">
		<div class="row">
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-success">
	                <h4>
	                    Anne Hendrickx
	                </h4>
	                <p>
	                    Morele steun, feedback
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-info">
	                <h4>
	                    Blas Gallego Irles
	                </h4>
	                <p>
	                    Database en algemeen advies
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-info">
	                <h4>
	                    Caroline Pettens
	                </h4>
	                <p>
	                    Grafisch ontwerp
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-success">
	                <h4>
	                    Ellyne Temmerman
	                </h4>
	                <p>
	                    Fotografie
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-success">
	                <h4>
	                    Nele Somers
	                </h4>
	                <p>
	                    Fotografie
	                </p>
	            </div>
	        </div>
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-info">
	                <h4>
	                    Caroline Vernaillen
	                </h4>
	                <p>
	                    Fotografie
	                </p>
	            </div>
	        </div>
	    
		</div>
	</div>
	
	<br><br>
	
	
	<h3>Donaties</h3>
	
	<div class="container">
		<div class="row">
		    <div class="col-sm-6 col-md-6">
	            <div class="alert-message alert-message-default">
	                <h4>
	                    Vrienden van Politika
	                </h4>
	                <p>
	                    &euro; 25
	                </p>
	            </div>
	        </div>
		</div>
	    
	</div>
	
	<br><br>
	
	<br><br>
	
</div>
{% endblock %}