{% extends "admin/base_site.html" %}

{% block title %}Ingredientenlijst{% endblock %}

{% block extrahead %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

<script type="text/javascript">

$(document).ready( function () {
    $('#ingredient-table').DataTable();
} );

</script>

//-->
</script>
{% endblock %}

{% block content %}

<a href="/admin/ingredients/ingredient/add/">Nieuw Ingrediënt</a><br/><br/><br/>
	
<div class="meter orange">
	<span style="width: {{ perc_accepted }}%"></span>
	<span class="green" style="width: {{ perc_bramified }}%"></span>
</div>

<table style="margin: 20px 0 40px 5%; font-size: 1.5em;">
	<tr>
		<td style="font-size: 1em; width: 300px;">
			Aantal ingredient in database
		</td>
		<td style="font-size: 1em; width: 100px;">
			{{ ao_ingredients }}
		</td>
	</tr>
	<tr>
		<td style="font-size: 1em; color: rgb(241, 161, 101);">
			Accepted
		</td>
		<td style="font-size: 1em; color: rgb(241, 161, 101);">
			{{ ao_accepted }}
		</td>
		<td style="font-size: 1em; color: rgb(241, 161, 101);">
			{{ perc_accepted }}%
		</td>
	</tr>
	<tr>
		<td style="color: rgb(43,194,83);">
			Bramified (zucht)
		</td>
		<td style="color: rgb(43,194,83);">
			{{ ao_bramified }}
		</td>
		<td style="color: rgb(43,194,83);">
			{{ perc_bramified }}%
		</td>
	</tr>
</table>

<table id="ingredient-table">
	<thead>
  <tr align="left">
  	<th width=2%>#</th>
    <th width=20%>Ingrediënt</th>
    <th width=10%>Accepted</th>
    <th width=5%>Bramified</th>
  </tr>
  </thead>
  <tbody>
{% for ingredient in ingredients %}
  <tr>
  	{% with acc=ingredient.accepted br=ingredient.bramified %}
  	<td>{{ forloop.counter }}</td>
    <td><a href="/admin/ingredients/ingredient/{{ ingredient.id }}/">{{ ingredient.name }}</a></td>
    <td>{% if acc %}<img src="http://suvendugiri.files.wordpress.com/2012/02/checkbox.png" width="10px" height="10px" alt="" />{% endif %}</td>
    <td>{% if br %}<img src="http://suvendugiri.files.wordpress.com/2012/02/checkbox.png" width="10px" height="10px" alt="" />{% endif %}</td>
    {% endwith %}
  </tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
