body {
	background-color: #3e3f3a;	
}

.sidebar {
    margin-top: -20px;
    position: absolute;
    width: 250px;
    z-index: 1;
}

.sidebar a:focus {
	outline: none;
}

.sidebar .sidebar-nav {
	padding: 0;
}

.sidebar-nav ul {
	width: 100%;
	float: none;
}

.sidebar .navbar-nav > li {
	float: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	min-height: 50px;
}

.sidebar .navbar-nav > li > h3,
.sidebar .navbar-nav > li > a {
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
}

.sidebar li .glyphicon {
	margin-right: 8px;
	font-size: 15px;
	height: 50px;
	line-height: 47px;
}

.sidebar .navbar-nav.second {
	margin-bottom: 10px;
}

.sidebar .navbar-nav.second li {
	padding-left: 20px;
	border: none;
	height: 40px;
	min-height: auto;
}

.sidebar .navbar-nav.second > li > a { 
	height: 40px;
	line-height: 40px;
}

.sidebar .navbar-nav.second > li .glyphicon { 
	font-size: 12px;
	height: 40px;
	line-height: 37px;
}

.expanded .glyphicon-chevron-left {
	display: none;
}
.sidebar .glyphicon-chevron-down {
	display: none;
}
.expanded .glyphicon-chevron-down {
	display: block;
}


#page-wrapper {
    border-left: 1px solid #3e3f3a;
    margin: 0 0 0 250px;
    padding: 1px 30px;
    position: inherit;
    min-height: 1000px;
    background-color: #fff;
}

#page-wrapper .message {
	margin-top: 20px;
}