{% extends "base.html" %}

{% block title %}Pagina niet gevonden{% endblock %}

{% block extra_link %}
<link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<style>

	h1.error-code {
		font-family: "Raleway",Helvetica,Arial,sans-serif;
		font-size: 140px;
		font-weight: 200;
	}
	
	.error-message {
		font-family: "Raleway",Helvetica,Arial,sans-serif;
		font-size: 25px;
	}
	
	.error-message h3 {
		font-family: "Raleway",Helvetica,Arial,sans-serif;
		font-size: 40px;
	}
</style>

<div class="container error-container">
	<br><br>
	<div class="row">
		<h1 class="col-xs-12 text-center error-code">
			404
		</h1>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12 text-center error-message">
			<h3>
				Mmmmmm
			</h3>
			
			<p>
				Deze pagina kon niet gevonden worden :(
			</p>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-12 text-center">
			<a href="{% url 'browse_recipes' %}" class="btn btn-default">Terug naar Seasoning</a>
		</div>
	</div>
</div>

{% endblock %}