{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title>Seasoning | {% block title %}{% endblock %}</title>
		
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="nl-be" />
		<meta name="ROBOTS" content="ALL" />
		<meta name="Copyright" content="Seasoning" />
		<meta name="description" content="{% block meta_description %}Seasoning{% endblock %}" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <link rel="icon" href="{% static "img/logos/favicon.png" %}" type="image/png" />
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.1/sandstone/bootstrap.min.css"></link>
		<link rel="stylesheet" href="{% static "css/base.css" %}"></link>
		{% block extra_link %}
		{% endblock %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.js"></script>
		{% block extra_script %}
		{% endblock %}
		
		{% block extra_head %}
		{% endblock %}
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-default navbar-fixed-top">
			<div class="container">
				<div class="col-xs-12 text-center">
					<a href="{% url "browse_recipes" %}"><img src="{% static "img/logos/leaf.png" %}"></img></a>
				</div>
		  	</div>
		  	{% block extra_navbar %}
		  	{% endblock %}
		</div>
		{% block body %}
		
		{% endblock %}
	</body>
</html>
