{% extends "emails/outgoing_email_base.html" %}

{% block aanspreking %}Beste{% endblock %}

{% block body %}
<p>
	Dit e-mailadres is enkele ogenblikken geleden gebruikt om een profiel aan te maken op seasoning.be. Indien u dit gedaan hebt, kan u de onderstaande url gebruiken om het profiel te activeren:
</p>

<a href="https://seasoning.be/profile/activate/{{ activation_key }}/">https://seasoning.be/profile/activate/{{ activation_key }}/</a>

<p>
	Indien u geen profiel aangemaakt hebt op seasoning.be, kan u deze e-mail gewoon negeren.
</p>
{% endblock %}