<p>
	Beste,
</p>

<p>
	Dit e-mailadres is enkele ogenblikken geleden gebruikt om een profiel aan te maken op seasoning.be. Indien u dit gedaan hebt, kan u de onderstaande url gebruiken om het profiel te activeren:
</p>

<a href="https://seasoning.be/profile/activate/{{ activation_key }}/">https://seasoning.be/profile/activate/{{ activation_key }}/</a>

<p>
	Indien u geen profiel aangemaakt hebt op seasoning.be, kan u deze e-mail gewoon negeren.
</p>

<p>
	Met vriendelijke groeten,<br />
	Het Seasoning Team
</p>

<p style="margin-top:50px; text-align: center; font-size: 12px;">
	Denk aan het milieu. Druk deze mail niet onnodig af.
	<br /><br />
	Dit is een automatisch gegenereerde email. Gelieve er niet op te antwoorden.
</p>
