{% extends "emails/outgoing_email_base.html" %}

{% block aanspreking %}Beste{% endblock %}

{% block body %}
<p>
	Enkele ogenblikken geleden werd geprobeerd dit e-mailadres te koppelen aan het profiel van {{ user.givenname }} {{ user.surname }} op Seasoning.
</p>

<p>
	Indien u dit gedaan hebt, kan u de onderstaande link gebruiken om het profiel te activeren:
</p>

<a href="{{ site }}/accounts/change/{{ activation_key }}/">{{ site }}/accounts/change/{{ activation_key }}/</a>

<p>
	Indien u dit niet gedaan hebt, kan u deze e-mail gewoon negeren. Het profiel zal dan aan het oorspronkelijke e-mailadres gekoppeld blijven.
</p>
{% endblock %}