<p>
	Beste gebruiker,
</p>

<p>
	Het wachtwoord voor uw Seasoning-account werd zonet gewijzigd. Als u deze wijziging heeft doorgevoerd, hoeft u verder niets te doen.
</p>

<p>
	Als u uw wachtwoord niet heeft gewijzigd, kan de veiligheid van uw account in gevaar zijn. Wij raden u aan zo snel mogelijk uw wachtwoord opnieuw in te stellen.
</p>

<p>
	Bij problemen kan u steeds contact met ons opnemen via deze link: <a href="https://www.seasoning.be/contact/form/abuse/">https://www.seasoning.be/contact/form/abuse/</a>
</p>


<p>
	Met vriendelijke groeten,<br />

	Het Seasoning-team
</p>


<p style="margin-top:50px; text-align: center; font-size: 12px;">
	Denk aan het milieu. Druk deze mail niet onnodig af.
	<br /><br />	
	Dit is een automatisch gegenereerde email. Gelieve er niet op te antwoorden.
</p>