@import "variables";

* {
	margin: 0;
}
  
html, body {
	height: 100%;
}
  
html {
	overflow-y: scroll;
}
    
body {
	font: 100% $normal-font-stack;
}

.navbar {
	background-color: $green-main;
	border-bottom:1px solid $green-grey;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	font-size: 1.3em;
}

.navbar .navbar-brand {
	color: white;
}

.navbar .navbar-brand img {
	margin-top: -8px;
	height: 36px;
}

.navbar-default .navbar-nav > li {
    @include transition(background-color, .5s, ease);
}
.navbar-default .navbar-nav > li:hover {
    background-color: rgba(0, 0, 0, .2);
}
.navbar-default .navbar-nav > li > a {
    color: white;
    border: none;
    padding: 9.5px 12px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    border-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    border: none;
}
	
#header-margin {
	padding-top: 65px;
	clear: both;
}
	
#content-margin {
	padding-top: 20px;
}
	
	#content, 
	.dashboard div#content {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -51px;
		width: 100%;
	}
	
	.push {
		height: 60px;
	}
	
	#footer {
		width: 100%;
		height: 50px;
		background-color: #2F2F2F;
		background-image: url("#{$dec}/footer-bg.jpg");
		border-top:1px solid $green-grey;
		box-shadow:0 -1px 2px 0 rgba(0,0,0,0.3);
	}
	
	#footer #footer-container {
		position: relative;
		height: 100%;
	}
	
	#footer-container {
		text-align: center;
	}
	
	#footer-container a {
		color: white;
		font-size: 0.8em;
		text-decoration: none;
	}
  
  #footer-container #github-logo {
    background-color: white;
    @include border-radius(3px);
    border: 2px solid #000;
  }
  
  #footer-container #cc-license {
    float: left;
    width: 180px;
  }
	
	#footer-container #cc-license img {
		margin: 10px 3px 0;
	}
	
	#footer-container #footer-links {
		position: absolute;
		top: 5px;
		width: 60%;
		margin: 0 20%;
	}

	#footer-container ul {
		margin: 0;
		padding: 0;
		display: block;
		clear: both;
	}

	#footer-container ul li {
		margin: 0 10px; 
		display: inline;
		color: white;
		font-size: 13px;
	}
	
	#footer-container #social-icons {
		height: 50px;
		float: right;
		width: 180px;
	}
	
	#footer-container #social-icons img {
		width: 30px;
	 	border-radius: 5px;
	 	margin: 10px 3px 0;
	}
	
	#footer-container #footer-links-responsive {
		display: none;
	}
	
	#footer-container #footer-links-responsive div {
		margin-bottom: 10px;
	}
	
	
	
	
	p.author {
		margin: -10px 0 10px 2px;
		font-size: 10px;
	}

	.column-image {
		width: 100%;
		border: ridge 2px black;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.responsive-clear {
		display: block;
    	height: 0;
    	overflow: hidden;
    	visibility: hidden;
    	width: 0;
	}
	
	
	
@media only screen and (max-width: 767px) {
	
	#footer {
		height: 230px;
	}
	
	#footer-links ul li {
		display: block;
		margin-bottom: 5px;
	}
	
	#cc-license {
		display: none;
	}
	
	#footer-container #social-icons {
		float: none;
		margin: auto;
		padding-top: 180px;
	}
}