.form-errors-notice {
    padding: 5px;
    margin: 0 10px 20px 0;
    background-color: rgba(255, 0, 0, 0.5);
    border:1px dashed #5B6553;
    box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
    display: block;
}

.errorlist {
	color: red;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	clear: both;
}

.field-wrapper {
	position: relative;
	margin: 0 0 25px 0;
}

.field-wrapper.captcha-wrapper {
    margin: 40px 0 30px 0;
}

.field-wrapper.captcha-wrapper #captcha-height-reserver {
	height: 130px;
    width: 318px;
    display: block;
}

.field-wrapper.captcha-wrapper #recaptcha_area {
    margin: auto auto auto -2px;
}
  
.field-wrapper.captcha-wrapper input#recaptcha_response_field {
    width: auto;
    display: inline;
}

.field-wrapper label {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
}

.field-wrapper input[type="text"], 
.field-wrapper input[type="password"] {
	margin: 0;
	height: 16px;
	padding: 6px 4px;
	-webkit-transition: box-shadow 0.30s ease-in-out;
 	-moz-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -o-transition: box-shadow 0.30s ease-in-out;
}

.field-wrapper textarea {
	margin: 0;
	-webkit-transition: box-shadow 0.30s ease-in-out;
 	-moz-transition: box-shadow 0.30s ease-in-out;
    -ms-transition: box-shadow 0.30s ease-in-out;
    -o-transition: box-shadow 0.30s ease-in-out;
}

.field-wrapper input[type="text"]:focus, 
.field-wrapper input[type="password"]:focus, 
.field-wrapper textarea:focus {
	box-shadow: 0 0 3px rgba(98, 155, 49, .4);
  	border: 1px solid rgba(98, 155, 49, .5);
}

.field-with-error input[type="text"],
.field-with-error input[type="password"],
.field-with-error textarea {
	box-shadow: 0 0 3px rgba(255, 0, 0, .4);
  	border: 1px solid rgba(255, 0, 0, .5);
}

.field-wrapper .under-field-link {
	display: block;
	font-size: .75em;
	margin: 0 0 0 2px;
}

.field-wrapper .errorlist {
	margin: 5px 0 0 1px;
}


div.ui-tooltip {
    max-width: 300px !important;
}