@import "variables";

  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font: 14px/21px $font-stack;
  }
  
  div.spacer {
    clear: both;
    margin: 0;
    height: 40px;
  }
  
  #id_honeypot {
    display: none;
  }
  
  hr.leaf-line {
    margin: 20px 0;  
  }
  
  .checkbox {
    display: inline-block;
    height: 15px;
    width: 12px;
    background-image: url('#{$icons}/checkbox.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 12px 15px;
    margin-left: 10px;
  }
  
  hr.leaf-line:after {
    background: url('#{$logos}/facebook icoon.png') no-repeat top center;
    background-size: 30px;
    content: "";
    display: block;
    height: 30px; /* height of the ornament */
    position: relative;
    top: -10px; /* half the height of the ornament */
  }
  
  .button-group {
    position: relative;
    height: 24px;
  } 
  
  .add-button {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    background-color: #DDDDDD;
    padding: 0 8px 0 24px;
    border-radius: 10px;
    -moz-border-radius: 10px;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      border: 1px solid #CCCCCC;
      background-image: url('#{$icons}/add.png');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 2px 0;
      line-height: 20px;
  }
      
  .add-button:hover {
    background-color: #CCCCCC;
  }
  
  .add-button img {
    float: left;
    width: 16px;
    margin: 2px 2px;
  }
  
  .anchor-link {
    display: block;
    margin: -50px 0 50px 0;
    height: 1px;
  }
  
  li.info,
  div.message {
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: rgba(98, 155, 49, 0.5);
    border:1px dashed #5B6553;
    box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
    display: block;
  }
  
  #impact-breakdown img {
    width: 100%;  
  }
  
  #captcha-wrapper {
    margin: 10px 0;
    min-height: 120px;
      height:auto !important; 
      height:120px;
      width: 100px;
  }
  
  #captcha-wrapper #recaptcha_area {
    margin: auto;
  }
  
  #captcha-wrapper input#recaptcha_response_field {
    width: auto;
    display: inline;
  }
  
  #captcha-wrapper .errorlist {
    float: none;
    text-align: center;
  }
  .empty-form, .tooltip {
  display: none;
}

.errorlist {
  color: red;
  font-size: 12px;
  margin: 0;
  clear: both;
}

.markdown-container h4 {
	text-decoration: underline !important;
}

.markdown-container p {
	margin: 10px 0 !important;
}

.markdown-container ul {
	list-style: disc outside none;
	margin: 10px 0 10px 30px;
}

.markdown-container ul li {
	margin-bottom: 8px;
}

.markdown-container.preview {
	background-color: $green-very-light;
	padding: 10px;
}