@import "variables";

  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  html {
    overflow-y: scroll;
  }
    
  
  body {
    font: 14px/21px $font-stack;
  }
   
  .clear {
  	clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  
  div.spacer {
    clear: both;
    margin: 0;
    height: 40px;
  }
  
  #id_honeypot {
    display: none;
  }
  
  hr.leaf-line {
    margin: 40px 0;  
  }
  
  hr.leaf-line:after {
    background: url('#{$logos}/facebook icoon.png') no-repeat top center;
    background-size: 30px;
    content: "";
    display: block;
    height: 30px; /* height of the ornament */
    position: relative;
    top: -10px; /* half the height of the ornament */
  }
  
  .button-group {
    position: relative;
    height: 24px;
  } 
  
  .add-button {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    background-color: #DDDDDD;
    padding: 0 8px 0 24px;
    border-radius: 10px;
    -moz-border-radius: 10px;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      border: 1px solid #CCCCCC;
      background-image: url('#{$icons}/add.png');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 2px 0;
      line-height: 20px;
  }
      
  .add-button:hover {
    background-color: #CCCCCC;
  }
  
  .add-button img {
    float: left;
    width: 16px;
    margin: 2px 2px;
  }
  
  .anchor-link {
    display: block;
    margin: -50px 0 50px 0;
    height: 1px;
  }
  
  .keywords-searchbar.loading {
  	background-image: url('/static/img/decoration/ajax-loader.png');
  	background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: auto 80%;
  }
  
  ul.messages li,
  div.message {
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: rgba(98, 155, 49, 0.5);
    border:1px dashed #5B6553;
    box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);
    display: block;
  }
  
  ul.messages li.warning {
    background-color: rgba(247, 192, 96, 0.8);
  }
  
  #impact-breakdown img {
    width: 100%;  
  }
  
  .empty-form, .tooltip {
  display: none;
}

.markdown-container h4 {
	text-decoration: underline !important;
}

.markdown-container p {
	margin: 10px 0 !important;
}

.markdown-container ul {
	list-style: disc outside none;
	margin: 10px 0 10px 30px;
}

.markdown-container ul li {
	margin-bottom: 8px;
}

.markdown-container.preview {
	background-color: $green-very-light;
	padding: 10px;
}

#basic-search {
  margin-top: 20px;
  position: relative;
  width: 320px;
  margin: auto;
  max-width: 90%; }

#basic-search .keywords-searchbar {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

form #keywords-submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 3px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  z-index: 3;
  background: none;
  background-image: url("/static/img/icons/search.png");
  background-size: 26px 26px;
  border: none; }
 
.btn {
    transition: background .2s ease;
}
.btn-success {
	border-color:#4F7C27;
    background-color: #629B31;
}
.btn-success:hover, 
.btn-success:focus, .btn-success.focus, 
.btn-success:active, .btn-success.active {
    background-color: #4F7C27;
}

.alert-success {
    background-color: rgba(98, 155, 49, .6);
    border-color: rgba(79, 124, 39, .6);
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}