/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown .markItUpButton1 a {
  background-image:url(/static/img/icons/markitup/header.png); 
}

.markdown .markItUpButton2 a {
  background-image:url(/static/img/icons/markitup/bold.png);
}
.markdown .markItUpButton3 a {
  background-image:url(/static/img/icons/markitup/italic.png);
}

.markdown .markItUpButton4 a {
  background-image:url(/static/img/icons/markitup/list-bullet.png);
}
.markdown .markItUpButton5 a {
  background-image:url(/static/img/icons/markitup/list-numeric.png);
}

.markdown .preview a {
  background-image:url(/static/img/icons/markitup/preview.png);
}
