#faq-index .index-topic-wrapper {
  float: left;
  clear: left;
  width: 47%;
  margin: 0 0 30px 0;
  padding: 5px;
  background-color: #F7FCF7;
  border-radius: 15px;
  -moz-border-radius: 15px;
  border: 1px solid transparent;
  -moz-border-radius: 15px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out; }

#faq-index .index-topic-wrapper.right {
  float: right;
  clear: right;
  margin: 0 0 30px 0; }

#faq-index .index-topic-wrapper:hover {
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  border: 1px solid rgba(0, 0, 0, 0.5); }

#faq-index .index-topic-name {
  display: block;
  margin-bottom: 5px; }

#faq-index .index-topic-question {
  margin: 0 0 5px 10px;
  line-height: 18px; }

#faq-index .index-topic-question a {
  text-decoration: none; }

#faq-index .index-topic-question a:hover {
  text-decoration: underline; }

.faq-question-wrapper {
  margin-bottom: 40px; }

.faq-question-wrapper .faq-question {
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD; }

.faq-question-wrapper .back-to-index-link {
  float: right;
  font-size: 12px;
  background-image: url("/static/img/icons/up.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 17px; }