body {
	overflow-x: hidden;
}
.st-container .info-overlay {
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	background-color: black;
	z-index: 1019;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
}
.st-menu-open .st-pusher::after {
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    width: 100%;
}
.st-menu-open .st-container .info-overlay {
	pointer-events: all;
	opacity: .4;
}
.st-menu {
    background: #f9f9f9 none repeat scroll 0 0;
    right: 0;
    position: absolute;
    top: 60px;
    transition: transform 0.5s ease 0s;
    visibility: hidden;
    width: 500px;
    z-index: 1020;
    padding: 20px;
}
.st-menu::after {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s;
    width: 100%;
}
.st-menu-open .st-menu::after {
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s;
    width: 0;
}
.st-effect-1.st-menu {
    transform: translateX(100%);
    visibility: visible;
}
.st-menu-open .st-effect-1 .st-effect-1.st-menu {
    transform: translateX(0px);
    visibility: visible;
}
.st-effect-1.st-menu::after {
    display: none;
}


.st-menu h2 {
    color: #333;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
}
.st-menu p {
    color: #333;
}
.st-menu hr {
    border-color: #333;
    opacity: .2;
}

.fp-cat-wrap p {
	padding-top: 5px;
}
.fp-cat {
	margin: 0 10px 10px 0;
	clear: both;
}
.recipe-preview-footprint-category {
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid #ddd;
    border-radius: 50px;
    bottom: 100px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 38px;
    width: 50px;
    z-index: 100;
    text-align: center;
}

.ribbon-info {
	margin-bottom: 20px;
}
.ribbon-info img.pull-left {
	margin-right: 10px;
}
.ribbon-info img.pull-right {
	margin-left: 10px;
}



	
#social-icons {
	text-align: center;
}

#social-icons img {
	width: 30px;
 	border-radius: 5px;
 	margin: 0 5px 0;
}