body {
	background-color: #fff;
}

#recipe-name {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}

#recipe-name .overlay {
	width: 100%;
	height: 100%;
	
	background-color: rgba(255, 255, 255, 0.4);
}

#recipe-name h1 {
	margin: 0;
	font-size: 50px;
	line-height: 150px;
	text-align: center;
}

#recipe-name-line {
	border-color: #ddd;
	margin: 3px 0 40px;
}




.ingredient .ingredient-footprint {
	opacity: .5;
}