{% extends "admin/admin_base.html" %}

{% block title %}Brams neurotische ingredientenlijst{% endblock %}



{% block content %}

<div class="container">

	<div class="row">
		<div class="page-header">
			<h1>Ingrediënten Overzicht</h1>
		</div>
	</div>

	<div class="row">
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Stand van zaken</div>
			
			<!-- Table -->
			<table class="table">
				<tr>
					<th style="width:100%;">Aantal ingrediënten in de database</th>
					<td style="padding-right:30px;">{{ ao_ings }}</td>
				</tr>
				<tr>
					<th>&emsp;&emsp;Waarvan geaccepteerd</th>
					<td>{{ ao_accepted_ings }}</td>
				</tr>
				<tr>
					<th>&emsp;&emsp;Waarvan gebramified</th>
					<td>{{ ao_bramified_ings }}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="panel panel-success">
			<!-- Default panel contents -->
			<div class="panel-heading">Ingrediëntenlijst</div>
			
			<!-- Table -->
			<table class="table">
				<tr>
					<th>ID</th>
					<th style="width:100%;">Naam</th>
					<th style="text-align:center;padding:8px 30px;">Accepted</th>
					<th style="text-align:center;padding:8px 30px;">Bramified</th>
				</tr>
				{% for ingredient in ingredients %}
				<tr>
					<td>{{ ingredient.id }}</td>
					<td><a href="{% url 'admin:ingredients_ingredient_change' ingredient.id %}" target="_blank">{{ ingredient.name }}</a></td>
					<td align="center">{{ ingredient.accepted|yesno:"Jep,Nope" }}</td>
					<td align="center">{% if ingredient.accepted %}{{ ingredient.bramified|yesno:"Ja,Euh jaja" }}{% else %}Nope{% endif %}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}
