{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Admin - {% block admin_title %}Home{% endblock %}{% endblock %}

{% block extra_link %}
<link href="{% static "admin/css/admin_base.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
<script>
$(function() {
	$("li.expandable").click(function() {
		$(this).toggleClass('expanded');
	});
});
</script>
{% endblock %}

{% block body %}
<div class="navbar navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul id="side-menu" class="nav navbar-nav">
			<li>
				<h3 class="text-muted">
					Administration
				</h3>
			</li>
			<li>
				<a href="{% url 'admin_home' %}"> 
					<span class="glyphicon glyphicon-dashboard pull-left"></span>
					Dashboard
				</a>
			</li>
			<li>
				<a href="{% url 'admin:index' %}"">
					<span class="glyphicon glyphicon-hdd pull-left"></span>
					Database
				</a>
			</li>
			<li>
				<a href="{% url 'admin_scrapers' %}">
					<span class="glyphicon glyphicon-screenshot pull-left"></span>
					Scrapers
				</a>
			</li>
			<li class="expandable">
				<a data-toggle="collapse" href="#bramstuff" aria-expanded="false" aria-controls="bramstuff">
					<span class="glyphicon glyphicon-thumbs-down pull-left"></span>
					Bram's Stuff
					<span class="glyphicon glyphicon-chevron-left pull-right"></span>
					<span class="glyphicon glyphicon-chevron-down pull-right"></span>
				</a>
				<ul id="bramstuff" class="nav navbar-nav second collapse" aria-labelledby="bramstuff">
					<li>
						<a href="">
							<span class="glyphicon glyphicon-list pull-left"></span>
							Ingredienten Lijst
						</a>
					</li>
					<li>
						<a href="{% url 'admin_proofread_scraped_recipes' %}">
							<span class="glyphicon glyphicon-search pull-left"></span>
							Recepten Nakijken
						</a>
					</li>
				</ul>
			</li>
			
			<li></li>
			
			<li>
				<a href="/">Back to Seasoning</a>
			</li>
			<li>
				<a href="{% url 'admin:password_change' %}">Change password</a>
			</li>
			<li>
				<a href="{% url 'admin:logout' %}">Log out</a>
			</li>
		</ul>
	</div>
</div>

<div id="page-wrapper">
	{% block content %}
	{% endblock %}
</div>
{% endblock %}