#account-settings #account-image {
	float: left;
	margin-right: 20px;
	border: 2px ridge #333;
}

#account-settings #account-image img {
	display: block;
	width: 250px;
	height: 250px;
}

#account-settings #givenname-label {
	float: left;
	margin-right: 20px;
	width: 160px;
}

#account-settings #account-info {
	width: 800px;
}

#account-settings #account-info #account-name {
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
}

#account-settings #account-info .account-info-stat {
	width: 140px;
	float: left;
	margin-top: 25px;
	text-align: center;
}

#account-settings #account-info .account-info-stat strong {
	height: 40px;
	display: block;
}

#account-settings #account-info .account-info-stat-img {
	height: 100px;
	width: 100px;
	display: block;
	margin: 10px auto 0;
}

.account-info-stat-img #account-mean-rank-on {
	background-image: url('/static/img/raty/star-on-big.png');
	background-size: 100px 100px;
	height: 100%;
	float: left;
}

.account-info-stat-img #account-mean-rank-off {
	background-image: url('/static/img/raty/star-off-big.png');
	background-size: 100px 100px;
	background-position: right;
	height: 100%;
	float: right;
	height: 100%;
}

.account-info-stat-img#mean-footprint {
	background-image: url('/static/img/icons/cloud.png');
	background-size: 100px 80px;
	background-repeat: no-repeat;
	background-position: center 15px;
	height: 100%;
	position: relative;
}

.account-info-stat-img#mean-footprint #mean-footprint-text {
	position: absolute;
	top: 46px;
	left: 0;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#account-settings-container #account-recipes {
	clear: both;
	padding-top: 60px;
}

#account-recipes .title {
	border-bottom: 2px solid #333;
}

#account-recipes-form {
	margin: 0;
}

#account-recipes #recipe-summaries-wrapper {
	width: auto;
	position: relative;
	text-align: center;
}

#recipe-summaries-wrapper a {
	text-align: left;
}

#account-recipes #search-result-count {
	position: absolute;
	top: -32px;
	right: 0;
}

#account-recipes .page-controls {
	margin: 0 80px 20px 10px;
}

#account-settings-container {
	position: relative;
	min-height: 400px;
	padding-right: 200px;
}

#account-settings-container #account-settings {
	width: 100%;
	margin: 0 20px 0 0;
	float: left;
}

#account-settings #account-settings-form {
	float: left;
	max-width: 90%;
}

#account-settings .surname-label {
	display: none;
}

#account-settings #id_givenname {
	width: 150px;
	margin-right: 20px;
	float: left;
}

#account-settings #id_surname {
	width: 200px;
	float: left;
}

#account-settings #name_errors {
	float: right;
	clear: right;
	width: 60%;
}

#name_errors #givenname_errors {
	width: 50%;
}

#name_errors #surname_errors {
	width: 49%;
}

#account-settings #id_email {
	width: 380px;
}

#account-settings #user-birthday {
	margin-bottom: 20px;
	display: block;
}

#account-settings #password_p {
	margin: 0 0 20px 0;
	float: left;
}

#account-settings #password_p #password_span {
	margin-right: 20px;
}

#account-settings img#avatar_img {
	width: 240px;
	margin-bottom: 10px;
	display: block;
}

#account-settings input#id_avatar {
	clear: left;
	margin-bottom: 30px;
	width: 300px;
}

#account-settings-container #account-settings-links {
	width: 180px;
	float: right;
	border-left: 1px solid #DDD;
	padding: 35px 0 0 10px;
	position: absolute;
	right: 0;
	top: -20px;
	bottom: 0;
}

#account-settings-links ul {
	display: block;
}

#account-settings .social-connection {
	margin-bottom: 20px;
}

#account-settings .social-connection img {
	width: 100px;
	float: left;
	border-radius: 5px;
	margin: 14px 0;
	height: 34px;
}

#account-settings .social-connection p {
	line-height: 20px;
	border-radius: 5px;
	margin: 10px 0 10px 110px;
	padding: 10px 0;
}

#account-settings .social-connection p.active {
	color: #629B31;
}

#account-settings-links ul {
	margin: 0;
	padding: 0;
}

#account-settings-links li {
	list-style: none;
	margin-bottom: 10px;
}

#account-settings-links li a {
	color: #629B31;
	text-decoration: none;
	white-space: nowrap;
}

#account-settings-links li a:hover {
	color: #4E7A28;
}

#account-settings-links li.active a {
	font-weight: 600;
}

#account-settings #goto-account-delete {
	width: 100%;
	text-align: center;
}

#account-settings #goto-account-delete-button {
	margin: 30px auto;
	font-size: 17px;
	white-space: normal;
}

#account-delete-form {
	max-width: 720px;
	display: block;
	text-align: left;
}

#account-delete-form .field-wrapper {
	width: 30%;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}

#account-delete-form .field-wrapper input {
	width: 100%;
	float: none;
}

#account-delete-form #submit-button {
	text-align: center;
}

#account-delete-form #submit-button input {
	float: none;
	font-size: 17px;
	width: 200px;
	max-width: 80%;
}

#social-account-summary {
	background-color: #EAF2E9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	clear: right;
	float: left;
	padding: 5px;
}

#social-account-summary img {
	float: left;
	height: 50px;
}

#social-account-summary span {
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

@media only screen and (max-width: 965px) {
	
	#account-settings-container {
		padding-top: 40px;
		padding-right: 0;
	}

	#account-settings-container.public-profile {
		padding-top: 0;
	}
	
	#account-settings-container #account-settings-links {
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
		border: none;
		border-bottom: 1px solid #dddddd;
		padding: 0;
		width: 100%;
		height: auto;
		float: none;
	}
	
	#account-settings-container #account-settings-links ul li {
		display: inline;
		margin-right: 20px;
	}
	
	#account-settings-container #account-settings-links ul li a {
		display: inline;
	}
	
	#account-settings-container #account-settings {
		width: 100%;
	}
	
	#account-settings-container #account-recipes {
		width: 100%;
	}
	
	#account-recipes .title, #account-recipes #recipe-summaries-wrapper {
		margin-right: 0;
	}
	
	#account-recipes #recipe-summaries-wrapper {
		text-align: center;
	}
	
	#account-recipes .recipe-summary-link {
		text-align: left;
	}
}

@media only screen and (max-width: 768px) {
	
	#content-container {
		width: 98%;
	}

	#account-settings #account-info {
		width: auto;
	}
	
	#account-info-stats {
		clear: left;
	}
}

@media only screen and (max-width: 650px) {

	#account-settings-container #account-settings {
		text-align: center;
		margin: 0;
	}

	#account-settings input#id_avatar {
		width: 95%;
	}
	
	#account-settings #account-image {
		margin: 30px auto 20px;
		float: none;
		width: 100px;
	}

	#account-settings #account-image img {
		height: 100px;
		width: 100px;
		
	}
	
	#account-settings #account-settings-form {
		width: 90%;
		margin: 20px auto;
		display: block;
		float: none;
	}
	
	#account-settings label {
		clear: both;
	}
	
	#account-settings #surname-label {
		display: none;
	}
	
	#account-settings .surname-label {
		display: block;
	}
	
	#account-settings #givenname-label {
		float: none;
		width: auto;
		margin: 0;
	}
	
	#account-settings input,
	#account-settings #id_givenname,
	#account-settings #id_surname,
	#account-settings #id_email,
	#account-settings #password_p {
		float: none;
		width: 80%;
		margin: 10px auto 20px;
		text-align: center;
	}
	
	#account-settings img#avatar_img {
		margin: auto;
		max-width: 90%;
	}
	
	#account-info {
		clear: left;
	}
	
	#account-settings #account-info .account-info-stat {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}
	
	#account-settings #account-info .account-info-stat strong {
		height: auto;
		width: auto;
	}
	
	#account-settings .social-connection img {
		clear: both;
		margin: 20px 0 10px;
		float: none;
	}
	
	#account-settings .social-connection p {
		clear: both;
		margin: 0;
	}
	
}


@media only screen and (max-width: 400px) {
	
	#account-settings-links li a {
		font-size: .8em;
	}
	
	#account-recipes .title {
		text-align: center; 
		margin-bottom: 30px;
	}
	
	#account-recipes #search-result-count {
		display: block;
		width: 100%;
		text-align: center;
		top: -25px;
	}
}