#seasoning-login {
	width: 40%;
	padding-right: 10%;
	float: left;
	border-right: 1px solid #DDD;
	position: relative;
}

#seasoning-login form {
	margin-bottom: 0;
}

#seasoning-login input[type="text"], #seasoning-login input[type="password"] {
	width: 60%;
}

#social-login {
	width: 45%;
	float: right;
	text-align: center;
	margin-top: 25px;
}

#login-page-register {
	text-align: center;
	padding-top: 50px;
}

#login-page-register #register-button {
	margin-top: 10px;
	font-size: 20px;
}

@media only screen and (max-width: 767px) {
	
	#seasoning-login {
		margin: 20px auto;
		float: none;
		border: none;
		width: 90%;
		padding: 0;
		text-align: center;
	}
	
	#seasoning-login input[type="text"], 
	#seasoning-login input[type="password"] {
		width: 100%;
	}
	
	#social-login {
		width: 100%;
		float: none;
	}
}