#seasoning-register {
	border-right: 1px solid #DDD;
}

#seasoning-register #registration-form {
	padding: 30px 50px 30px 0;
}

#ui-datepicker-div {
	width: 300px
}

#social-register {
	margin-top: 20px;
}

#seasoning-register.social {
	border: none;
}

#seasoning-register.social #social-avatar {
	margin-bottom: 20px;
}

#register-mobile-separator {
	display: none;
	text-align: center;
	margin: 40px 10px 20px;
}

#register-mobile-separator hr {
	margin-bottom: 10px;
}

#password-reset-login-form {
	width: 100%;
	text-align: center;
	font-size: 16px;
}

#resend-activation-email-form {
	margin-top: 30px;
	max-width: 400px;
}

#resend-activation-email-form input[type=submit] {
	margin-right: -2px;
}

@media only screen and (max-width: 767px) {
	
	#register-mobile-separator {
		display: block;
	}
	
	#seasoning-register {
		border: none;
	}
	
	#seasoning-register #registration-form {
		padding: 30px 0;
	}
	
	.field-wrapper.captcha-wrapper #captcha-height-reserver {
		margin: auto;
		max-width: 95%;
		overflow: hidden;	
	}
}