
/**
 *   Green color palette
 */

$green-very-light: #F7FCF7;
$green-light: #ABD883;
$green-main: #629B31;
$green-dark: #fff;
$green-grey: #5B6553;

$dark-border-color: #444;
$light-border-color: #DDD;


$font-stack: Verdana,Geneva,sans-serif;

$static: /static;
$img: $static/img;
$dec: $img/decoration;
$icons: $img/icons;
$logos: $img/logos;
$static: $img/static;