
/**
 *   Green color palette
 */

$green-very-light: #F7FCF7;
$green-light: #ABD883;
$green-main: #629B31;
$green-main-rgba: rgba(98, 155, 49, .5);
$green-dark: #4F7C27;
$green-grey: #5B6553;

$dark-border-color: #444;
$light-border-color: #DDD;


$font-stack: webdings,Verdana,Geneva,sans-serif;
$title-font-stack: "Lobster Two", cursive;
$normal-font-stack: 'Pontano Sans',Verdana,Geneva,sans-serif;

$font-color: #333;

$static: /static;
$img: $static/img;
$dec: $img/decoration;
$icons: $img/icons;
$logos: $img/logos;
$static: $img/static;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-radius-topleft: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
-webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-radius-bottomleft: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
-webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}