#browse-ingredients-form {
	margin-bottom: 0;
}

#browse-ingredients-line {
	margin: 10px 0;
}

#ingredient-summaries-wrapper {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;
  text-align: center; }

@media only screen and (max-width: 963px) {

		
}