@import "variables";

.cd-container {
    margin: 0 auto;
    max-width: 768px;
    width: 90%;
}
.cd-container::after {
    clear: both;
    content: "";
    display: table;
}
.cd-main-content {
    height: 100%;
    position: relative;
    z-index: 1;
}
.cd-intro {
    bottom: auto;
    left: 50%;
    max-width: 1170px;
    position: absolute;
    right: auto;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    color: white;
}
.cd-intro h1 {
	margin-top: -65px;
}
.cd-intro p {
	font-size: 1.7em;
	padding: 10px 0;
}
.cd-fixed-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font: 10em $title-font-stack;
}
.cd-fixed-bg h2 {
    bottom: auto;
    left: 50%;
    max-width: 1170px;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}

 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("/static/img/decoration/landing1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("/static/img/decoration/landing2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("/static/img/decoration/landing3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("/static/img/decoration/landing1.jpg");
}
@media only screen and (min-width: 768px) {
.cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
}
}
@media only screen and (min-width: 1170px) {
.cd-fixed-bg {
    background-attachment: fixed;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 10em;
    font-weight: 300;
}
}
.cd-scrolling-bg {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    min-height: 100%;
    padding: 4em 0;
    position: relative;
    z-index: 2;
}
.cd-scrolling-bg.cd-color-1 {
    background-color: #3d3536;
    color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
    background-color: #b4d7a8;
    color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
    background-color: #99a478;
    color: #3d3536;
}
@media only screen and (min-width: 768px) {
.cd-scrolling-bg {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 2.5;
    padding: 8em 0;
}
}


#homepage-twitter-feed-wrapper {
	width: 225px;
	height: 700px;
	float: right;
	text-align: center;
	margin-bottom: 50px;
}

.recipe-of-the-week {
	float: left;
}

.recipe-of-the-week .veganism-icon {
	width: 50px;
	display: block;
	margin: 0 auto 10px;
}

#quicknav {
	min-height: 150px;
	margin: 30px 0 50px;
}

#quicknav p, #quicknav form {
	margin-left: 20px;
}

#quicknav input {
	display: inline-block;
	width: 400px;
	margin-left: 30px;
}

#quicknav #add-button-wrapper {
	margin-right: 270px;
	text-align: center;
}

#quicknav .add-button {
	display: inline-block;
	position: inherit;
}

#info-img-container-2, 
#info-img-container-3 {
	margin-top: 50px;
}

.info-img {
	width: 440px;
	margin: 0 40px;
}

#info-img-container-2 .info-img {
	padding-top: 50px;
}

#info-img-3 {
	float: left;
	margin: 40px 42px 40px -2px;
}

#homepage-bottom-p {
	width: 60%; 
	margin: 0 auto 20px;
}

@media only screen and (max-width: 767px) {

	#info-img-container-2, 
	#info-img-container-3 {
		margin-top: 0;
	}
	
	.info-img {
		width: 100%;
		margin: 0 0 20px 0;
	}

	#info-img-container-2 .info-img {
		padding-top: 10px;
	}
	
	#arrow-img-1 {
		height: 120px;
	}
	
	#info-img-container-3 .info-img {
		padding: 0;
	}
	
	#homepage-bottom-p {
		width: 100%;
	}
	
	#homepage-twitter-feed-wrapper {
		float: none;
		display: none;
	}
	
	#recipes-of-the-week {
		text-align: center;
	}
	
	#recipes-of-the-week .recipe-of-the-week {
		float: none;
		text-align: left;
		margin-bottom: 20px;
	}
	
	.recipe-of-the-week a {
		width: 216px;
		margin: auto;
		display: block;
	}
	
	.recipe-of-the-week .responsive-clear {
		clear: both;
	}
	
	#quicknav {
		text-align: center;
	}
	
	#quicknav form {
		margin: 0 0 50px;
	}
	
	#quicknav #quicknav-recipe-search {
		width: 80%;
	}
	
	#quicknav input {
		margin: 10px 0 0;
		width: 100%;
		box-sizing: border-box;
	}
	
	#quicknav #keywords-submit {
		top: 10px;
	}
	
	#quicknav #add-button-wrapper {
		margin: 0;
	}
}

@media only screen and (max-width: 969px) {
	
	#arrow2 {
		display: none;
	}
}